<!--link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet"-->
<link rel='import' href='../common/aq-html-display.html'>

<dom-module id="aq-announcement-card">
    <style>
        :host{
            display: inline-block;
        }
        .container{
            width: var(--aq-announcement-card-width , 100%);
            box-shadow: 0 3px 8px rgba(0,0,0,0.3);
            border-radius: 2px;
            background-color: #fff;
        }
        aq-html-display {
            --font-size: 14px;
            --line-height: 20px;
            --padding-left: 0px;
            --padding-right: 0px;
        }

        .header {
            padding: 20px;
            padding-bottom: 0px;
            font-size: 20px;
            color: teal;
            font-weight: bold;
        }
    </style>
    <template>
        <div class="container">
            <div class="header">Announcement</div>
            <aq-html-display
                html-content="[[announcement]]">
            </aq-html-display>
        </div>
    </template>
    
    <script>
        Polymer({
            is:"aq-announcement-card",
            properties:{
                header:{
                    type:String,
                    value:"This is the card header"
                },
                subHeader:{
                    type:String,
                    value:"This is the Sub Header"
                },
                announcement: String,
            }
        })
    </script>
</dom-module>