<!--link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet"-->
<dom-module id="aq-announcement-card">
    <style>
        :host{
            display: inline-block;
        }
        .container{
            width: var(--aq-announcement-card-width , 100%);
            --display: flex;
            --justify-content: flex-start;
            --padding: 10px 10px;
            box-shadow: 0 3px 8px rgba(0,0,0,0.3);
            border-radius: 2px;
            --flex-direction: column;
            background-color: #fff;
        }
        polymer-quill-html-render {
            --margin-top: 5px;
            --margin-bottom: 15px;
            min-height: 100px;
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            color: black;
            --padding-left: 10px;
            --padding-right: 10px;
            line-height: 20px;
        }

        .header {
            padding: 20px;
            padding-bottom: 0px;
            font-size: 20px;
            color: teal;
            font-weight: bold;
        }
    </style>
    <template>
        <div class="container">
            <div class="header">Announcement</div>
            <polymer-quill-html-render 
                content="[[announcement]]">
            </polymer-quill-html-render>
        </div>
    </template>
    
    <script>
        Polymer({
            is:"aq-announcement-card",
            properties:{
                header:{
                    type:String,
                    value:"This is the card header"
                },
                subHeader:{
                    type:String,
                    value:"This is the Sub Header"
                },
                announcement: String,
            }
        })
    </script>
</dom-module>