<link rel='import' href='../../../bower_components/iron-icon/iron-icon.html'>
<link rel='import' href='../../../bower_components/iron-icons/iron-icons.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/paper-menu/paper-menu.html'>
<link rel='import' href='../../../bower_components/paper-item/paper-item.html'>
<link rel='import' href='../../../bower_components/paper-menu-button/paper-menu-button.html'>
<link rel='import' href='../../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>


<dom-module id='aq-community-home-searchbar'>
	<style is="custom-style" include="iron-flex iron-positioning"></style>
  
	<style>

		#search {
		  height: 46px;
		  line-height: 48px;
		  width:70%;
		}
	
		#searchbox {
		  height: 46px;
		  -webkit-appearance: none;
		  line-height: 46px;
		  border: 0;
		  margin: 0;
		  padding-left: 10px;
		  border: 1px solid #e5e5e5;
		  @apply(--paper-font-body1);
		  font-size: 16px;
		  margin-left:-0px;
		  --border-left:none !important;
		  margin-top:1px;
		}

		#searchbox:focus{
		  outline:none;
		  background-color: white;
		}

		paper-button {
	      display: block;
	      margin:0px;
	      height:46px;
	      background: white;
	      border: 1px solid #e5e5e5;
	      border-radius: 0px;
	      width:150px;
	    }

	    paper-menu {
	    	cursor: pointer;
	     	width: 150px;
	    }

	    #button {
	    	height:0;
	    	margin:0;
	    	padding:0px;
	    }

	    paper-button #content{
	    	position:absolute;
	    	top:-2px;
	    }

	 	iron-icon {
	    	position:absolute;
	    	top: 10px;
	    	left:100%;
	    }
		
		#category {
			width: 50px
		}

		#category-dd {
			--button-width:170px;
			--dropdown-width:170px;
			--dropdown-border: 1px solid #e5e5e5;
			--dropdown-height:46px;
			--dropdown-font-size:16px;
			--dropdown-paper-menu-font-size:16px;
			--dropdown-background-color:#99ced4;
		}


	</style>
	
	<template>
      		<div id="search" class="flex layout horizontal">
	    		<aq-dropdown vertical-offset=56 class="self-center" id='category-dd' options="[[categories]]"></aq-dropdown>
    		

	  			<input id="searchbox" placeholder="Search posts " class="flex"
	         	value="{{searchValue::change}}" type="search">	
			</div>
	</template>
	<script >
		var categories = [{value:'Everywhere',index:0},{value:'Share your Idea',index:1},{value:'FAQ',index:2},{value:'Announcements',index:3}];
		
		Polymer({
			is: 'aq-community-home-searchbar',
			properties: {
				selectedCategory : {
						type: String,
						value: 'Everywhere',
				},
			},

			ready() {
				this.categories = categories;
			},

		});
		

	</script>
</dom-module>

