<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>
<link rel='import' href='../../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../../bower_components/app-route/app-location.html'>

<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="./aq-community-postdetail-header.html">

<link rel="import" href="./aq-community-postdetail-content.html">
<link rel="import" href="./aq-community-postdetail-reply.html">
<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id="aq-community-postdetail">

    <style  include="iron-flex iron-flex-alignment iron-positioning">
    </style>
   
   <style>
    #container {
      width:90%;
      margin: 0 auto;
      margin-top: 10px;
      color: #24293d;
      height:100%;
    }

    .goBackButton {
      margin-left: -7px;
      margin-bottom: 10px;
    }

    paper-icon-button {
      padding-left: 0px;
    }
    
  </style>

  <template>
      <aq-check-authentication id='authItem'></aq-check-authentication>
      
      <app-location route="{{route}}"></app-location>

      <app-route
          route="{{route}}"
          pattern="/dashboard/community/topics/:threadId"
          data="{{routeData}}"
          active="{{active}}">
      </app-route>

      <iron-ajax      
          url="[[computeGetThreadUrl(threadId)]]"
          method='GET'
          id='getThreadQuery'
          handle-as="json"
          on-response="onGetThreadDetailResponse"
          on-error="onGetThreadDetailError"
          headers='{{header}}'
          debounce-duration="300">
      </iron-ajax>

       <iron-ajax
          url="[[computePostViewUrl(threadId)]]"
          method="POST"
          id='views'
          handle-as="json"
          headers='{{header}}'
          debounce-duration="300">
      </iron-ajax>

      <template is="dom-if" if="{{active}}">
          <template is='dom-if' if='[[hasThreadDetail(threadDetails)]]'>
              <div id='container'>
                
                <div class="goBackButton layout horizontal">
                  <paper-icon-button noink class="self-center" title="Go Back" icon="aq-icons:arrow-back" on-click="goBack"></paper-icon-button>
                  <div class="flex"><p>Back to Community</p></div>
                </div>
                
                <aq-community-postdetail-header
                  post-header='{{threadDetails}}'>
                </aq-community-postdetail-header>
                
                <div id="replyContainer">
                    <template is="dom-repeat" 
                              items="{{threadDetails.replies}}"
                              initial-count=5>
                      <aq-community-postdetail-content post-content="{{item}}"></aq-community-postdetail-content>
                    </template>
                </div>
                
                <aq-community-postdetail-reply id="replyEditor" thread-id="[[threadDetails._id]]"></aq-community-postdetail-reply>

              </div>
          </template>
      </template>

  </template>

  <script>
    Polymer ({
      is: 'aq-community-postdetail',

      properties: {
        
        threadId:{
          type:String,
        },
        
        header: {
          type:Object,
        },

        user: {
          type: Object, 
        },

        threadDetails: {
          type: Object,
        },

        active:{
          type: Boolean,
          observer:'_activeChanged',
        },

        routeData:Object,

      },

      listeners :{
        'goBackClicked':'goBack',
        'reply-added':'addReply',
      },

      onGetThreadDetailResponse: function(data) {
          this.set('threadDetails', data.detail.response);
      },

      onGetThreadDetailError: function(data) {
      },

      attached: function() {  
          //this.$.views.generateRequest();
          //this.$.getThreadQuery.generateRequest();
      },

      computeGetThreadUrl: function(threadId){
        var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
        return APIEndPoint + '/thread/' + threadId;
      },

      computePostViewUrl: function(threadId){
        var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
        return APIEndPoint+'/thread/'+threadId+'/view';
      },

      goBack: function() {
          this.fire('rt-changed',{route:'/dashboard/community'});
      },

      addReply: function(e) {
        
        var reply = e.detail.reply;
        var replyElement = document.createElement('aq-community-postdetail-content');
        
        reply.user = {"firstName":this.user.firstName, "lastName":this.user.lastName};
        
        replyElement.postContent = reply;

        this.$$("#replyContainer").appendChild(replyElement);
        this.$$("#replyEditor").clearEditor();
      },

      hasThreadDetail: function(detail) {
          if (detail) {
            return Object.keys(detail).length > 0;
          }

          return false;
      },

      _activeChanged: function(nAct, oAct) {
          
         if(nAct){
            if(!this.$.authItem.checkHasToken()) {
                this.fire('rt-changed',{route:'/user/signin'});
                return;
            }
          }

          this.resetView();

          if(nAct) {
              this.threadId = this.routeData.threadId;
              if(this.$.authItem.checkHasToken()) {
                this.user = this.$.authItem.getUser();
                this.header = this.$.authItem.getHeader();
                this.$.views.generateRequest();
                this.$.getThreadQuery.generateRequest();  
              }
          }
      },

      resetView: function() {
          this.threadId = "";
          this.user = {};
          this.header = {};
          this.threadDetails = {};
      },


    });

  </script>

</dom-module>
