<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../aq-html-editor.html">
<link rel="import" href="./aq-community-postdetail-header.html">
<link rel="import" href="./aq-community-postdetail-content.html">

<dom-module id="aq-community-previewpost">

    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        #previewContainer {
            width: 95%;
            margin: 0 auto;
            --margin-top: 30px;
        }

        #postNbacktest {
            width: 100%;
            --height: 30px;
            margin-bottom: 10px;
        }

        paper-button {
            border: 1px solid teal;
            height: 30px;
            font-size: 13px;
            color: teal;
        }

        #buttons {
            margin-bottom: 30px;
            margin-top: 30px;
        }

        aq-community-postdetail-header {
            margin-top: 30px;
        }

    </style>

    <template>

        <div class="layout vertical flex" id="previewContainer">
            <!--template is="dom-if" if="[[!disableButtons]]">
                <div class="layout horizontal">
                    <div class="flex"></div>
                    <paper-button raised noink on-tap='onEdit'>Edit</paper-button>
                    <paper-button raised noink on-tap='onSubmit'>Submit</paper-button>
                </div>
            </template-->

            <template is='dom-if' if='[[reply]]'>
                <aq-community-postdetail-content post-content="[[threadData]]"></aq-community-postdetail-content>
            </template>

            <template is='dom-if' if='[[!reply]]'>
                <aq-community-postdetail-header preview=1 post-header="[[threadData]]"></aq-community-postdetail-header>
            </template>

            <template is="dom-if" if="[[!disableButtons]]">
                <div class="layout horizontal">
                    <div class="flex"></div>
                    <paper-button raised noink on-tap='onEdit'>Edit</paper-button>
                    <paper-button raised noink on-tap='onSubmit'>Submit</paper-button>
                </div>
            </template>
        </div>
    </template>

    <script>
        Polymer({
            is: 'aq-community-previewpost',

            properties: {

                threadData: Object,

                reply: {
                    type: Boolean,
                    value: false,
                },
                disableButtons: {
                    type: Boolean,
                    value: false
                }

            },
            onEdit: function () {
                this.fire('edit-clicked');
            },

            onSubmit: function () {
                this.fire('submit-clicked');
            },
            editClicked: function () {
                alert("Edit Clicked");
            }

        });
    </script>

</dom-module>  
