<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-icons/maps-icons.html">
<link rel='import' href='../profile-img.html'>
<link rel="import" href="../help/aq-help-marked-item.html">


<dom-module id="aq-community-home-post-item2">
  <style  include="iron-flex iron-flex-alignment iron-positioning">
  </style>

  <style>
    paper-card {
      margin-bottom: 13px;
      height:115px;
      min-width: 600px;
      --max-width:80%;
      width:80%;
      --border-top:2px solid teal !important;
      border:1px solid teal;

      --paper-card-header-text:{
        font-size:20px;
      }
      
    }

    #content {
      --height:77%;
      word-wrap: break-word;
      padding-bottom: 0px;
    }

    .container-int {
      min-height: 40px;
      --height:20%;
    }

    .header{
      --border-bottom: 1px solid teal;
      min-height: 40px;
    }


    #textContent {
      height:80%;
      display: none;
      overflow-y: scroll;
    }

    #action {
      height: 40px;
      background-color: #f2fbf7;
      border-top: 1px solid #c3403f;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      font-size: 20px;
      color: black;
      color:#c3403f;
    }

    a:hover {
      text-decoration:underline;
    }

    .metric {
      margin-right: 10px;
      margin-left:10px;
      margin-top: 5px;
      margin-bottom: 5px;
      --max-width:200px;
      font-size:12px;
      --min-width: 75px;
    }
 
    paper-card p{
      width:200px;
    }

    #content :hover{
      --color:teal;
      --z-index:20;
    }   

    .bold-span {
      font-weight: bold;
      font-size: 13px;
    }

    paper-icon-button {
      color:teal;
    }

    p strong {
      font-size:20px;
    }

    #lastReplyAt {
      width:280px !important;

    }

    #category{
      font-size: 13px;
      margin-bottom: 5px;
      --font-weight: bold;
      font-style: italic;
    }

    #category i{
      color: teal;
      font-weight: normal;
    }


  </style>

  <template>
    <paper-card class="self-center flex">
      
      <div id='content' class="card-content flex">
        
        <div  class="container-int header layout horizontal">
          <div class="layout vertical">
            <a on-tap='goToDetail'>[[topicHeading]]</a>
            <span id='category'><i>[[postCategory]]</i> by [[authorFirstname]] [[authorLastname]] on [[postDate]]</span>
          </div>
          <div class="flex"></div>
          <paper-icon-button icon="vaadin-icons:external-link" on-tap='goToDetail' title='View Post'></paper-icon-button>   
        </div>   
      
        <div id='textContent' class="flex"><aq-help-marked-item help-text="[[postContent]]"></aq-help-marked-item> 
        </div> 

        <!--div class="flex"></div-->  
      </div> 

      
      <div id='action' class="card-actions flex">     
        
        <div class="container-int layout horizontal">
          
          <!--div class="layout vertical metric flex"> 
            <span class="createdAt bold-span flex">[[postDate]]</span>
            <span>Created At</span>          
          </div>  

          <div class="layout vertical metric flex"> 
            <span class="createdAt bold-span"></span>
            <span>Last Reply At</span>   
          </div-->

          <div class="layout vertical metric flex"> 
            <span class="bold-span">[[totalViews]]</span>
            <span>Views</span>   
            
          </div>

          <div class="layout vertical metric flex"> 
            <span class="bold-span">[[totalReplies]]</span>
            <span>Replies</span>   
            
          </div>

          <div class="layout vertical metric flex"> 
            <span class="bold-span">[[totalFollowers]]</span>
            <span>Followers</span>             
          </div>

           <div id="lastReplyAt" class="layout vertical metric">  
            <span class="bold-span">[[getLastReplyDetails(lastreplyAuthor, lastreplyDate)]] </span>
            <span>Last Reply</span>   
          </div>


          <iron-icon icon="vaadin-icons:paper-clip"></iron-icon>
        </div>

      </div>

    </paper-card>
  </template>
  	

  <script>
    Polymer ({
      is: 'aq-community-home-post-item2',
      properties: {
        topicAddress: String,
        topicHeading: String,
        authorFirstname: String,
        authorLastname: String,
        authorAddress: String,
        postDate: String,
        lastreplyAuthor: String,
        lastreplyDate:String,
        totalReplies: Number,
        totalViews: Number,
        postCategory: String,
        postContent:String,
        totalFollowers:Number,
      },

      getInitials(firstName, lastName) {
        return firstName.charAt(0) + lastName.charAt(0);
      },

      goToDetail: function() {
        this.fire('detail-action',{link:this.topicAddress});
      },

      getLastReplyDetails: function(lastreplyAuthor, lastreplyDate) {
        if (lastreplyDate!='' && lastreplyAuthor!='') {
          return lastreplyAuthor + " on " + lastreplyDate;
        } else{
          return '-';
        }
      },

    

    });
  </script>

</dom-module>
