<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel='import' href='../../../bower_components/paper-card/paper-card.html'>
<link rel='import' href='../profile-img.html'>
<link rel="import" href="../help/aq-help-marked-item.html">
<link rel="import" href="../../icons/aq-iconset.html">


<dom-module id="aq-community-home-post-item2">
  <style  include="iron-flex iron-flex-alignment iron-positioning">
  </style>

  <style>
    paper-card {
      margin-bottom: 13px;
      height:115px;
      min-width: 600px;
      --max-width:80%;
      width:80%;
      --border-top:2px solid teal !important;
      border:1px solid #24293d;--teal;

      --paper-card-header-text:{
        font-size:20px;
      }
      
    }

    #content {
      --height:77%;
      word-wrap: break-word;
      padding-bottom: 0px;
    }

    .container-int {
      min-height: 40px;
      --height:20%;
    }

    .header{
      --border-bottom: 1px solid teal;
      min-height: 40px;
    }


    #textContent {
      height:80%;
      display: none;
      overflow-y: scroll;
    }

    #action {
      height: 40px;
      background-color: #f2fbf7;
      border-top: 1px solid #cc6666;
    }

    #topicHeading {
      cursor: pointer;
      text-decoration: none;
      font-size: 18px;
      color: black;
      color:#c3403f;
    }

    #topicHeading:hover {
      text-decoration:underline;
    }

    .metric {
      margin-right: 10px;
      margin-left:10px;
      margin-top: 5px;
      margin-bottom: 5px;
      --max-width:200px;
      font-size:12px;
      --min-width: 75px;
    }
 
    paper-card p{
      width:200px;
    }

    #content :hover{
      --color:teal;
      --z-index:20;
    }   

    .bold-span {
      font-weight: bold;
      font-size: 13px;
    }

    paper-icon-button {
      color:teal;
    }

    p strong {
      font-size:20px;
    }

    #lastReplyAt {
      width:320px !important;

    }

    #category{
      font-size: 13px;
      margin-bottom: 5px;
      --font-weight: bold;
      font-style: italic;
    }

    #category i{
      color: teal;
      font-weight: normal;
    }

    #img {
      margin-right: 10px;
    }

    iron-icon {
      
      margin-left: 20px;
      --opacity: 0.8;
      color:#cc6666;
      height: 25px;
      width: 25px;
      
    }

    #iconReply {
      color:#cc6666;
      height: 25px;
      width: 25px;
      padding: 0px;
      --outline: 1px solid #24293d;
      --margin-left:10px;
    }
                        
  </style>

  <template>
    <paper-card class="self-center flex">
      
      <div id='content' class="card-content flex">

        <div class="container-int header layout horizontal">       
          <profile-img id='img' class="self-start" letter="[[getInitials(thread.user.firstName, thread.user.lastName)]]"></profile-img>

          <div class="layout vertical">
            <div id='topicHeading' on-click='goToDetail'>[[thread.title]]</div>
            <span id='category'><i>[[thread.category]]</i> by [[getAuthorFullName(thread.user.firstName, thread.user.lastName)]] on [[format(thread.createdAt)]]</span>
          </div>

          <div class="flex"></div>

           <template is='dom-if' if='[[hasBacktest(thread)]]'>
              <iron-icon class="self-center" icon="vaadin-icons:line-bar-chart"></iron-icon>
          </template>

          <div class="flex"></div>

          <paper-icon-button icon="vaadin-icons:external-link" on-tap='goToDetail' title='View Post'></paper-icon-button>   
        </div>   
      
        <div id='textContent' class="flex"><aq-help-marked-item help-text="[[thread.markdownText]]"></aq-help-marked-item> 
        </div> 

        <!--div class="flex"></div-->  
      </div>      
      
      <div id='action' class="card-actions flex">     
        
        <div class="container-int layout horizontal">
          
          <div class="layout vertical metric flex"> 
            <span class="bold-span">[[thread.views]]</span>
            <span>Views</span>               
          </div>
                       
          <div class="layout vertical metric flex"> 
            <span class="bold-span">[[thread.replies.length]]</span>
            <span>Replies</span>   
            
          </div>

          <div class="layout vertical metric flex"> 
            <span class="bold-span">[[thread.followers.length]]</span>
            <span>Followers</span>             
          </div>

           <div id="lastReplyAt" class="layout horizontal"> 
            <div  class="layout vertical metric">    
                <span class="bold-span">[[getLastReplyDetails(thread)]] </span>  
               <span>Last Reply</span>
            </div> 

            <template is='dom-if' if="[[!hasReplies(thread)]]">
                <paper-icon-button class="self-start" id='iconReply' icon="aq-icons:reply" on-tap='goToDetail'></paper-icon-button>
            </template>  
          </div>

         
        </div>

      </div>

    </paper-card>

  </template>
  	

  <script>
    Polymer ({
      is: 'aq-community-home-post-item2',
      properties: {

        thread: {
          type: Object,
        },
      },

      getInitials: function(firstName, lastName) {
        return firstName.charAt(0) + lastName.charAt(0);
      },

      goToDetail: function() {
        this.fire('rt-changed',{route:'/dashboard/community/topics/' + this.thread._id});
      },

      getLastReplyDetails: function(thread) {
        
        var lastreplyAuthor = this.getReplyAuthor(thread);
        var lastreplyDate = this.getReplyDate(thread);

        if (lastreplyDate!='' && lastreplyAuthor!='') {
          return lastreplyAuthor + " on " + lastreplyDate;
        } else{
          return "No replies yet. Be the first one to reply!!";
        }
      },

      getAuthorFullName: function(authorFirstname, authorLastname){
        return authorFirstname+' '+ authorLastname;
      },

      getReplyDate: function(thread) {
        if (thread.replies.length > 0) {
          return this.format(thread.replies[thread.replies.length-1].createdAt);
        } else {
          return '';
        }
      },

      getReplyAuthor: function(thread) {
         if (thread.replies.length > 0) {
          var reply = thread.replies[thread.replies.length-1];
          return reply.user.firstName +" "+ reply.user.lastName;
        } else {
          return '';
        }
      },

      hasBacktest: function(thread) {
        if (thread.backtestId){
          return true;
        }

        for(i=0;i<thread.replies.length;i++){
          if(thread.replies[i].backtestId){
            return true;
          }
        }

        return false;
      },

      format: function(date) {
        return new Date(date).toLocaleTimeString("en-us", options);
      },

      hasReplies: function(thread) {
        return thread.replies && thread.replies.length > 0;
      },
    

    });
  </script>

</dom-module>

