<link rel='import' href='../../../bower_components/iron-icon/iron-icon.html'>
<link rel='import' href='../../../bower_components/iron-icons/iron-icons.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/paper-menu/paper-menu.html'>
<link rel='import' href='../../../bower_components/paper-item/paper-item.html'>
<link rel='import' href='../../../bower_components/paper-menu-button/paper-menu-button.html'>
<link rel='import' href='../../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>


<dom-module id='aq-community-home-searchbar'>
	<style is="custom-style" include="iron-flex iron-positioning"></style>
  
	<style>

		#search {
		  height: 46px;
		  line-height: 48px;
		}
	
		#searchbox {
		  height: 46px;
		  -webkit-appearance: none;
		  line-height: 46px;
		  border: 0;
		  margin: 0;
		  padding-left: 10px;
		  border: 1px solid #e5e5e5;
		  @apply(--paper-font-body1);
		  font-size: 16px;
		}

		#searchbox:focus{
		  outline:none;
		  background-color: white;
		}

		paper-button {
	      display: block;
	      margin:0px;
	      height:46px;
	      background: white;
	      border: 1px solid #e5e5e5;
	      border-radius: 0px;
	      width:150px;
	    }

	    paper-menu {
	    	cursor: pointer;
	     	width: 150px;
	    }

	    #button {
	    	height:0;
	    	margin:0;
	    	padding:0px;
	    }

	    paper-button #content{
	    	position:absolute;
	    	top:-2px;
	    }
	 	iron-icon {
	    	position:absolute;
	    	top: 10px;
	    	left:100%;
	    }
		
		#category {
			width: 50px
		}


	</style>
	
	<template>
      		<div id="search" class="layout horizontal">
	      		<paper-menu-button id="button" vertical-offset = 47>
	        		<paper-button noink class="dropdown-trigger">
	        			<div id='content'>
	        				<span id="category">{{selectedCategory}}</span>
	        				<iron-icon icon="icons:arrow-drop-down"></iron-icon>
	        			</div>  
	        		</paper-button>
	        		
	        		<paper-menu class="dropdown-content" attr-for-selected="value" selected="{{selectedCategory}}">
	        		 	<paper-item value="Everywhere">Everywhere</paper-item>
	        			<paper-item value="Category 1">Category 1</paper-item>
	        			<paper-item value="Category 2">Category 2</paper-item>
	        			<paper-item value="Category 3">Category 3</paper-item>
	        		</paper-menu>
	    		</paper-menu-button>
    		

	  			<input id="searchbox" placeholder="Search posts " class="flex"
	         	value="{{searchValue::change}}" type="search">	
			</div>
	</template>
	<script >
		Polymer({
			is: 'aq-community-home-searchbar',
			properties: {
				selectedCategory : {
						type: String,
						value: 'Everywhere',
				},
			},

		});
		

	</script>
</dom-module>

