<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel='import' href='../../icons/aq-iconset.html'>

<link rel="import" href="../aq-markdown-editor.html">
<link rel="import" href="./aq-community-previewpost.html">
<link rel="import" href="../../dialog/aq-community-attachbacktest-dialog.html">

<dom-module id="aq-community-postdetail-reply">

   <style  include="iron-flex iron-flex-alignment iron-positioning">
   </style>
   
  <style>

    #attachButton {    
        margin-bottom: -40px;
        margin-right: 5px;
        color:teal;
        border:none !important;
        z-index: 2;
    }

    paper-button {
        border: 1px solid #24293d;
        height:30px;
        font-size: 13px;
    }

    #buttons{
        margin-bottom: 10px;
        margin-top:10px;
    }

    #errorMessage {
      color:#cc6666;
    }

    #attachedMessageDiv {
        --display: none;
        color:#cc6666;
        font-size:14px;
        height:32px;
        margin-bottom: 10px;
    }

    #removeIcon {
        width:25px;
        height:25px;
        display: none;
        padding:5px;
    }


  </style>

  <template>

      <template is='dom-if' if="[[preview]]">
          <aq-community-previewpost reply=1 thread-data="[[threadData]]"></aq-community-previewpost>  
      </template>

      <template is='dom-if' if="[[!preview]]">           
        
        <div id="replybox" class="flex layout vertical">

          <div id="attachedMessageDiv" class="layout horizontal self-end">
              <i class="self-end">[[attachedMessage]]</i>
              <paper-icon-button id='removeIcon' class="self-end" title="Remove" on-tap='onRemoveAttached' icon="icons:remove-circle"></paper-icon-button>
          </div>

          <paper-button id='attachButton' class="self-end" raised noink on-tap='onAttach'>Attach<iron-icon icon="aq-icons:attach-file"></iron-icon></paper-button>
          
          <aq-markdown-editor id="editor" place-holder="Write a reply"></aq-markdown-editor>
          
          <div class="layout horizontal" id='buttons'>
              <div id='errorMessage'><i>[[error]]</i></div>
              <div class="flex"></div>
              <paper-button raised noink on-tap='onPreview'>Preview</paper-button>
              <paper-button raised noink on-tap="postThread">Reply</paper-button>
          </div>
        </div>
      </template>

      <aq-community-attachbacktest-dialog id='btDialog'>
        </aq-community-attachbacktest-dialog>  
             
      <iron-ajax 
          url="[[APIEndPoint]]/thread/{{threadId}}" 
          body="{{threadData}}" 
          method='POST' 
          id='postThreadQuery' 
          headers='{{header}}' 
          handle-as="json" 
          on-response="onPostReplyResponse"
          on-error="onPostReplyError" 
          debounce-duration="300">
      </iron-ajax>
  </template>

  <script>
    Polymer({
      is: 'aq-community-postdetail-reply',

      properties:{
        
        header:Object,
        
        error: String,
        
        threadId: String,
        
        threadData: Object,
        
        attachedMessage:String,
        
        attachedBacktestId:String,
        
        preview:{
          type:Boolean,
          value:false,
        },

        APIEndPoint:String,

      },

      listeners :{
        'backtest-attached':'onBacktestAttached',
        'edit-clicked':'onEdit',
        'submit-clicked':'postThread',
      },
      
      ready: function() {
          var x = localStorage.getItem('my-app-storage');
          var user = JSON.parse(x).user;
          if (user.token) {
            this.header = {
              "aimsquant-token": user.token,
              "Content-Type": "application/json"};  
          }   

          this.APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;     
      },

      postThread: function() {

          if (!this.header) {
            this.router.go('user/signin',{lastRequest:('/dashboard/community/topics/[[threadId]]')});
            return;
          }
          
          if(this.processInput()) {
            this.$.postThreadQuery.generateRequest();
            this.onRemoveAttached();
            this.preview = false;
          } else {
              this.error = "Cannot post an empty reply. Please create a valid reply.";
          }
          
      },

      onPostReplyResponse: function(e) {
        console.log(e.detail.response);
        var replies = e.detail.response.replies;
        if (replies.length > 0) {
          this.fire('reply-added',{reply:replies[replies.length - 1]});  
        }      
      },

      onPostReplyError: function(e) {
        console.log(e);
      },

      clearEditor: function() {
        this.$$('#editor').setContent("");
      },

      processInput: function() {
          const markdownText = this.$$('#editor').getContent();
          var x = localStorage.getItem('my-app-storage');
          var user = JSON.parse(x).user;

          this.threadData = {
              "markdownText": markdownText,
              "user":{"firstName":user.firstName,"lastName":user.lastName},
              "updatedAt": new Date(),
          };

          if(this.attachedBacktestId && this.attachedBacktestId!="") {
            this.threadData["backtestId"] = this.attachedBacktestId;
          }

          if(this.threadData["markdownText"]!="") {
              this.error = "";
              return true;
          } else {
            return false;
          }
      },

      onPreview: function() { 
          this.preview = this.processInput();
          if(!this.preview) {
              this.error = "No preview available for empty reply. Please create a valid reply.";
          }
      },

      onEdit: function() {
          this.preview = false;
      },

      onAttach: function() {
          this.$.btDialog.open();
      },

      onBacktestAttached: function(e) {
          this.attachedBacktestId = e.detail.id;
          this.attachedMessage = "Attached Backtest ID: "+this.attachedBacktestId;
          this.$$('#removeIcon').style.display = 'inline';
      },

      onRemoveAttached: function() {
          this.attachedBacktestId = "";
          this.attachedMessage = "";
          this.$$('#removeIcon').style.display = 'none';
      },


    });
  </script>
</dom-module>
