<link rel='import' href='../../../bower_components/paper-fab/paper-fab.html'>
<link rel="import" href="./aq-community-home-searchbar.html">
<link rel="import" href="./aq-community-home-post-item.html">

<style>

    .insidetoolbar {
        outline-color: blue;
        border: solid;
    }

    input {
        font: inherit;
        font-size: 16px;
        color: black;
    }

    #container {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }

    #fab {
        background: teal;
        --float: right;
        position: fixed;
        right: 25px;
        bottom: 30px;
    }

    paper-tabs {
        --paper-tabs-selection-bar-color: teal;
    }

    .community-tabs {
        max-width: 350px;
        font-size: 14px;
        margin-top: 20px;
        border-bottom: 1px solid #e5e5e5;
    }

    #allposts {
        margin-top: 50px;
    }

</style>

<dom-module id="aq-community-home">
    <template>
        <div id='container'>
            <aq-community-home-searchbar></aq-community-home-searchbar>
            <paper-tabs on-iron-select="onActivateTab" class="community-tabs" class="flex" selected="{{selected}}" noink>
                <paper-tab>All</paper-tab>
                <paper-tab>Popular</paper-tab>
                <paper-tab>Newest</paper-tab>
                <paper-tab>Following</paper-tab>
                <paper-tab>Personal</paper-tab>
            </paper-tabs>

            <div id='allposts'>
                <iron-pages selected="{{selected}}">
                    <div>
                      <template is="dom-repeat" items="{{items}}">
                          <aq-community-home-post-item
                            topic-address="#/dashboard/community/topics/{{item._id}}"
                            topic-heading="{{item.title}}"
                            author-name="{{item.user.firstName}}"
                            author-address="{{item.user.email}}"
                            post-date="{{item.createdAt}}"
                            total-replies={{item.replies.length}}
                            total-views="{{item.views}}"
                            post-category="{{item.category}}">
                          </aq-community-home-post-item>
                      </template>
                    </div>

                    <div>
                        <template is="dom-repeat" items="{{items}}">
                            <aq-community-home-post-item
                              topic-address="#/dashboard/community/topics/{{item._id}}"
                              topic-heading="{{item.title}}"
                              author-name="{{item.user.firstName}}"
                              author-address="{{item.user.email}}"
                              post-date="{{item.createdAt}}"
                              total-replies={{item.replies.length}}
                              total-views="{{item.views}}"
                              post-category="{{item.category}}">
                            </aq-community-home-post-item>
                        </template>
                    </div>

                    <div>
                      <template is="dom-repeat" items="{{items}}">
                          <aq-community-home-post-item
                            topic-address="#/dashboard/community/topics/{{item._id}}"
                            topic-heading="{{item.title}}"
                            author-name="{{item.user.firstName}}"
                            author-address="{{item.user.email}}"
                            post-date="{{item.createdAt}}"
                            total-replies={{item.replies.length}}
                            total-views="{{item.views}}"
                            post-category="{{item.category}}">
                          </aq-community-home-post-item>
                      </template>
                    </div>

                    <div>
                      <template is="dom-repeat" items="{{items}}">
                          <aq-community-home-post-item
                            topic-address="#/dashboard/community/topics/{{item._id}}"
                            topic-heading="{{item.title}}"
                            author-name="{{item.user.firstName}}"
                            author-address="{{item.user.email}}"
                            post-date="{{item.createdAt}}"
                            total-replies={{item.replies.length}}
                            total-views="{{item.views}}"
                            post-category="{{item.category}}">
                          </aq-community-home-post-item>
                      </template>
                    </div>

                    <div>
                        <template is="dom-repeat" items="{{items}}">
                            <aq-community-home-post-item
                              topic-address="#/dashboard/community/topics/{{item._id}}"
                              topic-heading="{{item.title}}"
                              author-name="{{item.user.firstName}}"
                              author-address="{{item.user.email}}"
                              post-date="{{item.createdAt}}"
                              total-replies={{item.replies.length}}
                              total-views="{{item.views}}"
                              post-category="{{item.category}}">
                            </aq-community-home-post-item>
                        </template>
                    </div>
                </iron-pages>
                <iron-ajax
                  url="http://localhost:3002/api/v2/thread"
                  method='GET'
                  id='threads'
                  handle-as="json"
                  on-response="onAllThreads"
                  headers='{{header}}'
                  debounce-duration="300">
                </iron-ajax>
            </div>
        </div>

        <paper-fab id='fab' noik icon="icons:add" title="New Post" on-tap='createPost'></paper-fab>
    </template>
    <script>
        Polymer({
            is: 'aq-community-home',

            properties: {
                selected: {
                    type: String,
                    value: 0
                },
                items: {
                    type: Object
                }
            },
            ready: function() {
                var x = localStorage.getItem('my-app-storage');
                var user = JSON.parse(x).user;
                this.firstName = user.firstName;
                this.lastName = user.lastName;
                this.email = user.email;
                this.letter = this.firstName[0];
                this.header = {
                    "aimsquant-token": user.token,
                    "Content-Type": "application/json"
                };
                debugger;
            },
            onActivateTab(event, object) {
                this.getAllPosts(this.selected);
            },
            getAllPosts(item) {
                this.$.threads.generateRequest();
            },
            onAllThreads(data) {
                this.items = data.detail.response;
            },
            createPost() {
                this.router.go('/dashboard/community/create');
            }
        });
    </script>
</dom-module>
