<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-icons/maps-icons.html">
<link rel='import' href='../profile-img.html'>

<dom-module id="aq-community-home-post-item">
  <style is="custom-style" include="iron-flex iron-positioning iron-flex-alignment"></style>

  <style>
    .post-container {
      max-width: 900px;
      border-bottom: 1px solid #e5e5e5;--#80CBC4;--#666;
      margin-top: 10px;
      --padding-top: 25px;
      padding-bottom: 5px;
      margin-bottom: 30px;
    }

    .post-container:hover {
      --background-color:#e5f1f5
    }

    #top-section {
      height:40px;
    }

    #bottom-section {
      --height:20px;
    }


    #author-name {
      --color: teal;
      font-size: 15px;
    }

    #left-section {
      --width: 100%;
    }

    #right-section {
      --min-width: 300px;
    }

    a {
      text-decoration: none; 
      color:#333a56;
      font-size:16px;
    }

    a:hover {
      text-decoration: underline;
    }

    span {
      font-size: 13px;
    }

    profile-img {
      margin:auto 0;
      margin-right: 10px;
      margin-bottom: 2px;
      --width:20px;
    }

    #total-replies {
      min-width: 70px;
      margin-right: 10px;
    }

    #total-views {
      min-width: 50px;
      margin-right: 10px;
    }

    #category {
      min-width: 250px;
    }

    .span2{
      font-size: 15px;
      font-weight: bold;
    }

    #date {
      --color:teal;
    }

  </style>
  <template>
  	<div class="post-container layout horizontal" id='post-container'>
      <profile-img letter="[[getInitials(authorFirstname, authorLastname)]]"></profile-img>
      <div>
	        <div id='postText' on-tap='onView'><a href$="[[topicAddress]]">[[topicHeading]]</a></div>
          <!--a href$="[[authoraddress]]"-->
            <span id="author-name">[[authorFirstname]] [[authorLastname]]</span>
          <!--/a-->
          <span id="date"><i>   on [[postDate]]</i></span>
      </div>

      <div class="flex"></div>
      <div style="width:25%" class="vertical">
      <div id='right-section' class="layout horizontal">
        <div id="total-replies"><span><i>Replies</i>:</span> <span class="span2">[[totalReplies]]</span></div>
        <div id="total-views"><span><i>Views</i>:</span> <span class="span2">[[totalViews]]</span></div></div>
        <div id='category'><span><i>Category:</i></span><span class="span2"> [[postCategory]]</span></div>
      </div>


    </div>

    <iron-ajax
      url="http://localhost:3002/api/v2/thread/[[itemId]]/view"
      method="POST"
      id='views'
      handle-as="json"
      headers='{{header}}'
      debounce-duration="300">
    </iron-ajax>

  </template>

  <script>
    Polymer ({
      is: 'aq-community-home-post-item',
      properties: {
        topicAddress: String,
        topicHeading: String,
        authorFirstname: String,
        authorLastname: String,
        authorAddress: String,
        postDate: String,
        totalReplies: String,
        totalViews: String,
        postCategory: String,
        itemId:String,
      },

      listeners:{
        'follow-action':'onFollow',
      },

      ready: function() {
          var x = localStorage.getItem('my-app-storage');
          var user = JSON.parse(x).user;
          if (user.token) {
            this.header = {
              "aimsquant-token": user.token,
              "Content-Type": "application/json"};  
          }
      },

      getInitials(firstName, lastName) {
        return firstName.charAt(0) + lastName.charAt(0);
      },

      onView() {
        this.$.views.generateRequest();
      },

    });
  </script>

</dom-module>
