
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../aq-markdown-editor.html">

<link rel="import" href="./aq-community-postdetail-header.html">

<dom-module id="aq-community-previewpost">
    
    <style  include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        #previewContainer {
            width:90%; 
            margin:0 auto;
            margin-top:30px; 
        }

        #postNbacktest {
            width:100%; 
            --height:30px; 
            margin-bottom:10px;
        }

        paper-button {
            border: 1px solid #24293d;
            height:30px;
            font-size: 13px;
        }

        #buttons{
            margin-bottom: 10px;
        }

    </style>

    <template>
  
        <div class="layout vertical flex" id="previewContainer">
            <div class="layout horizontal">
                <div class="flex"></div>
                <paper-button raised noink on-tap='onEdit'>Edit</paper-button>
                <paper-button raised noink on-tap='onSubmit'>Submit</paper-button>
            </div>
            
            <aq-community-postdetail-header post-header="[[threadData]]"></aq-community-postdetail-header>
            
            <div id='buttons' class="layout horizontal">
                <div class="flex"></div>
                <paper-button raised noink on-tap='onEdit'>Edit</paper-button>
                <paper-button raised noink on-tap='onSubmit'>Submit</paper-button>
            </div>   

        </div>        
    </template>

    <script>
      Polymer({
        is:'aq-community-previewpost',

        properties :{
          
          threadData:Object,

        },

        attached: function() {
            console.log(this.threadData);
        },
        
        onEdit: function() {
          this.fire('edit-clicked');
        },

        onSubmit: function() {
            this.fire('submit-clicked');
        },


      });
    </script>

</dom-module>  

    <!--```This is the best way to the express what you think in quantitative space and hence get reponse```>