
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/paper-radio-group/paper-radio-group.html'>
<link rel='import' href='../../../bower_components/paper-radio-button/paper-radio-button.html'>
<link rel='import' href='../../../bower_components/paper-tooltip/paper-tooltip.html'>

<dom-module id='aq-community-home-searchbar'>
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>
  
	<style>

		#searchbox {
		  height: 46px;
		  line-height: 46px;

		  border: 0;
		  margin: 0;
		  padding-left: 10px;
		  border: 1px solid #e5e5e5;
		  @apply(--paper-font-body1);
		  font-size:100%;
		  
		  width: 600px;
		  padding-right: 10px;
		}

		#searchbox:focus{
		  outline:none;
		  background-color: white;
		}

		paper-button {
	      display: block;
	      margin:0px;
	      height:46px;
	      background: white;
	      border: 1px solid #e5e5e5;
	      border-radius: 0px;
	      width:150px;
	    }

	    paper-menu {
	    	cursor: pointer;
	     	width: 150px;
	    }

	    #button {
	    	height:0;
	    	margin:0;
	    	padding:0px;
	    }

	    paper-button #content{
	    	position:absolute;
	    	top:-2px;
	    }

	 	iron-icon {
	    	position:absolute;
	    	top: 10px;
	    	left:100%;
	    }
		
		#category {
			width: 50px;
		}

		#category_dd {
			---button-width:170px;
			--dropdown-width:240px;
			--dropdown-border: 1px solid #e5e5e5;
			--dropdown-height:46px;
			--dropdown-font-size:15px;
			--dropdown-paper-menu-font-size:16px;
			--dropdown-background-color:#99ced4;
		}

		.iconButton {
			outline:1px solid teal;
			padding:5px;
			width:35px;
    		height:35px;
    		margin-right: 10px;
    		color: #cc6666;;
    		margin-bottom: 40px;
		}

		.iconButton:active {
			padding: 8px;
		}

		paper-radio-button {
			--paper-radio-button-size: 12px;
			font-size: 13px;
			--paper-radio-button-checked-color:teal;
		}

		#searchdiv {
			display: none;
		}

		paper-tooltip.iconTooltip {
        	--paper-tooltip: {
          		font-size: 13px;
          		min-width: 40px;
          		text-align: center;
        	}

        	--paper-tooltip-opacity: 1.0;
			--paper-tooltip-background: teal;
		}


	</style>
	
	<template>
      		<!--div id="search" class="layout vertical"-->
	    		<!--aq-dropdown vertical-offset=48 class="self-center" id='category_dd' options="[[categories]]"></aq-dropdown-->
    			
	  			<div id="search" class="layout horizontal">
	  				
  					<div id="searchdiv">
		  				<input id="searchbox" placeholder="Search posts" class="flex" value="{{searchValue::input}}" type="search" on-search="onSearch">

		  				<div>
		  				<paper-radio-group attr-for-selected="index" selected="{{selectedCategory}}">
				         	<template is='dom-repeat' items='{{categories}}'>
								<paper-radio-button noink index="{{item.index}}" name="{{item.value}}">{{item.value}}</paper-radio-button>
							</template>
						</paper-radio-group>
						</div>
					</div>


	         	 	<paper-icon-button id='searchIcon' noink class="iconButton" icon="aq-icons:search" on-tap="toggle" raised> 
                	</paper-icon-button>
            	</div>

            	<paper-tooltip for='searchIcon' offset="2" class=' self-center iconTooltip' position="bottom" animation-delay="0" fit-to-visible-bounds>Search</paper-tooltip>
       	         	

			<!--/div-->
	</template>
	<script >
				
		Polymer({
			is: 'aq-community-home-searchbar',

			properties: {
				selectedCategory : {
					type: Number,
					value: 0,
				},

				searchValue: {
					type: String,
					value:"",
				},

				active: Boolean,

				categories:{
					type:Array,
					value: [{value:"All", index:0},{value:"Share your Idea",index:1},{value:"Questions and Answers",index:2},{value:"News and Announcements",index:3}],

				},
			},

			attached : function() {
				if (this.active) {
				  	this.$.searchdiv.style.display = 'block';
                	this.$.searchIcon.style.display = 'none';
                	this.$.searchbox.focus();
                	this.$.searchbox.value = this.searchValue;
				}
			},

			onSearch: function(e) {
				
                this.fire('search-action', {text: this.searchValue, category: this.selectedCategory > 0 ? this.categories[this.selectedCategory].value : ""});

             	if(this.$.searchbox.value=="") {
                	this.toggle();
    			}
           
			},

			toggle: function() {
              var d = this.$.searchdiv.style.display;
              if (d == "block") {
                this.$.searchdiv.style.display = 'none';
                this.$.searchIcon.style.display = 'inline';
              } else {
                this.$.searchdiv.style.display = 'block';
                this.$.searchIcon.style.display = 'none';
                this.$.searchbox.focus();
                this.$.searchbox.value = "";
              }
            },

             blur: function() {
            	if(this.$$('#searchbox').value=="") {
            		this.$$('#searchdiv').style.display = 'none';
					this.$$('#searchIcon').style.display = 'inline';
				} 
            },

		});
		

	</script>
</dom-module>

