<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../../bower_components/marked-element/marked-element.html">

<link rel="import" href="../profile-img.html">

<dom-module id="aq-community-postdetail-content">
   <style>
    :host {
      display:block;
    }
    
    #author {
      --margin-top:40px;
      --margin-bottom: 15px;
      border-bottom: 1px solid;
    }

    #img {
      margin-right:10px;
      margin-bottom: 5px;
    }

    #author-desc {
      margin-bottom: 5px;
    }

    #post-content {
      margin-bottom:50px;
    }

  </style>
  <template>
    <div id='post-content'>
      <div id='author' class="layout horizontal">   
        <profile-img id='img' letter="SC" class="self-end"></profile-img>  
         <div id='author-desc' class="layout vertical self-end">   
            <a href$="[[authoraddress]]">
              <span id="author-name">[[author]]Shiv Chawla</span>
            </a>
            <span id="date">[[createdAt]]On Jan 1, 2014, 12:00AM</span>
          </div>
      </div>
           
      <marked-element>
        <div class="markdown-html"></div>
           <script type="text/markdown">[[portText]]
           ```ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum```
          </script>
      </marked-element>

    </div>
  </template>

  <script>
    Polymer ({
      is: 'aq-community-postdetail-content',
      
      properties :{
        author: String,
        createdAt: String,
        postText: String,

      },
      
    });

  </script>

</dom-module>

