<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="./aq-community-postdetail-header.html">

<link rel="import" href="./aq-community-postdetail-content.html">
<link rel="import" href="./aq-community-postdetail-reply.html">
<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id="aq-community-postdetail">

    <style  include="iron-flex iron-flex-alignment iron-positioning">
    </style>
   
   <style>
    #container {
      width:90%;
      margin: 0 auto;
      margin-top: 10px;
      color: #24293d;
    }

    .goBackButton {
      margin-left: -7px;
      margin-bottom: 10px;
    }

    paper-icon-button {
      padding-left: 0px;
    }
    
  </style>

  <template>
    
      <iron-ajax
          auto
          url="[[computeGetThreadUrl(threadId)]]"
          method='GET'
          id='getThreadQuery'
          handle-as="json"
          on-response="onGetThreadDetailResponse"
          on-error="onGetThreadDetailError"
          headers='{{header}}'
          debounce-duration="300">
      </iron-ajax>

       <iron-ajax
          auto
          url="[[computePostViewUrl(threadId)]]"
          method="POST"
          id='views'
          handle-as="json"
          headers='{{header}}'
          debounce-duration="300">
      </iron-ajax>


      <template is="dom-if" if="{{threadDetails}}">
        <div id='container'>
          
          <div class="goBackButton layout horizontal">
            <paper-icon-button noink class="self-center" title="Go Back" icon="aq-icons:arrow-back" on-tap="goBack"></paper-icon-button>
            <div class="flex"><p>Back to Community</p></div>
          </div>
          
          <aq-community-postdetail-header
            post-header='{{threadDetails}}'>
          </aq-community-postdetail-header>
          
          <div id="replyContainer">
            <template is="dom-repeat" 
                      items="{{threadDetails.replies}}"
                      initial-count=5>
              <aq-community-postdetail-content post-content="{{item}}"></aq-community-postdetail-content>
            </template>
          </div>
          
          <aq-community-postdetail-reply id="replyEditor" thread-id="[[threadDetails._id]]"></aq-community-postdetail-reply>

        </div>
      </template>

  </template>

  <script>
    Polymer ({
      is: 'aq-community-postdetail',
      properties: {
        
        threadId: String,
        
        header: Object,

        user:Object,

        threadDetails:Object,

        APIEndPoint: String,

      },

      listeners :{
        'goBackClicked':'goBack',
        'reply-added':'addReply',
      },

      onGetThreadDetailResponse: function(data) {
          console.log(data.detail.response);
          this.threadDetails = data.detail.response;
      },

      onGetThreadDetailError: function(data) {
          console.log(data);
      },

      ready: function() {
          var x = localStorage.getItem('my-app-storage');
          var user = JSON.parse(x).user;
          if (user.token) {
            this.header = {
              "aimsquant-token": user.token,
              "Content-Type": "application/json"};  
          }

          this.user = user;

          this.APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
      },

      attached: function() {
        //this.async(this.$.views.generateRequest(), 200);
      },

      computeGetThreadUrl: function(threadId){
        return this.APIEndPoint + '/thread/' + threadId;
      },

      computePostViewUrl: function(threadId){
        return this.APIEndPoint+'/thread/'+threadId+'/view';
      },

      goBack: function() {
          this.router.go('/dashboard/community');
      },

      addReply: function(e) {
        
        var reply = e.detail.reply;
        var replyElement = document.createElement('aq-community-postdetail-content');
        
        //var x = localStorage.getItem('my-app-storage');
        //var user = JSON.parse(x).user;

        reply.user = {"firstName":this.user.firstName, "lastName":this.user.lastName};
        
        replyElement.postContent = reply;

        this.$$("#replyContainer").appendChild(replyElement);
        this.$$("#replyEditor").clearEditor();
      }

    });

  </script>

</dom-module>
