<link rel="import" href="../../../bower_components/iron-selector/iron-selector.html">

<link rel="import" href="../../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../aq-markdown-editor.html">

<style is="custom-style" include="iron-flex iron-positioning"></style>

<dom-module id="aq-community-createpost">
    <template>
        <!--div class="scroll-content"-->

        <!-- TODO: don't pass all messages, users, labels into mail-thread -->
        <!-- activate-event="" ensures entire thread isn't selectable. -->
        <!--iron-selector id="threadlist" multi activate-event=""
                     selected-attribute="selected"
                     selected-items="{{selectedThreads}}"
                     on-iron-select="_onThreadSelectChange"
                     on-iron-deselect="_onThreadSelectChange">
        <!--template is="dom-repeat" items="[[threads]]"-->

        <div class="layout vertical flex" style="width:90%; margin-top:30px; margin:0 auto;">
            <div class="flex layout horizontal">
                <h1 style="height:25px; background-color:white">
                    Create a Post
                </h1>
            </div>

            <paper-input label="Topic" style="width:100%; height:30px; margin-bottom:10px"></paper-input>

            <aq-markdown-editor placeholder="Describe in detail"></aq-markdown-editor>

            <div class="layout horizontal">
                <div class="flex"></div>
                <paper-button raised style="max-width:5%" noink on-tap="Preview">Preview</paper-button>
                <paper-button raised style="max-width:5%" noink on-tap="postThread">Submit</paper-button>
            </div>

        </div>
        <iron-ajax url="http://localhost:3002/api/v2/thread" body="{{threadData}}" method='POST' id='thread' headers='{{header}}' handle-as="json" on-response="handlePostThread" last-response="{{ajaxResponse}}" debounce-duration="300"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'aq-community-createpost',
            properties: {
                threadData: {
                    type: Object
                }
            },
            ready: function() {
                var x = localStorage.getItem('my-app-storage');
                var user = JSON.parse(x).user;
                this.header = {
                    "aimsquant-token": user.token,
                    "Content-Type": "application/json"
                }
            },
            postThread: function() {
                const scope = document.getElementById('mirror');
                const input = document.getElementById('input');
                const thread = scope.innerHTML;
                const topic = input.value;
                this.threadData = {
                    "category": 'Share your idea',
                    "title": topic,
                    "markdownText": thread
                };
                debugger;
                this.$.thread.generateRequest();
            },
            handlePostThread: function() {
                debugger;
            }
        });
    </script>
</dom-module>
