<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/polymer-quill/polymer-quill-html-render.html'>

<link rel="import" href="../common/backtest/aq-backtest-detail-item.html">

<link rel="import" href="../aq-profile-img.html">
<link rel="import" href="../common/aq-profile-pic-element.html">
<link rel="import" href="../common/aq-label-content-item.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<dom-module id="aq-community-postdetail-content">

    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        :host {
            display: block;
            color: #24293d;
        }

        #post-content {
            --margin-bottom: 50px;
            --box-shadow: var(--aq-community-postdetail-content-box-shadow, 0 0px 0px rgba(0, 0, 0, 0.2));
            border-radius: 4px;
            background-color: white;
            --margin-bottom:10px;
            padding: var(--post-content-padding, 10px);
        }

        i {
            font-size: 12px;
        }

        aq-backtest-detail-item {
            --aq-backtest-detail-item-width: 100%;
        }

        aq-tag-element {
            margin-bottom: 10px;
        }

        aq-backtest-detail-item {
            --aq-backtest-detail-item-background-color: #fafafb;
        }

        polymer-quill-html-render {
            --margin-top: 5px;
            --margin-bottom: 15px;
            min-height: 100px;
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            color: #3c3c3c;
            padding-left: 30px
            padding-right: 30px;
        }
        
        .bar {
            border-bottom: 1px solid #e1e1e1;
            margin-bottom: 5px
        }

        #bt-container {
            border-top: 1px solid #e1e1e1;
        }

        #quill {
        }

    </style>

    <template>
        <div id='post-content'>      
            <polymer-quill-html-render 
                content="[[postContent.markdownText]]">
            </polymer-quill-html-render>
            
            <template is='dom-if' if="[[isValidBacktestId(postContent)]]">
                <div id='bt-container'>
                    <aq-backtest-detail-item 
                        heading="Attached Backtest Details"     
                        backtest-id="[[getBacktestId(postContent)]]"
                        can-clone=[[!preview]]
                        community>
                    </aq-backtest-detail-item>
                </div>
            </template>

        </div>

    </template>

    <script>

        Polymer({
            is: 'aq-community-postdetail-content',
            properties: {
                postContent: Object,
                preview: {
                    type: Boolean,
                    value: false,
                },
            },

            hasContent: function (item) {
                if (item) {
                    return Object.keys(item).length > 0;
                }

                return false;
            },

            isValidBacktestId: function (postContent) {
                return this.getBacktestId(postContent) ? true : false;
            },

            getBacktestId: function (postContent) {
                if (postContent["backtest"]) {
                    return postContent["backtest"];
                } else {
                    return postContent.backtestId;
                }
            },


        });

    </script>

</dom-module>
