
<link rel='import' href='../../../bower_components/paper-checkbox/paper-checkbox.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-collapse/iron-collapse.html'>

<link rel='import' href='../../../bower_components/iron-media-query/iron-media-query.html'>
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>
<link rel='import' href='./aq-editor-home-elementmenu.html'>
<link rel='import' href='./aq-editor-home-menu.html'>
<link rel='import' href='./aq-editor-home-strategy-item.html'>


<link rel='import' href='../../dialog/aq-delete-dialog.html'>
<link rel='import' href='../../dialog/aq-editor-strategy-input-dialog.html'>
<link rel='import' href='../../dialog/aq-editor-strategy-compare-dialog.html'>


<dom-module id="aq-editor-home">
 	<style is="custom-style" include="iron-flex iron-positioning"></style>
  
    <style>
      
      :host(.hidden) {
        transition: none;
        opacity: 0;

      }

      .header {
      	border: 1px solid #d0d0d0;
        padding: 0 55px;
        line-height: 56px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid #e5e5e5;
        background-color:#99ced4;
        min-width:640px;

      }

      :host([narrow-viewport]) .header .description {
        display: none;
      }

      :host(:not([narrow-viewport])) .header{
        @apply(--layout-horizontal);
      }

      :host([narrow-viewport]) .header{
        @apply(--layout-horizontal);
      }

      :host([narrow-viewport]) .hea {
        @apply(--layout-vertical);
      }


      :host([narrow-viewport]) .a,
      :host([narrow-viewport]) .backtest {
        @apply(--layout-horizontal);
      }

      .name {
        --min-width:220px;
        width:36%;
        font-weight: bold;
        margin-right: 30px;
      }

      .description {
      	width:36%;
      	--min-width: 250px;
      	margin-right: 30px;
      	padding-left: 0px;
      }

      .backtest {
      	--width: 250px;
      	--min-width: 350px;
      }

      .name .narrow {
        display: none;
      }

      :host([narrow-viewport])  .name .narrow {
        display: inline;
      }

      .toolbar {
      	height:60px;
      }

      #container {
      	margin:0 auto;
      	margin-top: 40px;
      	color: #333a56;
      	width: 95%;

      }

      #actions aq-editor-home-elementmenu {
        right: 5%;
      }

      #ifsearch {
      	display: none;
      }

    </style>

	<template>
		<!--iron-media-query query="(max-width: 640px)" query-matches="{{narrowViewport}}"></iron-media-query-->

		<iron-ajax
	    	  auto	
              url="http://localhost:3002/api/v2/strategy"
              method='GET'
              params="[[searchParam]]"
              id='getStrategiesQuery'
              handle-as="json"
              on-response="onGetStrategiesResponse"
              on-error="onGetStrategiesError"
              headers='{{header}}'
              debounce-duration="300">
        </iron-ajax>

        <iron-ajax	
              url="http://localhost:3002/api/v2/strategy/[[deleteId]]"
              method='DELETE'
              id='deleteStrategyQuery'
              handle-as="json"
              on-response="onDeleteStrategyResponse"
              on-error="onDeleteStrategyError"
              headers='{{header}}'
              debounce-duration="300">
        </iron-ajax>

        	
        <div id='container'>
	  		
	  		<aq-editor-home-menu active-delete="[[hasCheckedStrategies(checkedCount)]]"></aq-editor-home-menu>

	  		<div id="ifsearch">
	  			<p>Strategy results for: 
	  				<i>"[[searchParam.search]]"</i>
  				</p>
	  		</div>

		    <div class="header" on-mouseover='_mouseOver' on-mouseout='_mouseLeave'>
		      <div class="name">Name<span class="narrow">/Description</span></div>
		      <div class="description">Description</div>
		      <div class="backtest">#Backtests</div>
		    </div>
            
            <!--template is="dom-if" if="[[strategies]]"-->
	  	 
	    	<template is="dom-repeat" items="{{strategies}}" id='strategyList'>
	    		<aq-editor-home-strategy-item strategy-name = "[[item.name]]"
	    									num-backtest = "5[[item.backtests.length]]"
	    									strategy-desc = "[[item.description]]"
											strategy-id = "[[item._id]]"
	    									>
				</aq-editor-home-strategy-item>	
	    	</template>
	

		    <aq-delete-dialog id ="dialog" heading="Delete Strategies"
		    						 message="Are you sure to delete {{checkedCount}} strategies?"	
		    						 cancel="Cancel"
		    						 accept="OK">
	    	</aq-delete-dialog>

	    	
	    	<aq-editor-strategy-compare-dialog id="strategyCompareDialog"></aq-editor-strategy-compare-dialog>

	    	<aq-editor-strategy-preview-dialog id="strategyPreviewDialog"></aq-editor-strategy-preview-dialog>
		    
		    <div id="actions"></div>
		</div> 
		<!--/template-->
		
  </template>

  <script>
  	Polymer({
		
		is: 'aq-editor-home',
		
		properties: {
			strategies: {
				type: Object,
			},
			
			color: { type: String },

			checkedCount: {
				type: Number,
				value:0,
			},

			checkedItems: {
				type:Object,
				value:{},
			},
			
			narrowViewport: {
				type: Boolean,
				reflectToAttribute: true
			},

			create: {
				type:Number,
				vaue:0,
			},

			deleteId: String,

			searchParam:Object,

		},

		attached() {
			if (this.create == 1){
				this.fire('newClicked');
			}
		},

		ready: function() {
            var x = localStorage.getItem('my-app-storage');
	        var user = JSON.parse(x).user;
	        if (user.token) {	
	          this.header = {
	            "aimsquant-token": user.token,
	            "Content-Type": "application/json"};  
	        } 

	        //this.$$('#ifsearch').style.display = 'none';
        },

        onGetStrategiesResponse(data) {
        	//check for error
        	this.strategies = data.detail.response;	
        },

		onGetStrategiesError(data) {
        	//this.router.go('/user/signin');
        },        

		listeners: {
			'mouseover': '_mouseOver',
			'mouseleave': '_mouseLeave',
			'deleteClicked':'openDeletionDialog',
			'compareClicked':'openCompareDialog',
			'previewClicked':'openPreview',
			'analyzeClicked':'goToAnalyze',
			'shareClicked':'goToShare',
			'cloneClicked':'goToClone',
			'editorClicked':'goToEditor',
			//'create-action':'createStrategy',
			'check-action':'checkStrategy',
			'delete-action':'onDeletion',
			'search-action':'onSearch',
		},

		_currentRowIndex: -1,
		
		_sharedActionMenu: null,
		
		_findAncestor: function (node, fn) {
			while (node && fn.call(this, node)) {
				node = node.parentNode;
			}
			return node;
		},

		_mouseOver: function (e) {
			var row = this._findAncestor(e.target, function (node) {
				return node != this && !node.classList.contains('row') && node.id !== 'actions';
			});

			if (row && row.classList.contains('row')) {
					this._hideActions();
					this._showActions(row);
				
			} else if (row.id !== 'actions') {
					this._hideActions();
			}
		},
		
		_mouseLeave: function () {
			this._hideActions();
		},
		
		_showActions: function (row) {
			var sharedActionMenu = this._sharedActionMenu;
			var rowOffsetTop = row.offsetTop;
			if (!sharedActionMenu) {
				this._sharedActionMenu = document.createElement('aq-editor-home-elementmenu');
				this._sharedActionMenu.classList.add('hidden');
				Polymer.dom(this.$$('#actions')).appendChild(this._sharedActionMenu);
				sharedActionMenu = this._sharedActionMenu;
			}
			sharedActionMenu.iconsOnly = true;
			//sharedActionMenu.strategyId = this.
			sharedActionMenu.element = "aa";//this.elements[index].name;
			sharedActionMenu.style.top = rowOffsetTop + 'px';
			this._layoutIfNeeded(sharedActionMenu);
			sharedActionMenu.classList.remove('hidden');
			row.classList.add('hover');
			//this._currentRowIndex = index;
			this._currentRow = row;
		},
		
		_hideActions: function () {
			var row = this._currentRow;
			var sharedActionMenu = this._sharedActionMenu;
			if (row) {
				if (sharedActionMenu) {
					sharedActionMenu.classList.add('hidden');
				}
				row.classList.remove('hover');
				this._currentRowIndex = -1;
				this._currentRow = null;
			}
		},

		_elementLink: function (name) {
			return '/elements/' + name;
		},

		_getHeaderStyle: function (color) {
		return 'background-color: ' + color + ';';
		},

		_elementsChanged: function () {
			this.classList.add('hidden');
			this.async(function () {
				this.classList.remove('hidden');
			}, 1);
		},
		
		_layoutIfNeeded: function (el) {
			return el.offsetTop;
		},

		openDeletionDialog() {
			this.$$('#dialog').open();
		},

		openCompareDialog() {
			this.$$('#strategyCompareDialog').open();
		},

		openPreview() {
  			this.$$('#strategyPreviewDialog').open();
		},

		click() {
			this.router.go('/dashboard')
		},

	 	goToAnalyze() {
        	strategyId = this._currentRow.id;
        	strategyName="";
        	for (i in this.strategies) {
        		if(strategyId == this.strategies[i]._id) {
        			strategyName = this.strategies[i].name;
        			break;
        		}
        	}

        	this.router.go('/dashboard/analyze/' + strategyId);
        },

        goToClone(e) {
        	strategyId = this._currentRow.id;

        	for (i in this.strategies) {
        		if(strategyId == this.strategies[i]._id) {
        			e.detail["strategy"] = this.strategies[i]
        			break;
        		}
        	}
        	//Let the event propagate. It's handled in editor-main.   	
        },

        goToShare() {
        	strategyId = this._currentRow.id;
        	this.router.go('/dashboard/community/create/'+strategyId+"?share=strategy");
        },

        goToEditor(e) {
        	this.router.go('/dashboard/editor/' + e.detail.id);
        },

        checkStrategy(e) {
        	var checked = e.detail.checked;

        	this.checkedItems[e.detail.id] = e.detail.checked;

        	if (checked == true) {
        		this.checkedCount += 1;
        	} else {
        		this.checkedCount -= 1;
        	}
        },

        hasCheckedStrategies(checkedCount) {
        	return checkedCount > 0;
        },

        onSearch(e) {
        	searchtext = e.detail.searchtext;
        	
        	if(searchtext!="") {
        		this.$$('#ifsearch').style.display = 'block';
        	} else {
        		this.$$('#ifsearch').style.display = 'none';
        	}

        	this.searchParam = {"search":searchtext};
        },

        onDeletion() {
        	//Send DELETE request to backend
        	for (key in this.checkedItems) {
        		for (i in this.strategies) {		
        			if (key == this.strategies[i]._id && this.checkedItems[key]==true) {
        				this.deleteId = this.strategies[i]._id;
        				this.$.deleteStrategyQuery.generateRequest();
        				//this.splice('strategies', i, 1);
        				//this.checkedCount -= 1;
        			}
        		}
    		}

    		this.deleteId = "";	        	
        },

        onDeleteStrategyError() {

        },

        onDeleteStrategyResponse(data) {
        	//console.log(data);
    	},

        	/*for (key in this.checkedItems) {
        		for (i in this.strategies) {		
        			if (key == this.strategies[i]._id && this.checkedItems[key]==true) {
        				this.splice('strategies', i, 1);
        				this.checkedCount -= 1;
        			}
        		}
    		}

    		this.checkedItems = {};
        },*/

	});
  </script>
</dom-module>

 
