<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<dom-module id='aq-editor-sidebar-run'>
	<style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning"></style>

	<style>
		
		.inputbox {
		  height: 10%;
		  line-height: 48px;
		  --margin-bottom: 12px;
		  position: relative;
		  z-index:2;
		  margin-top: 5px;
		  margin-left:4px;
		  width:200px;
		  @apply(--layout-vertical);
		}
	
		.inputbox iron-icon {
		  margin-left: 75px;
		  --margin-right: 8px;
		  position: absolute;
		  top: 14px;
		  --left: 0px;
		  height:18px;
		  width:18px;
		}

		.inputbox span {
			font-size: 14px;
			--font-weight: bold;
		 	margin-bottom: 0px;
		}

		input {
		  line-height: 46px;
		  border: 0;
		  margin: 0;
		  padding-left: 4px;
		  border: 2px solid #e5e5e5;
		  @apply(--paper-font-body1);
		  font-size: 14px;
		  z-index: 2;
		  --background-color: black;
		  --color: white;
		  border-radius: 2px;

		}

		#box {
		  width:80%;	 
		}
	
		input :focus {
		  outline: 0;
		  background-color: #eceff1;
		  border-color: #cfd8dc;
		}

		
		#basic-settings {
			--height:140px;
			margin-top:5px;
			--margin-left:5px;
			padding-bottom:10px;
			--border: 1px solid #e5e5e5;
			border-bottom: 1px solid #333a56;

		}

		#advancedSettings {
			--height:35px;
			margin-top:5px;
			--margin-left:5px;
			--border: 1px solid #e5e5e5;
			padding-bottom:10px;
		}

		#universeSettings {
			border-bottom: 1px solid #333a56;
			padding-bottom:10px;
		}

		#extra-settings {
			--height:80px;
			margin-top:8px;
			margin-left:14px;
			--border: 1px solid #e5e5e5;	
			--width:90%;

			
		}

		#date-settings {
			--height:80px;
			margin-top:8px;
			margin-left:14px;
			--border: 1px solid #e5e5e5;	
			--width:90%;
		}

		#heading {
			margin-top: 10px;
			margin-left: 14px;
		}

		#heading span{
			font-weight: bold;
			--color: green;
		}

		paper-button {
			top:0;
			--margin-top: 10px;
		}

		paper-button :active{
			background-color: blue;
		}

		.input-span {
			height:40px;

		}

		.input-span span { 
			--margin:0 auto;
			--height:24px;
			font-size: 12px;
		}

		textarea {
			font-size: 14px;
		}

	</style>

	<template>
		
		<div id = 'run' class="layout vertical">
			<div id = 'basic-settings' class="layout vertical">
				<div id='heading'><span>Basic Settings</span></div>
				<div id='date-settings' class="layout horizontal">
			
					<div class="inputbox">	
						
						<span class="input-span">Start Date</span>
						
			    		<input id="box" placeholder="Start Date"
		             	value="{{startDate::change}}" type="date"
		             	on-keydown="checkForKeys" on-blur='close'>
		        	</div>

		        	<div class="inputbox">	
						<span class="input-span">End Date</span> 	
			    		<input id="box" placeholder="Start Date"
		             	value="{{endDate::change}}" type="date"
		             	on-keydown="checkForKeys" on-blur='close'>
		        	</div>
		    		<div class="inputbox">	
						<span class="input-span">Initial Capital</span> 	
			    		<input id="box" placeholder="Seed Capital"
			         	value="{{initialCash::change}}" type="number"
			         	on-keydown="checkForKeys" on-blur='close'>
			    	</div>
		    	</div>

			</div>

			<div id = 'universeSettings' class="layout vertical">		
				<div id='heading'><span>Universe Settings</span></div>
						
				<div id='extra-settings' class="layout horizontal" >
					
					<textarea rows="8" cols="71"></textarea>
        		</div>
    		</div>

	
			<div id = 'advancedSettings' class="layout vertical">		
				<div id='heading'><span>Advanced Settings</span></div>
						
				<div id='extra-settings' class="layout horizontal" >
					
						<div class="inputbox">	
							<span class="input-span">Rebalance</span> 	
				    		<input id="box" placeholder="Rebalance Frequency"
			             	value="{{rebalance::change}}" type="text"
			             	on-keydown="checkForKeys" on-blur='close'>
		        		</div>

		        		<div class="inputbox">	
							<span class="input-span">Cancel Policy</span> 	
				    		<input id="box" placeholder="Cancel Policy"
			             	value="{{cancelPolicy::change}}" type="text"
			             	on-keydown="checkForKeys" on-blur='close'>
		        		</div>

		        		<div class="inputbox">	
							<span class="input-span">Resolution</span> 	
				    		<input id="box" placeholder="Resolution"
			             	value="{{resolution::change}}" type="text"
			             	on-keydown="checkForKeys" on-blur='close'>
		        		</div>
	        		</div>

	        		<div id='extra-settings' class="layout horizontal" >
				
			    		<div class="inputbox">	
							<span class="input-span">Commission</span> 	
				    		<input id="box" placeholder="Commission"
			             	value="{{commission::change}}" type="text"
			             	on-keydown="checkForKeys" on-blur='close'>

		        		</div>

			        	<div class="inputbox">	
							<span class="input-span">Slippage</span> 	
				    		<input id="box" placeholder="Slippage"
			             	value="{{slippage::change}}" type="number"
			             	on-keydown="checkForKeys" on-blur='close'>

			        	</div>
			    	</div>
		    	</div>

			</div>

			
	</template>

	<script>
		Polymer({
			is:'aq-editor-sidebar-run',

			properties:{
				startDate:Date,

				endDate:Date,

				initialCash:Number,

				rebalance:String,

				cancelPolicy: String,

				slippage: Number,

				commission: String,

				resolution: String,

			},

			toggle: function() {
				if (this.$.adcollapse.opened) {
					this.$.advancedSettings.style.height='35px';
					
				} else {
					this.$.advancedSettings.style.height='310px';
				}
					
				this.$.adcollapse.toggle();
			},

		});
	</script>

</dom-module>