
<link rel="import" href="../../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="../../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../../bower_components/juicy-ace-editor/juicy-ace-editor.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/editor-icons.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href ="./aq-editor-toolbar.html">
<link rel='import' href ="./aq-editor-console-window.html">
<link rel='import' href ="./aq-editor-sidebar-run.html">
<link rel='import' href ='./aq-editor-edit-nonprogrammer.html'>
<link rel='import' href ='./aq-editor-edit-programmer.html'>

<dom-module id="aq-editor-edit">

<style>

  :host {
      display: block;
      background-color: #E5E5E5;
      -ms-user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
    }


  paper-icon-button {
    width:35px;
    height:35px;
  }

  #consoleWindow {
    position: absolute;
    bottom:1%;
    height:89%;
    width:97%; 
    left:0px;
    --border:1px solid;
    left:2%;
    --min-width: 5%;
    background-color: white;
  }

  paper-toolbar {
      --paper-toolbar-height:40px;
    }

</style>

<style is="custom-style" include="iron-flex iron-positioning"></style>

<template>         
  <paper-header-panel class="fit" mode="seamed"> 
    <aq-editor-toolbar is-programmer={{isProgrammer}} class="paper-header"></aq-editor-toolbar>
    
    <template is='dom-if' if='{{isProgrammer}}'>
      <aq-editor-edit-programmer  id='editorPanel'></aq-editor-edit-programmer> 
    </template>
     
    <template is='dom-if' if='{{!isProgrammer}}'>
      <aq-editor-edit-nonprogrammer id='editorPanel'></aq-editor-edit-nonprogrammer> 
    </template>
         
    <iron-collapse id='collapse'>
      <aq-editor-console-window id="consoleWindow" class="collapse-content"></aq-editor-console-window>
    </iron-collapse>
  </paper-header-panel>
             
  </template>

  <script>
    Polymer({
      is:'aq-editor-edit',

      properties :{
        isProgrammer:{
          type:Boolean,
          value:false,
        },
      },

      listeners: {
        'close-all':'closeAll',
        'toggle-drawer':'toggleDrawer',
        'toggle-console':'toggleConsole',
        'close-console':'closeConsole',
        'selected-items-changed':'rowSelected',
        'toggle-design':'designChanged',
        'back-clicked':'goToHome',
        'analyze-clicked':'goToAnalyze',
        'open-drawer':'openDrawer',
        'close-drawer':'closeDrawer',

      },

      toggleConsole() {
        this.$.collapse.toggle();
      },

      openConsole() {
        if (this.$.collapse.opened == false) {
          this.$.collapse.toggle();
        }
      },

      closeConsole() {
       if (this.$.collapse.opened == true) {
          this.$.collapse.toggle();
        }
      },

      closeAll() {
        this.$$('#editorPanel').closeDrawer();
        this.closeConsole();
      },

      toggleDrawer() {
        this.$$('#editorPanel').toggleDrawer();
      },

      openDrawer() {
        this.$$('#editorPanel').openDrawer();
      },

      closeDrawer() {
        this.$$('#editorPanel').closeDrawer();
      },

      designChanged() {
        this.isProgrammer = !this.isProgrammer;
      },

      goToHome() {
        this.router.go('/dashboard/editor');
      },

      goToAnalyze() {
        this.router.go('/dashboard/analyze?strategyName=Sample Strategy');
      },

    });
  </script>

</dom-module>  
