

<link rel='import' href='../../../bower_components/paper-checkbox/paper-checkbox.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-collapse/iron-collapse.html'>
<link rel='import' href='../../../bower_components/marked-element/marked-element.html'>


<link rel='import' href='./aq-editor-home-backtest-table.html'>


<dom-module id = 'aq-editor-home-strategy-item'>

	<style is="custom-style" include="iron-flex iron-positioning"></style>
  
	<style>

		:host([narrow-viewport]) .strategy-name ,
      	:host([narrow-viewport]) .strategy-desc {
        	@apply(--layout-vertical);
      	}

		:host([narrow-viewport]) .strategy-name ,
      	:host([narrow-viewport]) .strategy-desc {
        	@apply(--layout-horizontal);
      	}

		.header {
	      	border: 1px solid #d0d0d0;
	        padding: 0 55px;
	        line-height: 56px;
	        font-size: 15px;
	        font-weight: bold;
	        border-bottom: 1px solid #e5e5e5;
	        background-color: white;
	    }

	    .row {
	        border-bottom: 1px solid #e5e5e5;
	        border: 1px solid #d0d0d0;
	        background-color: #e5f1f5;
	        color:#02558b;--#cf6766;
	      }

        .row {
	        box-sizing: border-box;
	        overflow: hidden;
	        width: 100%;
	        font-weight: 400;
	        font-size: 13px;

	    }

     	.row paper-checkbox {
	        box-sizing: border-box;
	        cursor: pointer;
	        margin:15px;
	    }

        .row.hover {
	        background:#e5f1f5; ---#e7e8ee; --#b2b6c5; --#afb4c9; --#828bab;--#616b91; --#E0F2F1;
	    }
   
        .strategy-name {
	        min-width:250px;
	        --font-weight: bold;
	    }

	    .strategy-name span:hover{
	    	text-decoration: underline;
	    	cursor: pointer;
	    }

        .strategy-desc {
	      	min-width: 350px;
	    }

        .strategy-bt:hover {
	      	cursor: pointer;
	    	text-decoration: underline;
        }

        .strategy-name .narrow {
	        display: none;
        }

        .row .strategy-desc{
	        --color: #757575;
	    }
 
	</style>

	<template>
    		<div class="row flex layout horizontal">
		      	<paper-checkbox noink></paper-checkbox>
		          <div class="strategy-name self-center"><span on-click = 'goToEditor'>[[strategyName]]</span></div>  
		          <div class="strategy-desc self-center">[[strategyDesc]]</div>
		          <div on-click='goToAnalyze' class="strategy-bt self-center">[[numBacktest]]</div>   
	        </div>
	</template>

	<script>
		Polymer({
			is:'aq-editor-home-strategy-item',
			properties: {
				strategyName: {
					type:String,
					value:'Sample Strategy',
				},

				strategyDesc: {
					type:String,
					value: 'Sample strategy description to test the UI',
				},

				numBacktest: {
					type:Number,
					value: 5,
				},

				strategyId :String,
			},

			goToEditor() {
				this.fire('editorClicked', {id:this.strategyId});
			},

			goToAnalyze(e) {
				this.fire('analyzeClicked');
				e.stopPropagation();
			},

		});
	</script>

</dom-module>