<link rel="import" href="../../../bower_components/paper-datatable/paper-datatable.html">

<link rel="import" href="../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">



<dom-module id='aq-editor-edit-sidebar-universe'>
	<style>
			
		#mainmenu {
			width: 50%;	
			--height:100%;
			--paper-menu-item-selected :{
				
			};


		}

		#submenu {
			--border-top: 1px solid blue;
			--border-right: 1px solid blue;
			--border-bottom: 1px solid blue;
		}

		

		paper-item {
			font-size:15px;
			--paper-item-min-height: 25px;
			--border-right:1px solid;
		}

		paper-item {
			--paper-item-selected: { 
				--border-right:none !important
			};
		}

		iron-pages {
			width: 50%
			
		}

		a:link {
    		text-decoration: none;
    		
		}

		a :visited {
    		text-decoration: blink;
		}

		a :hover {
    		text-decoration: underline;
		}
	</style>
	<style is="custom-style" include="iron-flex iron-positioning"></style>	
	<template>

	<div style="height:530px">
		<div style="border:1px solid; height:65%" class="layout horizontal">
			<paper-menu selected="{{selected}}" id='mainmenu'>
				<a href="javascript:void(0)"> <paper-item>Item 1</paper-item></a>
				<a href="javascript:void(0)"> <paper-item>Item 2</paper-item></a>
				<a href="javascript:void(0)"> <paper-item>Item 3</paper-item></a>
				<a href="javascript:void(0)"> <paper-item>Item 4</paper-item></a>
				<a href="javascript:void(0)"> <paper-item>Item 5</paper-item></a>
				<a href="javascript:void(0)"> <paper-item>Item 1</paper-item></a>
				<a href="javascript:void(0)"> <paper-item>Item 2</paper-item></a>
				<a href="javascript:void(0)"> <paper-item>Item 3</paper-item></a>
				<a href="javascript:void(0)"> <paper-item>Item 4</paper-item></a>
				<a href="javascript:void(0)"> <paper-item>Item 5</paper-item></a>
			</paper-menu>

			<iron-pages id='pages'  selected="{{selected}}">
					<paper-menu id='submenu'>
						<a href="javascript:void(0)"><paper-item>Sub-Item 11</paper-item></a>
						<a href="javascript:void(0)"><paper-item>Sub-Item 21</paper-item></a>
						<a href="javascript:void(0)"><paper-item>Sub-Item 31</paper-item></a>
						<a href="javascript:void(0)"><paper-item>Sub-Item 41</paper-item></a>
						<a href="javascript:void(0)"><paper-item>Sub-Item 51</paper-item></a>
						<a href="javascript:void(0)"><paper-item>Sub-Item 41</paper-item></a>
						<a href="javascript:void(0)"><paper-item>Sub-Item 51</paper-item></a>
						<a href="javascript:void(0)"><paper-item>Sub-Item 41</paper-item></a>
						<a href="javascript:void(0)"><paper-item>Sub-Item 51</paper-item></a>
					</paper-menu>
					
					<paper-menu id='submenu'>
						<paper-item>Sub-Item 12</paper-item>
						<paper-item>Sub-Item 22</paper-item>
						<paper-item>Sub-Item 32</paper-item>
						<paper-item>Sub-Item 42</paper-item>
						<paper-item>Sub-Item 52</paper-item>
						<paper-item>Sub-Item 41</paper-item>
						<paper-item>Sub-Item 51</paper-item>
						<paper-item>Sub-Item 41</paper-item>
						<paper-item>Sub-Item 51</paper-item>
						<paper-item>Sub-Item 41</paper-item>
						<paper-item>Sub-Item 51</paper-item>
						<paper-item>Sub-Item 41</paper-item>
						<paper-item>Sub-Item 51</paper-item>
					</paper-menu>
					
					<paper-menu id='submenu'>
						<paper-item>Sub-Item 13</paper-item>
						<paper-item>Sub-Item 23</paper-item>
						<paper-item>Sub-Item 33</paper-item>				
					</paper-menu>
					
					<paper-menu id='submenu'>
						<paper-item>Sub-Item 14</paper-item>
						<paper-item>Sub-Item 24</paper-item>
						<paper-item>Sub-Item 34</paper-item>
						<paper-item>Sub-Item 44</paper-item>
						<paper-item>Sub-Item 54</paper-item>
						<paper-item>Sub-Item 41</paper-item>
						<paper-item>Sub-Item 51</paper-item>
					</paper-menu>
					
					<paper-menu id='submenu'>
						<paper-item>Sub-Item 1</paper-item>	
					</paper-menu>
			
			</iron-pages>
		</div>			
		<div style="height:20%">
			<p>Here comes the description of the element.
			It can be short or long and depends upton the size</p> 
			<paper-button>Add Screener</paper-button>
		</div>	
	 </div>
	</template>

	<script>
		Polymer({
			is: 'aq-editor-edit-sidebar-universe',
			
			properties: {
				selected :{
					type:Number,
					value:0,
				},

			},

		});
	</script>

</dom-module>
