<link rel='import' href='../../../bower_components/paper-checkbox/paper-checkbox.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../../../bower_components/iron-signals/iron-signals.html">

<link rel="import" href="../common/aq-portwidth-detector.html">

<script src="../../../resources/scripts/DateTime.js"></script>

<!--link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet"-->
<dom-module id='aq-editor-home-strategy-item'>

    <style include="iron-flex iron-flex-alignment iron-positioning"></style>

    <style>
        :host {
            display: inline-block;
            width: 100%;
            font-size: 16px;
            --border-radius:2px;
            margin-bottom: 0px;
        }

        .row {
            --border: 1px solid #e1e1e1;
            border-bottom: none;
            background-color: white;
            color: #494949;
            box-sizing: border-box;
            overflow: hidden;
            font-weight: 400;
        }

        .row paper-checkbox {
            box-sizing: border-box;
            cursor: pointer;
            margin: 15px;
        }

        paper-checkbox {
            --paper-checkbox-checked-color: #cc6666;
            --paper-checkbox-unchecked-color: #959595;
        }

        .strategy-name {
            font-weight: 700;
            font-size: 16px;
        }

        .strategy-bt {
    	 	width: 100px !important;
            color: #cc6666;
            border: 1px solid #cc6666;
            padding: 5px;
            padding-left: 15px;
            padding-right: 15px;
            margin-right: 20px;
            font-size: 14px;
            --border-radius: 4px;
        }

        .strategy-bt(:not([narrow-viewport])) {
         	text-align: center;
        }

        .strategy-bt[narrow-viewport] {
        	text-align: left;
        	min-width: 200px;
        }

        .strategy-bt:hover {
        	cursor: pointer;
        	--text-decoration: underline;
        }

        .strategy-desc {
            width: 100%;
            position: relative;
            margin-bottom: 15px;
            margin-left: 55px;
            font-size: 14px;
            margin-top: 10px;
        }

        .strategy-created-date {
            width: 100%;
            text-align: left;
            pointer-events: none;
            font-size: 12px;
            margin-top: 3px;
        }

        .strategy-name:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        iron-icon {
            position: absolute;
            right: 15px;
            width: 22px;
            height: 22px;
            cursor: pointer;
        }

        .right-container {
            margin-right: 15px;
        }

        .right-container[narrow-viewport] {
        	@apply(--layout-vertical);
        }

        .right-container(:not[narrow-viewport]) {
        	@apply(--layout-horizontal);
        	@apply(--layout-flex);
        }

        #strategy-content-container {
            margin-top: 15px;
        }

        #strategy-content-container.flat {
            @apply(--layout-horizontal);
            @apply(--layout-flex);
        }

        #gap.flat {
            @apply(--layout-flex);
        }

        paper-button {
            width:140px;
            height:25px;
            text-transform: none;
            --paper-button:{
                color: teal;
                font-size: 14px;
                border: 1px solid teal;
            };
        }

        paper-button[disabled] {
            border: 1px solid #c0c0c0;
            color: #c0c0c0;
            background-color: white;
        }

        paper-button:hover {
            --background-color: teal;
            --color: white;
        }

        #backtests {
            text-decoration: underline;
            --font-weight: 700;
        }

        #backtests:hover {
            cursor: pointer;
            --font-size: 17px;
            color: #3399ff;
            
        }

    </style>

    <template>
	 	<iron-media-query query="(max-width: 850px)" 
 						query-matches="{{narrowViewport}}">
		</iron-media-query>
       
    	<iron-signals on-iron-signal-select-strategy='onSelectStrategy'></iron-signals>

        <aq-portwidth-detector width="{{width}}"></aq-portwidth-detector>

        <div id$="[[strategyId]]" class="row" on-mouseover='onMouseOver' on-mouseout='onMouseOut'>

            <div class="layout horizontal center">
                <paper-checkbox id='checkbox' noink on-change='onCheck'></paper-checkbox>
                
                <div id="strategy-content-container">
                    <div on-tap='goToEditor' class="strategy-name"><span>[[strategyName]]</span></div>

                    <div class="strategy-created-date">
                        Created At:&nbsp;[[createdAt]]
                    </div>
                </div>
                
                <div class='right-container layout horizontal flex'> 
                    <div class="flex"></div>    
	                <!--div id="backtests" on-tap='goToAnalyze' disabled="[[isShowBacktestsDisabled(numBacktest)]]">
                        Backtests ([[numBacktest]]) 
	                </div-->

                    <paper-button on-tap='goToAnalyze' disabled="[[isShowBacktestsDisabled(numBacktest)]]">
                        Backtests ([[numBacktest]]) 
                    </paper-button>
                </div>
            </div>
            
            <div class="strategy-desc">[[strategyDesc]]</div>
        </div>

    </template>
    <script>
        Polymer({
            is: 'aq-editor-home-strategy-item',

            properties: {
                strategyName: {
                    type: String,
                },

                strategyDesc: {
                    type: String,
                },

                numBacktest: {
                    type: Number,
                },

                activeForwardtest: {
                    type: Boolean,
                    value: false,
                },

                forwardtestId: {
                    type: String,
                    value: "",
                },

                strategyId: String,

                createdAt: String,

                width:{
                    type: Object,
                    observer:'_widthChanged',
                },

                active: {
                    type: Boolean,
                    value: false,
                },
                
            },

            _widthChanged: function() {
                
            },

            onMouseOver: function() {
                this.active = true;
            },

            onMouseOut: function() {
                this.active = false;
            },

            goToEditor: function () {
                this.fire('editor-clicked', {id: this.strategyId});
            },

            goToAnalyze: function () {
                if (this.numBacktest > 0) {
                    this.fire('analyze-clicked', {id: this.strategyId});
                }
            },

            onCheck: function () {
                this.fire('check-action-test', {id: this.strategyId, checked: this.$.checkbox.checked});
            },

            onSelectStrategy: function(e) {
                if(!e.detail.live) {
                    this.$.checkbox.checked = e.detail.checked;
                	this.onCheck(); 
                }
            },
           
            isForwardTestingAvailable: function(numBacktest, forwardtestId){
                
            },

            isShowBacktestsDisabled: function(numBacktest) {
                return numBacktest == 0;
            },

            runForwardTest: function(e) {
                this.fire('run-forwardtest-action', {strategyId: this.strategyId});
            }

        });
    </script>

</dom-module>