
<link rel="import" href="../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tab.html">

<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">


<dom-module id='aq-editor-edit-sidebar-universe'>
	<style>
		
		paper-item {
			font-size:15px;
			--paper-item-min-height: 25px;
			--border-right:1px solid;
		}

		paper-item {
			cursor: pointer;
			text-decoration: none;
			outline:none;
		}

		iron-pages {
			--margin-left: 10px;
			margin-top:20px;
			--height:50%;
		}

		a :hover {
    		text-decoration: underline;
    		font-weight: bold;
		}
		
		span {
			font-size: 18px;
			font-weight: bold;
			padding-top: 500px;
		}


		paper-tabs {
			height:25px;
			 --paper-tabs-selection-bar-color:#009688;
			 width:100%;
		}

		paper-tabs :hover {
			font-weight:bolder;
		}


		iron-pages {
			height:70%;
		}
    };
    

	</style>
	<style is="custom-style" include="iron-flex iron-positioning"></style>	
	<template>
		
	<div class="flex" id='container'>
		<div>
			<h3>Select Criteria</h3>
			<paper-tabs class="flex" noink no-slide on-tap='onTapSection1' selected="{{selected1}}">
				<paper-tab>Item1
				</paper-tab>
				<paper-tab>Item2
				</paper-tab>
				<paper-tab>Item3
				</paper-tab>
				<paper-tab>Item4
				</paper-tab>
			</paper-tabs>
			
			<paper-tabs class="flex" noink no-slide on-tap='onTapSection2' selected="{{selected2}}">
				<paper-tab>Item5
				</paper-tab>
				<paper-tab>Item6
				</paper-tab>
				<paper-tab>Item7
				</paper-tab>
				<paper-tab>Item8
				</paper-tab>
			</paper-tabs>

			<iron-pages id='pages' selected="{{getselection(selected1, selected2)}}">
					
				<paper-listbox id='submenu'>
					<a href$=""><paper-item>Sub-Item 11</paper-item></a>
					<a href$=""><paper-item>Sub-Item 12</paper-item></a>
					<a href$=""><paper-item>Sub-Item 13</paper-item></a>
					<a href$=""><paper-item>Sub-Item 14</paper-item></a>
					<a href$=""><paper-item>Sub-Item 15</paper-item></a>
					<a href$=""><paper-item>Sub-Item 16</paper-item></a>
					<a href$=""><paper-item>Sub-Item 17</paper-item></a>
					<a href$=""><paper-item>Sub-Item 18</paper-item></a>
					<a href$=""><paper-item>Sub-Item 19</paper-item></a>
				</paper-listbox>

				<paper-listbox id='submenu'>
					<a href$=""><paper-item>Sub-Item 11</paper-item></a>
					<a href$=""><paper-item>Sub-Item 12</paper-item></a>
					<a href$=""><paper-item>Sub-Item 13</paper-item></a>
					<a href$=""><paper-item>Sub-Item 14</paper-item></a>
					
				</paper-listbox>

				<paper-listbox id='submenu'>
					<a href$=""><paper-item>Sub-Item 11</paper-item></a>
					<a href$=""><paper-item>Sub-Item 12</paper-item></a>
					<a href$=""><paper-item>Sub-Item 13</paper-item></a>
					
				</paper-listbox>

				<paper-listbox id='submenu'>
					<a href$=""><paper-item>Sub-Item 11</paper-item></a>
					<a href$=""><paper-item>Sub-Item 12</paper-item></a>
					
				</paper-listbox>

				<paper-listbox id='submenu'>
					<a href$=""><paper-item>Sub-Item 11</paper-item></a>
					<a href$=""><paper-item>Sub-Item 12</paper-item></a>
					<a href$=""><paper-item>Sub-Item 13</paper-item></a>
					<a href$=""><paper-item>Sub-Item 14</paper-item></a>
					<a href$=""><paper-item>Sub-Item 15</paper-item></a>
					<a href$=""><paper-item>Sub-Item 16</paper-item></a>
					
				</paper-listbox>

				<paper-listbox id='submenu'>
					<a href$=""><paper-item>Sub-Item 11</paper-item></a>
				</paper-listbox>
			</iron-pages>

		</div>	

		<div id='bottom-panel' style="position:fixed;bottom:50px;">
			<p>Here comes the description of the element.
			It can be short or long and depends upton the size</p> 
			<paper-button noink raised on-tap='addScreener'>Add Screener
				<iron-icon icon="icons:add"></iron-icon>
			</paper-button>
		</div>	

		</div>
	</template>

	<script>
		Polymer({
			is: 'aq-editor-edit-sidebar-universe',
			
			properties: {
				selected1 :{
					type:Number,
					value:0,
				},
				selected2 :{
					type:Number,
					value:-1,
				},
			},

			getselection(selected1, selected2) {
				if (selected2!=-1) {
					selected1=-1;
					return selected2 + 3;
				} else {
					selected2=-1;
					return selected1;
				}
			},	

			onTapSection1() {
				this.selected2=-1;
			},

			onTapSection2() {
				this.selected1=-1;
			},

			addScreener() {
				this.fire('screener-pressed');
			},





		});
	</script>

</dom-module>
