<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../../bower_components/iron-signals/iron-signals.html'>

<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

<dom-module id='aq-editor-sidebar-log'>
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>

		:host {
			display: block;
			height: 100%;
			
			background-color: black; 
		};
		
		#logcontainer {
			background-color: #323232;
			color: white;
			overflow-y: scroll;
			--margin: auto 0;
			padding: 5px;
		}

		paper-card { 
			--paper-card: {
				height: 97.5%;
			}

		}

		.padding {
			height: 5px;	
		}	

	</style>

	<template>
		
		<paper-card id='logcontainer' class="layout vertical self-center">
			<!--div class="card-content"-->
				<template is='dom-repeat' items="{{logs}}">
					<aq-log-item-new 
							actual-datetime="[[item.dt]]"
							datetime="[[item.datetime]]"
							message="[[item.message]]"
							message-type="[[item.messagetype]]">
					</aq-log-item-new>
				</template>
			<!--/div-->
		</paper-card>

		<iron-signals on-iron-signal-bulk-data='onMessage' on-iron-signal-point-data='onMessage'></iron-signals>
			
	</template>

	<script>
	
		Polymer({
			is:'aq-editor-sidebar-log',

			properties:{
				logs:{
					type:Array,
					value:[],
				},

				backtestId: String,
			},

			getTodayDate: function(offset){
				var today = new Date();
				today.setDate(today.getDate() - offset);
				var dd = today.getDate();
				var mm = today.getMonth()+1; //January is 0!
				var yyyy = today.getFullYear();

				if(dd<10) {
				    dd='0'+dd
				} 

				if(mm<10) {
				    mm='0'+mm
				} 

				today = yyyy + '-' + mm + '-' + dd;
				return today;
			},

			onMessage: function(e) {
				var data = e.detail;
				if (Array.isArray(data)) {
					var array = [];
					for (i in data) {
						if (data[i].outputtype == "log" && data[i].backtestId == this.backtestId) {
							
							if(!data[i].message.match("No document")) {
								array.push(data[i]);
							}

						}
					}

					this.logs = array;
				} else if(data.outputtype == "log" && data.backtestId == this.backtestId) {

					if(!data.message.match("No document")) {
						this.push('logs',data);
					}
					
				}

				//this.$$('#logcontainer').scroller.scrollTop += this.$$('#logcontainer').scroller.scrollHeight;
				
				//this.fire('scroll-log');
				
			},

			resetLogs: function() {
				this.set('logs',[]);
			},

		});
	</script>
</dom-module>