<link rel='import' href='../../../bower_components/paper-checkbox/paper-checkbox.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../../../bower_components/iron-signals/iron-signals.html">

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<dom-module id='aq-editor-home-strategy-item'>

    <style include="iron-flex iron-flex-alignment iron-positioning"></style>

    <style>
        :host {
            display: inline-block;
            width: 100%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transition: all 0.2s ease-in-out;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            border-radius:2px;
            margin-bottom: 20px;
        }

        :host:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        }

        .row {
            display: flex;
            flex-direction: column;
            --border-bottom: 1px solid #e5e5e5;
            background-color: white;
            color: #24293d;
            box-sizing: border-box;
            overflow: hidden;
            font-weight: 400;
            --min-width: 590px;
            border-radius: 2px;
            justify-content: flex-start;
            position: relative;
        }

        .row paper-checkbox {
            box-sizing: border-box;
            cursor: pointer;
            margin: 15px;
        }

        paper-checkbox {
            --paper-checkbox-checked-color: #cc6666;
        }

        .strategy-bt {
    	 	min-width: 150px !important;
        }

        .strategy-bt(:not([narrow-viewport])) {
         	text-align: center;
        }

        .strategy-bt[narrow-viewport] {
        	text-align: left;
        	min-width: 200px;
        }

        .strategy-bt:hover {
        	cursor: pointer;
        	text-decoration: underline;
        }

        .strategy-desc {
            width: 100%;
            position: relative;
            margin-bottom: 15px;
            min-width: 200px;
        }

        .strategy-created-date(:not([narrow-viewport])) {
            width: 100%;
            text-align: center;
            pointer-events: none;
            min-width: 200px;
        }

        .strategy-created-date[narrow-viewport]{
        	text-align: left;
        	min-width: 200px;
        }

        .strategy-desc-text {
            margin-left: 55px;
        }

        .bar {
            height: 100%;
            width: 5px;
            background-color: #cc6666;
            position: absolute;
            margin-right: 10px;
            transform: scale(0,1);
            transform-origin: left;
            transition: all 0.2s ease-in-out;
        }

        .strategy-name span:hover {
            cursor: pointer;
        }

        iron-icon {
            position: absolute;
            right: 15px;
            width: 22px;
            height: 22px;
            cursor: pointer;
        }
        
        .st-li-header {
            font-weight: 300;
            font-size: 0.8em;
            display: inline;
        }
        .st-li-detail {
            font-weight: 400;
            font-size: 1em;
        }
        .st-header{
            font-size: 0.8em;
            font-weight: 700;
        }

        .right-container[narrow-viewport] {
        	@apply(--layout-vertical);
        }

        .right-container(:not[narrow-viewport]) {
        	@apply(--layout-horizontal);
        	@apply(--layout-flex);
        }

    </style>

    <template>
	 	<iron-media-query query="(max-width: 850px)" 
 						query-matches="{{narrowViewport}}">
		</iron-media-query>
       
    	<iron-signals on-iron-signal-select-strategy='onSelectStrategy'></iron-signals>

        <div id$="[[strategyId]]" class="row">

            <div class="layout horizontal center">
                <paper-checkbox id='checkbox' noink on-change='onCheck'></paper-checkbox>
                
                <div class="strategy-name self-center flex">
                	<span class="st-header" on-tap='goToEditor'>
                    [[strategyName]]</span>
                    <div class="flex"></div>
                </div>
                
                <template is='dom-if' if='[[narrowViewport]]'>
                	<div class="flex"></div>	
                </template>
                
                <div class='right-container layout horizontal flex' 
            			narrow-viewport$="{{narrowViewport}}">
	                <div class="strategy-created-date" 
                			narrow-viewport$="{{narrowViewport}}">
	                	<h4 class="st-li-header">Created At:&nbsp; <span class="st-li-detail">09/01/2017 9:53PM</span></h4>
	                </div>

	                <div class="flex"></div>

	                <div class="strategy-bt" on-tap='goToAnalyze'
	                		narrow-viewport$="{{narrowViewport}}">
	                    <span class="st-li-header">Number of Backtest:</span> 
	                    <span class="st-li-detail">[[numBacktest]]</span>
	                </div>
                </div>

            </div>
            
            <div class="strategy-desc"><span class="st-li-header strategy-desc-text">[[strategyDesc]]</span></div>
            <div class="bar"></div>
        </div>

    </template>
    <script>
        Polymer({
            is: 'aq-editor-home-strategy-item',

            properties: {
                strategyName: {
                    type: String,
                },

                strategyDesc: {
                    type: String,
                },

                numBacktest: {
                    type: Number,
                },

                strategyId: String,
                
            },

            attached: function() {
            	console.log(this.narrowViewport);
            },

            goToEditor: function () {
                this.fire('editorClicked', {id: this.strategyId});
            },

            goToAnalyze: function () {
                console.log("Hello");
                if (this.numBacktest > 0) {
                    this.fire('analyzeClicked', {id: this.strategyId});
                }
            },

            onCheck: function () {
                this.fire('check-action', {id: this.strategyId, checked: this.$.checkbox.checked});
                if (this.$.checkbox.checked) {
                    this.$$('.bar').style.transform = "scale(1,1)";
                } else {
                    this.$$('.bar').style.transform = "scale(0,1)";
                }
            },

            onSelectStrategy: function(e) {
                this.$.checkbox.checked = e.detail.checked;
            	this.onCheck(); 
            }

        });
    </script>

</dom-module>