
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="../../../bower_components/juicy-ace-editor/juicy-ace-editor.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href ="./aq-editor-toolbar.html">
<link rel='import' href ="./aq-editor-console-window.html">
<link rel='import' href ="./aq-editor-sidebar-run.html">

<dom-module id="aq-editor-edit-programmer">
<style is="custom-style" include="iron-flex iron-flex-alignment  iron-positioning"></style>

<style>

 :host {
      display: block;
      background-color: #E5E5E5;
      -ms-user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
    }

  #consoleWindow {
    position: absolute;
    bottom:1%;
    height:89%;
    width:97%; 
    left:0px;
    --border:1px solid;
    left:2%;
    min-width: 5%;
    background-color: white;
  }

</style>

<style is="custom-style" include="iron-flex iron-positioning"></style>

  <template>
       <div class="fit"> 
        <juicy-ace-editor style="height:100%;" theme="ace/theme/monokai" mode="ace/mode/julia" fontsize="14px" id="codeEditor" tabsize="4">{{code}}
        </juicy-ace-editor>  
        </div>

      <iron-collapse id='collapse'>
        <aq-editor-console-window id="consoleWindow" class="collapse-content"></aq-editor-console-window>
      </iron-collapse>  
              
  </template>

  <script>
    Polymer({
      is:'aq-editor-edit-programmer',

      properties :{
          code: String,
      },

      listeners :{
        'editor-ready':'setCode',
      },

      getCodeContent: function() {
        return this.$.codeEditor.value; 
      }, 

      isSelectedBarRun: function(sideBar) {
        return sideBar == 0;
      },    

    });
  </script>

</dom-module>  
