<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-toolbar/paper-toolbar.html">

<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel='import' href='../../icons/aq-iconset.html'>
<link rel='import' href='../common/aq-check-authentication.html'>
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../common/aq-icon-expandable-search.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<dom-module id='aq-editor-home-menu'>
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        #menu-container {
            margin-left: 15px;
            margin-bottom: 0px;
            height: 40px;
            background-color: white;
        }

        .checkbox-all {
            --paper-checkbox-checked-color: #cc6666;
            margin-right: 15px;
        } 

        paper-button {
            --width:150px;
            height:25px;
            text-transform: none;
            --paper-button:{
                color: #bd362f;
                font-size: 14px;
                --color: white;
                border: 1px solid #bd362f;
            };
        }

        paper-button:hover {
            --background-color: #a8302a;
        }

        paper-button[disabled] {
            border: 1px solid #c0c0c0;
            color: #c0c0c0;
            background-color: white;
        }

        #stop-all-button {
            width: 120px !important;
        }

        iron-icon {
            width: 17px;
            height: 17px;
        }

        aq-icon-expandable-search {
            --height: 32px;
            width: 50%;
        }

        .strategy-header {
            font-size: 18px;
        }

        paper-checkbox {
            --paper-checkbox-unchecked-color: #959595;
        }

    </style>

    <template>
        <aq-check-authentication id='authItem'></aq-check-authentication>
        
        <div id="menu-container" class="layout horizontal">    
            <paper-checkbox noink class="checkbox-all self-center" checked="{{checkAll}}"
                            on-change='onCheckAllStrategies'></paper-checkbox>
            <div class="strategy-header self-center">[[heading]]</div>
            
            <div class="flex"></div>
            
            <template is='dom-if' if='[[forwardTest]]'>
                <paper-button  raised id="stop-all-button" noink class="self-center" on-tap="onStop" disabled="[[!isSelected]]">[[computeButtonLabel(forwardTest)]]
                </paper-button>
            </template>

            <template is='dom-if' if='[[!forwardTest]]'>
                <paper-button raised noink class="self-center" on-tap="onDelete" disabled="[[!isSelected]]"><iron-icon icon="aq-icons:delete"></iron-icon>[[computeButtonLabel(forwardTest)]]
                </paper-button>
            </template>

        </div>
    </template>

    <script>
        Polymer({
            is: 'aq-editor-home-menu',

            properties: {
                isSelected: {
                    type: Boolean,
                    value: false,
                },

                searchText: {
                    type: String,
                    value: "",
                },

                checkAll: {
                    type: Boolean,
                    value: false,
                    notify: true,
                },

                forwardTest: {
                    type: Boolean,
                    value: false,
                },

                heading: {
                    type: String,
                    value: "All Strategies",
                }
            },

            computeButtonLabel: function(forwardTest) {
                return forwardTest ? "Stop Selected" : "Delete Selected";
            },
            
            toggle: function () {
                var d = this.$$('#search').style.display;
                if (d == 'block') {
                    this.$$('#search').style.display = 'none';
                    this.$$('#menu-icons').style.display = 'inline';
                } else {
                    if (!this.$.authItem.checkHasToken()) {
                        this.fire('rt-changed', {route: '/user/signin'});
                        return;
                    }

                    this.$$('#search').style.display = 'block';
                    this.$$('#searchbox').focus();
                    this.$$('#searchbox').value = "";
                    this.$$('#menu-icons').style.display = 'none';
                }
            },

            onDelete: function () {
                this.fire('delete-clicked');
            },

            onStop: function() {
                this.fire('stop-clicked');
            },

            onCompare: function () {
                this.fire('compare-clicked');
            },

            onCheckAllStrategies: function () {
                this.checkAll = this.$$('paper-checkbox').checked;
                this.fire('iron-signal', {name: 'select-strategy', data: {checked: this.$$('paper-checkbox').checked, live: this.forwardTest}});
            },

            focusInputBox: function () {
                this.$$('#searchbox').focus();
            }

        });

    </script>
</dom-module>
