
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../icons/aq-iconset.html'>


<dom-module id='aq-editor-home-menu'>
	<style  include="iron-flex iron-flex-alignment  iron-positioning"></style>
  
	<style>

		#search {
		  	height: 60px;
		  	line-height: 48px;
		  	position: relative;
		  	display:none;
		  	z-index:2;
		}
	
		#search iron-icon {
		  	margin-left: 16px;
		  	margin-right: 8px;
		  	position: absolute;
		  	top: 12px;
		  	left: 2px;
		}

		#search paper-icon-button {
		  	margin-left: 8px;
		  	margin-right: 8px;
		  	position: absolute;
		  	top: 6px;
		  	left: 2px;
		}

		#searchbox {
		  	height: 46px;
		    -webkit-appearance: none;
		  	line-height: 46px;
		  	border: 0;
		  	margin: 0;
		  	padding-left: 50px;
		  	border: 1px solid #e5e5e5;
		  	@apply(--paper-font-body1);
		  	width:100%;
		  	font-size: 16px;
		  	z-index: 2;
			background-color: #eceff1;
		}

		#searchbox:focus {
	  		outline: 0;
		  	background-color: #eceff1;
		  	border-color: #cfd8dc;
		}

		#searchbox::-webkit-search-cancel-button{
		  	position: relative;
		  	right: 15px;
		}

		.toolbar {
			height: 60px;
			width: 100%;
		    margin-bottom: 10px
		    margin-top:0px;
		}

		#menu-icons {
			position:relative;
			float:right;
			margin: auto 0;
		}

		.iconButton {
			outline:1px solid teal;
			padding:5px;
			width:35px;
    		margin-right: 5px;
    		margin-left: 5px;
    		color: #cc6666;;
    		--paper-icon-button-disabled:{
				color: #cacaca !important;
			};
			--paper-icon-button-disabled-text:grey;
		}

		.iconButton:active {
			padding: 8px;
		}

		p {
			font-size: 28px;
			margin:0px;
		}

		paper-tooltip.iconTooltip {
        	--paper-tooltip: {
          		font-size: 13px;
          		min-width: 40px;
          		text-align: center;
        	}

        	--paper-tooltip-opacity: 1.0;
			--paper-tooltip-background: teal;
		}
		
	</style>
	
	<template>
	    <div class="toolbar layout horizontal">
	    
	    	<div class="flex self-center"><p>All Strategies</p></div>
	      	<div id="search" class="flex">	    	
	    		<paper-icon-button noink title="Go Back" icon="aq-icons:arrow-back" on-tap="toggle"></paper-icon-button>
      			<input id="searchbox" placeholder="Search your strategy" class="flex"
             	value="{{searchText::change}}" type="search"
             	on-keydown="checkForKeys" on-blur='blur' on-search='search'>
        	</div>

	      	<div id='menu-icons' class="layout horizontal">
	      		<paper-icon-button id= 'searchIcon' noink class="iconButton" icon="aq-icons:search" on-tap="toggle" raised>	
	      		</paper-icon-button>
      		
	      		<paper-icon-button id= 'newIcon' noink class="iconButton" icon="aq-icons:add" on-tap="createNew">	
	      		</paper-icon-button>

	  			<paper-icon-button id= 'deleteIcon' noink class="iconButton" icon="aq-icons:delete" on-tap="onDelete" disabled="[[!activeDelete]]">
	  			</paper-icon-button>
			</div> 

			<paper-tooltip for='searchIcon' offset="2" class=' self-center iconTooltip' position="bottom" animation-delay="0" fit-to-visible-bounds>Search</paper-tooltip>
        	
        	<paper-tooltip for='newIcon' offset="2" class=' self-center iconTooltip' position="bottom" animation-delay="0" fit-to-visible-bounds>New</paper-tooltip>
        	
        	<paper-tooltip for='deleteIcon' offset="2" class=' self-center iconTooltip' position="bottom" animation-delay="0" fit-to-visible-bounds>Delete</paper-tooltip>
        	     	
  		</div>

	</template>
	
	<script>
		Polymer ({
			is: 'aq-editor-home-menu',

			properties :{
				activeDelete: {
					type:Boolean,
					value:false,
				},

				searchText:{
					type:String,
					value:"",
				},
			},

			toggle: function() {
				var d = this.$$('#search').style.display;
				if(d == 'block') {
					this.$$('#search').style.display = 'none';
					this.$$('#menu-icons').style.display = 'inline';
				} else {
					this.$$('#search').style.display = 'block';
					this.$$('#searchbox').focus();
					this.$$('#searchbox').value = "";
					this.$$('#menu-icons').style.display = 'none';				
				}			
			},

			onDelete: function() {
				this.fire('deleteClicked');
			},

			createNew: function() {
				this.fire('newClicked');
			},

			onCompare: function() {
				this.fire('compareClicked');
			},

			checkForKeys: function(e) {
                // check if 'esc' was pressed
                if (e.keyCode === 27) {
                    this.$$('#search').style.display = 'none';
					this.$$('#menu-icons').style.display = 'inline';
                } 
            },

            blur: function() {
            	if(this.$$('#searchbox').value=="") {
            		this.$$('#search').style.display = 'none';
					this.$$('#menu-icons').style.display = 'inline';
				} 
            },

            search: function() {
            	this.searchText = this.$$('#searchbox').value;
            	this.fire('search-action',{searchtext: this.searchText});
            },

		});
		
	</script>
</dom-module>
