
<link rel='import' href ="../common/aq-backtest-detail-item.html">
<link rel='import' href='../../../bower_components/web-socket/web-socket.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/paper-button/paper-button.html'>


<link rel='import' href='../../icons/aq-iconset.html'>


<dom-module id='aq-editor-edit-backtest-screen'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>
	
	<style>
		#container {
			height:100%;
			padding:5px;
			background-attachment: #e5e5e5;
		}

		paper-button {
			text-transform: none;
			font-size: 14px;
			color:#cc6666;
		 	margin-bottom: 10px;
            margin-left: 5px;
		}
		
	</style>

	<template>
		<div id='container'>
			<!--div class="goBackButton layout horizontal">
	            
				<paper-button noink id='backButton' class="self-center" title="Go Back" on-tap='onBack'><iron-icon icon="chevron-left" ></iron-icon> Back</paper-button>

	            <div class="flex"></div>
	         	
	         	<template is='dom-if' if='[[narrow]]'>
	         		<paper-icon-button noink class="toolbarIcon" icon="vaadin-icons:split-h" title="Toggle-Left" on-tap="toggleDrawer">
	         		</paper-icon-button>
	         	</template>

	      	</div-->

	      	<aq-backtest-detail-item id="detailItem" backtest-id={{backtestId}} active="{{isRunning}}" id='backtestDisplay'>
	      	</aq-backtest-detail-item>
		</div>

	</template>

	<script>
		Polymer({
			is:'aq-editor-edit-backtest-screen',

			properties:{
				isRunning: {
					type:Boolean,
					value:false,
					//observer:'_isRunningChanged',
					notify:true,
				},

				narrow:{
					type:Boolean,
					value:true,
				},

				backtestId:String,
			},

			onBack: function() {

				this.isRunning = false;
				this.fire('unsubscribe-data',{backtestId:this.backtestId});
			},

			toggleDrawer: function() {
				this.fire('toggle-drawer');
			},

		});
	</script>
</dom-module>