
<link rel='import' href ="../common/aq-backtest-detail-item.html">
<link rel='import' href='../../../bower_components/web-socket/web-socket.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../icons/aq-iconset.html'>


<dom-module id='aq-editor-edit-backtest-screen'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>
	
	<style>
		#container {
			width:97%;
			margin: 0 auto;
			height:100%;
		}
		
	</style>

	<template>
		<div id='container' class="flex">
			<div class="goBackButton layout horizontal">
	            <paper-icon-button noink class="self-center" title="Go Back" icon="aq-icons:arrow-back" on-tap="onBack">
	            </paper-icon-button>
	            <h3>Back to Strategy Editor</h3>
	            <div class="flex"></div>
	         	
	         	<template is='dom-if' if='[[narrow]]'>
	         		<paper-icon-button noink class="toolbarIcon" icon="vaadin-icons:split-h" title="Toggle-Left" on-tap="toggleDrawer">
	         		</paper-icon-button>
	         	</template>

	      	</div>

	      	<aq-backtest-detail-item class="flex" id="detailItem" backtest-id={{backtestId}} active="{{isRunning}}" id='backtestDisplay'>
	      	</aq-backtest-detail-item>
		</div>

	</template>

	<script>
		Polymer({
			is:'aq-editor-edit-backtest-screen',

			properties:{
				isRunning: {
					type:Boolean,
					value:false,
					observer:'_isRunningChanged',
					notify:true,
				},

				narrow:{
					type:Boolean,
					value:true,
				},

				backtestId:String,
			},

			_isRunningChanged: function(newValue, oldValue) {
				if (newValue) {
					this.debounce('start', function() {
						this.start();
					}, 2000);

				} else {
					this.stop();
				}
			},

			start: function() {
				//this.$.detailItem.fetchData();
				//console.log("Starting Websocket:");	
        		//this.$.webSocketConn.open();
			},

			stop: function() {
				//console.log("Stopping Websocket");	
        		//this.$.webSocketConn.close();
			},

			/*_onOpen: function(e){
		        console.log("Open");
		        this.$.backtestDisplay.reset();
		        this.$.webSocketConn.send("run");
	      	},

	      	_onMessage: function(e) {    
	          	if (e.detail.outputtype == "performance") {
	            	this.$.backtestDisplay.addLineData(e.detail);
	          	}
	      	},

      		_onError: function(e) {
      			console.log(e.detail);
        		console.log("Error");
        			
  			},

      		_onClose: function(e) {
        		console.log("Close:");
      		},*/

			onBack: function() {
				this.isRunning = false;
				//this.active = !this.active;
				this.fire('unsubscribe-data',{backtestId:this.backtestId});
				//this.fire('backClicked-backtest');
			},

			toggleDrawer: function() {
				this.fire('toggle-drawer');
			},

		});
	</script>
</dom-module>