<link rel="import" href="../../../bower_components/paper-toolbar/paper-toolbar.html">

<link rel="import" href="../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/av-icons.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>


<dom-module id='aq-editor-toolbar'>
	<style is="custom-style" include="iron-flex iron-positioning"></style>

	<style>

		paper-icon-button {
    		width:35px;
    		height:35px;
    		margin-right: 10px;
    		min-width:25px;
    		max-width:35px;
    		color: #333a56;
  		}

  		paper-icon-button {
	  		--paper-icon-button-hover: {
	  			outline:1px solid;
	  		};
	  	}

  		paper-toolbar {
		  --paper-toolbar-height:40px;
		  --paper-toolbar-width:100px;
		  --paper-toolbar-color:teal;
  		  --paper-toolbar-background:#99d3df;

		}

		paper-button {
			height:35px;
		}

		#strategyName {
			height:24px;
			margin-top: 3px;
		}

		.separator{
			border-left:teal solid 1px;
			opacity:.8;
			height:25px;
			margin-right: 10px;

		}

		input {
			max-width:150px;
			min-width: 50px;
			--width:20%;
		}

		.toolbarIcon:active {
			padding:10px;
		}

		.toolbarPlayIcon {
			 border:1px solid;
			 padding:0px;
			 height:23px;
			 width:23px;
		}

		.toolbarPlayIcon:active {
			 padding:3px;
		}



		
	</style>
	
	<template>
		<paper-toolbar>
			<div id='toolbar' class="flex layout horizontal">
				<paper-icon-button noink id='back-icon' class="flex toolbarIcon" icon="icons:arrow-back" title="Go Back" on-tap='goBack'></paper-icon-button>
				<input class="flex" id ='strategyName' type="text">
	     		 
	        	<div class="flex" style="max-width:5%"></div>

		 		
	        	<paper-icon-button noink class="flex toolbarIcon" icon="icons:code" title="Toggle Code/Design" on-tap='toggleDesign'></paper-icon-button>

	        	<span class="self-center separator"></span>
		 		<paper-icon-button noink class="flex toolbarIcon" icon="icons:save" title="Save"></paper-icon-button>	
		 		<paper-icon-button noink class="flex toolbarIcon" icon="icons:add" title="New"></paper-icon-button>	
		 		<paper-icon-button noink class="flex toolbarIcon" icon="icons:content-copy" title="Clone"></paper-icon-button>
		 		
		 		<span class="self-center separator"></span>
		 		<!--paper-icon-button class="flex" icon="vaadin-icons:chart" title="Analyze" on-tap='goToAnalyze'></paper-icon-button-->
		 		<paper-icon-button noink class="flex self-center toolbarPlayIcon" icon="av:play-arrow" title="Run Backtest" style="border:1px solid;padding:0px;height:23px;width:23px"></paper-icon-button>


	        	<template is='dom-if' if="{{isProgrammer}}">
	        		<div class="flex"></div>
		            <paper-icon-button noink class="flex toolbarIcon" icon="vaadin-icons:split-h" title="Toggle-Right" on-tap="toggleDrawer"></paper-icon-button>

		            
			        <!--paper-icon-button icon="vaadin-icons:expand-full" title="Expand" on-tap="closeAll"></paper-icon-button-->
		        </template>
		        
       		</div> 
		</paper-toolbar>

	</template>

	<script>
		Polymer({
			is:'aq-editor-toolbar',

			properties: {
				showSideBar : {
					type:Boolean,
				},

				isProgrammer: {
					type:Boolean,
				}, 
			},

			closeAll() {
				this.fire('close-all');
			},

			openDrawer() {
				this.fire('open-drawer');
			},

			closeDrawer() {
				this.fire('close-drawer');
			},

			toggleDrawer() {
				this.fire('toggle-drawer');
			},

			toggleConsole() {
				this.fire('toggle-console');
			},

			toggleDesign(){
				this.fire('toggle-design');
			},

			goBack() {
				this.fire('back-clicked');
			},

			goToAnalyze() {
				this.fire('analyze-clicked');
			}

		});
	</script>
</dom-module>