
<link rel='import' href='../../../bower_components/paper-checkbox/paper-checkbox.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-collapse/iron-collapse.html'>
<link rel='import' href='../../../bower_components/paper-datatable/paper-datatable.html'>
<link rel='import' href='../../../bower_components/paper-datatable/paper-datatable-card.html'>

<dom-module id='aq-editor-home-backtest-table'>
	<style>
	</style>

	<template>
	<paper-datatable-card id="datatableCard" header="Backtests for {{strategyName}}" page-size="100" data-source="{{data}}" id-property="id" selected-ids="{{selectedIds}}">
			<paper-datatable data="{{data}}" selectable multi-selection progress='false'>
				<paper-datatable-column header="Backtest" property="id" type="Number" align='left'></paper-datatable-column>
				<paper-datatable-column header="Datetime" property="title" type="String" align='left'></paper-datatable-column>
				<paper-datatable-column header="Status" property="calories" type="String" align='left'></paper-datatable-column>
				<paper-datatable-column header="Total Return" property="fat" type="Number" align='left'></paper-datatable-column>
				<paper-datatable-column header="Avg. Return" property="carbs" type="Number" align='left'></paper-datatable-column>
				<paper-datatable-column header="Avg. Volatility" property="protein" type="Number" align='left'></paper-datatable-column>
				<paper-datatable-column header="Sharpe Ratio" property="sodium" type="Number" align='left'></paper-datatable-column>		
			</paper-datatable>
		</paper-datatable-card>
    </template>

    <script>
    	Polymer({
    		is: 'aq-editor-home-backtest-table',
    		
    		properties: {
	    		data: {
						type:Array,
						value:[
					{id: 0, title: 'Frozen yogurt', calories: 'Canceled', fat: 6, carbs: 24, protein: 4, sodium: 87},
					{id: 1, title: 'Ice cream sandwich', calories: 'Completed', fat: 9, carbs: 37, protein: 4.3, sodium: 129},
					{id: 2, title: 'Eclair', calories: 'Completed', fat: 16, carbs: 24, protein: 6, sodium: 337}],
				},
			},

    	});
    </script>

</dom-module>