<link rel="import" href="../../../bower_components/paper-toolbar/paper-toolbar.html">

<link rel="import" href="../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/av-icons.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>


<dom-module id='aq-editor-toolbar'>
	<style is="custom-style" include="iron-flex iron-positioning"></style>

	<style>

		paper-icon-button {
    		width:35px;
    		height:35px;
    		margin-right: 10px;
    		min-width:25px;
    		max-width:35px;
    		color: #333a56;
  		}

  		paper-icon-button {
	  		--paper-icon-button-hover: {
	  			outline:1px solid;
	  		};
	  	}

  		paper-toolbar {
		  --paper-toolbar-height:40px;
		  --paper-toolbar-width:100px;
		  --paper-toolbar-color:teal;
  		  --paper-toolbar-background:#e5f1f5;--#dadde9; --#ebeff1; --#f1e091;
  		  --border-right: 5px solid #333a56;
		}

		paper-button {
			height:35px;
		}

		#strategyName, #box {
			height:24px;
			margin-top: 3px;
			font-size: 12px;
			padding-left: 3px;
			font-weight: bolder;
		}

		.separator{
			border-left:teal solid 1px;
			opacity:.8;
			height:25px;
			margin-right: 10px;

		}

		input {
			max-width:250px;
			min-width: 150px;
			--width:20%;
			--font-size: 15px;
		}

		.toolbarIcon:active {
			padding:10px;
		}

		.toolbarPlayIcon {
			 border:1px solid;
			 padding:0px;
			 height:23px;
			 width:23px;
		}

		.toolbarPlayIcon:active {
			 padding:3px;
		}

		paper-tabs {
			height:35px;
		}

		.inputbox {
			margin-left:10px;
			margin-right:10px;
			@apply(--layout-horizontal);
		}

		.input-span {
			color:#333a56;
			font-weight: bold;
			font-size: 14px;
		}

		#box {
			max-width: 130px;
			font-weight: normal;
			--border:1px solid black;
			min-width:100px;

		}
		
	</style>
	
	<template>
		<paper-toolbar>
			<div id='toolbar' class="flex layout horizontal">
				<paper-icon-button noink id='back-icon' class="flex toolbarIcon" icon="icons:arrow-back" title="Go Back" on-tap='goBack'></paper-icon-button>
				<input class="flex" id ='strategyName' value="[[strategyName]]" type="text">
	     		 
	        	<div class="flex" style="max-width:5%"></div>

	        	<paper-icon-button noink class="flex toolbarIcon" icon="icons:code" title="Toggle Code/Design" on-tap='toggleDesign'></paper-icon-button>

	        	<span class="self-center separator"></span>
		 		<paper-icon-button noink class="flex toolbarIcon" icon="icons:save" title="Save" on-tap='onSave'></paper-icon-button>	
		 		<paper-icon-button noink class="flex toolbarIcon" icon="icons:add" title="New" on-tap='onCreate'></paper-icon-button>	
		 		<paper-icon-button noink class="flex toolbarIcon" icon="icons:content-copy" title="Clone" on-tap='onClone'></paper-icon-button>
		 		
		 		<span class="self-center separator"></span>
	
		 		<paper-icon-button id='runButton' noink class="flex self-center toolbarPlayIcon" icon="av:play-arrow" title="Run Backtest" on-tap='onRun'></paper-icon-button>

	        	<template is='dom-if' if="{{isProgrammer}}">
	        		<template is='dom-if' if='[[narrow]]'>
		            <div class="flex"></div>
		            <paper-icon-button noink class="toolbarIcon" icon="vaadin-icons:split-h" title="Toggle-Left" on-tap="toggleDrawer"></paper-icon-button>
		            </template>
		           
		        </template>
		        
       		</div> 
		</paper-toolbar>

	</template>

	<script>
		Polymer({
			is:'aq-editor-toolbar',

			properties: {
				narrow : {
					type:Boolean,
				},

				isProgrammer: {
					type:Boolean,
				}, 

				strategyName:String,
				strategyDesc:String,
				strategyId:String,
			},

			closeAll() {
				this.fire('close-all');
			},

			openDrawer() {
				this.fire('open-drawer');
			},

			closeDrawer() {
				this.fire('close-drawer');
			},

			toggleDrawer() {
				this.fire('toggle-drawer');
			},

			toggleConsole() {
				this.fire('toggle-console');
			},

			toggleDesign(){
				this.fire('toggle-design');
			},

			goBack() {
        		this.fire('backClicked');
			},

			goToAnalyze() {
				this.fire('analyze-clicked');
			},

			onSave() {
				this.strategyName = this.$.strategyName.value;
				this.fire('save-action',{name:this.strategyName});
			},

			onCreate() {
				this.fire('newClicked');
			},

			onClone() {	
				this.fire('cloneClicked');	
			},

			onRun() {
				this.strategyName = this.$.strategyName.value;
				this.fire('run-action',{name:this.strategyName});
			}

		});
	</script>
</dom-module>