
<link rel="import" href="../../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="../../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../../bower_components/juicy-ace-editor/juicy-ace-editor.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/editor-icons.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>


<link rel='import' href ="./aq-editor-toolbar.html">
<link rel='import' href ="./aq-editor-console-window.html">
<link rel='import' href ="./aq-editor-sidebar-run.html">
<link rel='import' href ='./aq-editor-edit-nonprogrammer.html'>
<link rel='import' href ='./aq-editor-edit-programmer.html'>
<link rel='import' href ='./aq-editor-edit-backtest-screen.html'>

<dom-module id="aq-editor-edit">

<style>

  paper-icon-button {
    width:35px;
    height:35px;
  }

  #consoleWindow {
    position: absolute;
    bottom:1%;
    height:89%;
    width:97%; 
    left:0px;
    --border:1px solid;
    left:2%;
    --min-width: 5%;
    background-color: white;
  }

  paper-toolbar {
      --paper-toolbar-height:40px;
      --paper-toolbar-color:#333a56;
      --paper-toolbar-background:#c9e2ea;--#c1c6da;--#ced2e2;--#dadde9;--#9bbef2;--#ddf2f0;
       border-bottom: 1px solid #333a56;
  }

  paper-tabs :hover{
    font-weight: bold;
    font-size:110%;
  }

  paper-tabs {
    --paper-tabs-selection-bar-color: #333a56;
    height:80%;
  }

  paper-tab {
    --height:30px;
  }

  #leftPanel {
    border-right: 5px solid #333a56;
  }

  #rightPanel {
    background-color:#f3f9fa;--#f3f4f8;
    border-left: 5px solid #333a56;
  }

  .toolbarPlayIcon {
       border:1px solid;
       padding:0px;
       height:23px;
       width:23px;
    }
    
</style>

<style is="custom-style" include="iron-flex iron-positioning"></style>

<template>
    <iron-ajax
          auto  
          url="http://localhost:3002/api/v2/strategy/[[strategyId]]"
          method='GET'
          id='getStrategyQuery'
          handle-as="json"
          on-response="onGetStrategyResponse"
          on-error="onGetStrategyError"
          headers='{{header}}'
          debounce-duration="300">
    </iron-ajax>  

    <template is='dom-if' if="{{strategy}}">         
        
      <paper-drawer-panel drawer-width="[[computeDrawerWidth(isProgrammer, isRunning)]]" responsive-width='800px' class="drawerpanel" id="drawerpanel" right-drawer narrow="{{narrow}}" force-narrow="{{!showSideBar}}">   
        <paper-header-panel id='leftPanel' main mode="seamed"> 
          
          <template is='dom-if' if='[[!isRunning]]'>
            <aq-editor-toolbar id ='editorToolbar' is-programmer={{isProgrammer}} class="paper-header" strategy-name="[[strategy.name]]"" strategy-desc="[[strategy.description]]" narrow="[[narrow]]"> 
            </aq-editor-toolbar>
            
            <template is='dom-if' if='{{isProgrammer}}'>
              <aq-editor-edit-programmer code="[[strategy.code]]" id='codeEditorPanel'></aq-editor-edit-programmer> 
            </template>
             
            <template is='dom-if' if='{{!isProgrammer}}'>
              <aq-editor-edit-nonprogrammer strategy={{strategy}} id='editorPanel'></aq-editor-edit-nonprogrammer> 
            </template>
                 
            <iron-collapse id='collapse'>
              <aq-editor-console-window id="consoleWindow" class="collapse-content"></aq-editor-console-window>
            </iron-collapse>
          </template>

          <template is='dom-if' if='[[isRunning]]'>
            <aq-editor-edit-backtest-screen is-active="[[isRunning]]" 
                                            id='backtestScreen'
                                            narrow="[[narrow]]">
            </aq-editor-edit-backtest-screen>
          </template>

        </paper-header-panel>

        
        <paper-header-panel id='rightPanel' drawer mode="seamed">
          <paper-toolbar >
              <paper-tabs selected="{{selectedSidebar}}" noink>
                <template is="dom-if" if="[[!isRunning]]">
                <paper-tab>Run</paper-tab>
                <paper-tab>Quick Help</paper-tab>
                </template>
                
                <template is="dom-if" if="[[isRunning]]">
                  <paper-tab>Log</paper-tab>
                </template>
              
              </paper-tabs>

              <div class="flex"></div>
              
              <template is='dom-if' 
                        if="[[isSelectedSidebarRun(selectedSidebar)]]">
                <paper-icon-button id='runButton' noink title="Run Backtest" on-tap='runStrategyFromPanel' class="toolbarPlayIcon" icon="av:play-arrow"></paper-icon-button>
              </template>

              <paper-icon-button noink class="toolbarIcon" icon="vaadin-icons:split-h" title="Toggle-Right" on-tap="toggleDrawer"></paper-icon-button>


          </paper-toolbar>

            <iron-pages selected="{{selectedSidebar}}">
           
              <aq-editor-sidebar-run></aq-editor-sidebar-run>  
              <div>This is quick help!!</div>
              <div style="background-color: black; color:red;">This is log!!</div>
              
              
            </iron-pages>
        
        </paper-header-panel>
        
                      
      </template>

      <iron-ajax 
        url="http://localhost:3002/api/v2/strategy/[[strategyId]]" 
        body="{{putStrategyData}}" 
        method='PUT' 
        id='saveStrategyQuery' 
        headers='{{header}}' 
        handle-as="json" 
        on-response="onStrategySavedResponse"
        on-error="onStrategySavedResponseError"  
        last-response="{{ajaxResponse}}" 
        debounce-duration="300">
    </iron-ajax>

    <iron-ajax 
        url="http://localhost:3002/api/v2/strategy/[[strategyId]]/exec" 
        body="{{runStrategyData}}" 
        method='POST' 
        id='runStrategyQuery' 
        headers='{{header}}' 
        handle-as="json" 
        on-response="onStrategyExecutionResponse"
        on-error="onStrategyExecutionError" 
        last-response="{{ajaxResponse}}" 
        debounce-duration="300">
    </iron-ajax>

  </template>

  <script>
    Polymer({
      is:'aq-editor-edit',

      properties :{
        showSideBar: {
          type:Boolean,
          value:true,
        },

        selectedSidebar:{
          type:Number,
          value:0,
        },

        sideBarOpen:{
          type:Boolean,
          value:true,
        },

        isProgrammer:{
          type:Boolean,
          value:true,
        },

        strategyId: String,
        
        runSwitch:{
          type: Number,
          value: 0,
        },

        isRunning: {
          type: Boolean,
          value: false,
        },

        counter:{
          type:Number,
          value:0,
        },
      },

      attached() {
        this.fire('close-menu');
      },

      listeners: {
        'close-all':'closeAll',
        'toggle-drawer':'toggleDrawer',
        'toggle-console':'toggleConsole',
        'close-console':'closeConsole',
        'selected-items-changed':'rowSelected',
        'toggle-design':'designChanged',
        'backClicked':'goToHome',
        //'analyze-clicked':'goToAnalyze',
        'open-drawer':'openDrawer',
        'close-drawer':'closeDrawer',
        'save-action':'saveStrategy',
        'run-action':'runStrategy',
        'cloneClicked':'cloneStrategy',
        'backClicked-backtest':'toggleIsRunning',
      },

      ready: function() {
          var x = localStorage.getItem('my-app-storage');
          var user = JSON.parse(x).user;
          if (user.token) {
            this.header = {
              "aimsquant-token": user.token,
              "Content-Type": "application/json"};  
          }
      },

      computeDrawerWidth(isProgrammer, isRunning) {
        //var width =  isProgrammer ? "560px" :"0px"; 

        if (isProgrammer && isRunning) {
          return "360px";
        } else if (isProgrammer){
          return "560px";
        } else {
          return "0px";
        }
      },

      toggleConsole() {
        this.$.collapse.toggle();
      },

      openConsole() {
        if (this.$.collapse.opened == false) {
          this.$.collapse.toggle();
        }
      },

      closeConsole() {
       if (this.$.collapse.opened == true) {
          this.$.collapse.toggle();
        }
      },

      closeAll() {
        this.$$('#codeEditorPanel').closeDrawer();
        this.closeConsole();
      },

      toggleDrawer() { 
        if(this.showSideBar && this.narrow) {
          this.$$('#drawerpanel').togglePanel();
        } else if (this.showSideBar && !this.narrow) {
          this.closeDrawer();
        } else {
          this.openDrawer();
        }

      },

      openDrawer() { 
        this.$$('#drawerpanel').openDrawer();
        this.showSideBar = true;
      },

      closeDrawer() {
        this.$$('#drawerpanel').closeDrawer();
  
        if (this.showSideBar && !this.narrow) {
          this.showSideBar = false;
        }
      }, 

      isSelectedSidebarRun(selectedSidebar) {
        return selectedSidebar == 0;
      },

      designChanged() {
        this.isProgrammer = !this.isProgrammer;
      },

      goToAnalyze() {
        this.router.go('/dashboard/analyze?strategyName=Sample Strategy');
      },

      goToHome() {
        this.router.go('/dashboard/editor');
      },

      onGetStrategyResponse(data) {
        this.strategy = data.detail.response;
      },

      onGetStrategyError(data) {
        console.log(data);
      },

      onStrategySavedResponse(data) {
        if(this.runSwitch == 1) {
          //reset the run swtch to off
          this.runSwitch = 0;

          //now run the saved strategy
          this.$.runStrategyQuery.generateRequest();
        }
      },

      onStrategySavedError(data) {
        console.log("Error Saving");
        console.log(data);
      },

      runStrategyFromPanel() {
        this.$$('#editorToolbar').onRun();
      },

      saveStrategy(e) {
        this.putStrategyData = {
            "name":e.detail.name,
            "description": this.strategy.description,
            "language":this.strategy.language,
            "type": this.strategy.type,
            "code": this.$$('#codeEditorPanel').getCodeContent(),
        };
      
        this.$.saveStrategyQuery.generateRequest();
        this.isRunning = true;
      },

      runStrategy(e) {
         console.log("Going to Run:");
        // first save the strategy
        this.runStrategyData = {  
                  "start": "2015-11-07T03:41:47.262Z",
                  "end": "2016-11-07T03:41:47.262Z",
                  "capital": 1000000,
                  "plan": "string"};

        this.runSwitch = 1;
        this.selectedSidebar = 2;
        this.saveStrategy(e);  
      },

      onStrategyExecutionResponse(data) {
        console.log("Run: Success");
        console.log(data);
        
        //This get back the created backtest object with just the settings,
        //HAS no output
      },

      onStrategyExecutionError(data) {
        console.log(data);
        //This get back the created backtest object with just the settings,
        //HAS no output
      },

      cloneStrategy(e) {
          e.detail.strategy = this.strategy;
          //let the event propagate
      },

      toggleIsRunning() {
        this.isRunning = !this.isRunning;
      },

    });
  </script>

</dom-module>  
