<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>

<link rel='import' href='../../icons/aq-iconset.html'>


<dom-module id='aq-vertical-icon-selector'>
	<style  include="iron-flex iron-flex-alignment iron-positioning">
    </style> 
	
	<style>

		paper-icon-button {
			--border: 1px solid;
			width: 45px;
			height:45px;
		}

		.container {
			padding-top: 50px;
			border-left: 1px solid;
			z-index: 1002;
		}
		
	</style>	

	<template>
		<div class="container layout vertical">
			<template is="dom-repeat" items="{{iconsArray}}">
				<paper-icon-button class="self-center" icon="[[item]]" on-tap="changeIndex"></paper-icon-button>
			</template> 
		</div>
		
	</template>

	<script>
		Polymer({
			is:'aq-vertical-icon-selector',
			properties: {
				iconsArray: {
					type: Array,
				},

				selected: {
					type:Number,
					value:0,
					notify:true,
				},
			},

			changeIndex: function(e) {
				this.selected = this.iconsArray.indexOf(e.target.icon);
				console.log(this.selected);
			},
		});
	</script>
</dom-module>