<link rel="import" href="../../../bower_components/app-route/app-route.html">
<link rel="import" href="../../../bower_components/app-route/app-location.html">

<dom-module id='aq-authentication-message'>
	
	<style include="iron-flex iron-flex-alignment iron-positioning"></style>

	<style>

		:host {
			font-family: 'Garamond', sans-serif;
		};

		#container {
			margin-left: 20px;		
		}

		h3 {
			color:teal;
		}

		p {
			font-size: 18px;
		}

		p span {
			font-weight: 700;
		}

		#header {
			font-size: 24px;
			color: teal;
			margin-bottom: 5px;
		}

		i {
			color:#cc6666;
		}

		aper-button {
			width:15%;
			background-color: white;
			border: 1px solid teal;
			color: #cc6666;
			border-radius: 20px;
			min-width: 100px;
		}

		paper-button {
          text-transform: none;
          --paper-button: {
              border-radius: 20px;  
              font-size: 14px;
              background: teal;
              color: white;
              padding: 5px 20px;
              height: 25px;
          };
      }

	</style>

	<template>

      	<app-location route="{{route}}"></app-location>
  		<app-route
            route="{{route}}"
            pattern="/user/authMessage"
            active="{{active}}"
            query-params="{{queryParams}}">
      	</app-route>  

      	<template is='dom-if' if='{{active}}'>
			<div class="layout vertical fit">
				
				<div id = 'container' class="self-start"> 
					<template is='dom-if' if='[[isModeForgotPassword(mode)]]'>
						<p id='header'class="self-start">We are here to help you!!</p>
						<p id='p1' class="self-start">We've sent an email to <span>[[emailId]]</span>.<br/> Please follow the instructions in the email to reset your password.</p>
						<paper-button on-tap='goToLogin'>Go Back</paper-button>
					</template>

					<template is='dom-if' if='[[isModeActivationPending(mode)]]'>
						<p id='header' class="self-start">You are just one step away to test your great ideas!!</p>
						<p id='p1' class="self-start">We've sent an email to <span>[[emailId]]</span>.<br/> Please follow the instructions in the email to activate your account.</p>
						<paper-button on-tap='goToLogin'>Go Back</paper-button>
					</template>

					<template is='dom-if' if='[[isModeActivationComplete(mode)]]'>
						<p id='header' class="self-start">Account activation is complete!!</p>
						<p id='p1' class="self-start">Welcome to AimsQuant. Start testing your investment ideas.</p>
						<paper-button on-tap='goToLogin'>Sign In</paper-button>
					</template>


					<template is='dom-if' if='[[isModeReset(mode)]]'>
						<p id='header' class="self-start">Great!! You're password has been reset.</p>
						
						<paper-button on-tap='goToLogin'>Go Back</paper-button>
					</template>
				</div>
			</div>
		</template>
	</template>
	
	<script>
		Polymer({
			is: 'aq-authentication-message',

			properties:{
				emailId:String,
				mode:{
					type: String,
					observer: '_modeChanged',
				},
				name:String,
				active: Boolean,
				queryParams: Object,
			},

			observers:['_hasQueryParamsChanged(queryParams)'],

			_hasQueryParamsChanged: function(qp){
				if (this.active) {
					if (qp.mode) {
						this.mode = qp.mode;
					}

					if (qp.emailId) {
						this.emailId = qp.emailId;
					}	

					if (qp.name) {
						this.name = qp.name;
					}
				}
			},

			_modeChanged: function() {
				var title = '';
				switch(this.mode) {
					case "forgotpassword": 
						title = 'Forgot Password Message - AimsQuant';
						break;
					case "activationPending": 
						title = 'Activation Pending Message - AimsQuant';
						break;
					case "activationComplete": 
						title = 'Activation Complete Message - AimsQuant';
						break;
					case "reset": 
						title = 'Reset Password Message - AimsQuant';
						break;
				}

				if(title != '') {
					document.title = title;
				}
			},

			isModeForgotPassword: function(mode) {
				return mode=="forgotpassword";
			},

			isModeActivationPending: function(mode) {
				return mode == "activationPending";
			},

			isModeActivationComplete: function(mode) {
				return mode == "activationComplete"
			},

			isModeReset: function(mode) {
				return mode=="reset";
			},

			goToLogin: function() {
				this.fire('rt-changed', {route:'/user/signin'});
			},
		});
	</script>
</dom-module>