<!--link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet"-->

<dom-module id="aq-backtest-metric-item">
	<template>
		<style>
			:host{
				color:#3c3c3c;
				display: inline-block;
				font-family: 'Lato', sans-serif;
				font-size: 16px;

			}
			h1, h2, h3, h4, h5 {  margin: 0;  }
			.text-label{
				font-size: var(--aq-backtest-metric-item-text-label-font-size,12px);
				font-weight: 400;
			}

			.text-content{
				font-weight: 400;
				font-size: var(--aq-backtest-metric-item-text-content-font-size, 20px);
			}
			.li-container {
				text-align: left;
				--margin-top: 5px;
				margin-bottom: 5px;
				border: var(--aq-backtest-metric-item-border, 1px solid #e1e1e1);
				padding: 10px;
				width: 100px;

			}
		</style>
		<div class="li-container">
			<span class="text-content">{{metricValue}}</span>
			<h3 class="text-label">{{metricName}}</h3>
		</div>
	</template>
	<script>
		Polymer({
			is:"aq-backtest-metric-item",
			properties:{
				metricName:{
					type:String,
					notify:true
				},
				metricValue:{
					type:String,
					value:"-"
				},

				small: {
					type: Boolean,
					value: false,
				},
			},

			isSmall: function() {
				return isSmall ? "small" : ""; 
			}
		});
	</script>
</dom-module>