<link rel='import' href='../../../../bower_components/paper-tabs/paper-tabs.html'>
<link rel='import' href='../../../../bower_components/paper-tabs/paper-tab.html'>
<link rel='import' href='../../../../bower_components/paper-card/paper-card.html'>
<link rel='import' href='../../../../bower_components/iron-signals/iron-signals.html'>
<link rel='import' href='../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../../bower_components/iron-pages/iron-pages.html'>
<link rel='import' href='../../../../bower_components/paper-progress/paper-progress.html'>
<!--link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet"-->

<link rel="import" href="../../../../bower_components/juicy-ace-editor/juicy-ace-editor.html">

<link rel='import' href='../aq-check-authentication.html'>

<link rel='import' href='./aq-backtest-metric-item.html'>
<link rel='import' href='./aq-backtest-header-item.html'>
<link rel='import' href='./aq-backtest-metric-item-list.html'>
<link rel='import' href='./aq-backtest-performance-detail-item.html'>
<link rel="import" href="../common/aq-log-item.html">

<script src="../../../../resources/scripts/DateTime.js"></script>

<dom-module id='aq-backtest-detail-item'>
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        paper-tabs {
            --paper-tabs-selection-bar-color: #cc6666;

            --paper-tabs: {
                margin-bottom: 10px;
            };
        }

        .lower-container {
            margin-top: 10px;
            --background-color: #f5f5f5;
            --padding-left: 20px;
        }

        .middle-container {
            padding-top: 10px;
        }

        paper-card {
        	--paper-card:{
	        	color: #3c3c3c;
	            margin: 0 auto;
	            height: 100%;
	            --background-color: var(--aq-backtest-detail-item-background-color, #fff);
            }
        }

        .card-content {
        	color: #3c3c3c;
            --padding-left: 0px;
            --padding-right: 0px;
            padding-top: 0px;

        }

        #tab-container {
            border-bottom: 1px solid #e1e1e1;
            height: 47px;
        }

        .backtest-detail {
            margin-top: 15px;
            border: 1px solid #e1e1e1;
        }
        
        #code-container {
            min-height: 200px;
            padding-top: 10px;
        }

        #log-container {
            height: 400px;
            overflow-y: scroll;
            padding-top: 10px;
            background-color: #323232;
        }

    </style>

    <template>

        <aq-check-authentication id='authItem'></aq-check-authentication>
            <div class="layout vertical flex">
            	<div class="card-content">
                    <div class="middle-container self-center flex">
                    	<template is='dom-if' if='[[backtestHeader]]'>
                    		<aq-backtest-header-item
                                heading="[[heading]]"
                    			forced-semi-wide = "[[forcedSemiWide]]"
                    			header-items="{{backtestHeader}}">
                    		</aq-backtest-header-item>
                		</template>
                    </div>

                    <div class="bar"></div>

                    <div class="lower-container flex">
                    	<template is='dom-if' if='{{metrics}}'>
                    		<aq-backtest-metric-item-list 
                                heading="Backtest Metrics"
                    			forced-semi-wide = "[[forcedSemiWide]]"
                    			metric-items = "{{metrics}}"
                    			active="{{active}}">
                			</aq-backtest-metric-item-list> 
                    	</template>
                    </div>

                    <div class="backtest-detail">
                        <div class="layout" id="tab-container">
        	                <paper-tabs noink selected="{{detailType}}" fallback-selection="0">
        	                    <paper-tab>Performance</paper-tab>
                                <paper-tab>Code</paper-tab>
                                <paper-tab>Portfolio</paper-tab>
                                <paper-tab>Transactions</paper-tab>
                                <paper-tab>Log</paper-tab>
                            </paper-tabs>
                        </div>
                        
                        <iron-pages selected="{{detailType}}">
                            <div id="performance-container">
                                <aq-backtest-performance-detail-item 
                                        active="[[active]]"
                                        backtest="[[backtest]]">
                                </aq-backtest-performance-detail-item>
                            </div>
                            <div id="code-container">
                                <juicy-ace-editor readonly style="height:100%; min-height: 400px;" theme="ace/theme/xcode" mode="ace/mode/julia" fontsize="14px" id="codeEditor" tabsize="4">[[backtest.code]]
                                </juicy-ace-editor>
                            </div>
                            <div></div>
                            <div></div>
                            
                            <div id="log-container">
                                <tempalte is='dom-if' if='[[backtestLogs]]'>
                                    <template is='dom-repeat' items="[[backtestLogs]]">
                                        <aq-log-item datetime="[[item.datetime]]"
                                                    message="[[item.message]]"
                                                    message-type="[[item.messagetype]]">
                                        </aq-log-item>
                                    </template>
                                </tempalte>

                            </div>
                            
                        </iron-pages>
                    </div>
              	</div>
            </div>
      
        <iron-signals on-iron-signal-point-data='onBacktestData'></iron-signals>

        <iron-signals on-iron-signal-bulk-data='onBacktestBulkData'></iron-signals>

        <iron-ajax
            url="[[computeGetBacktestUrl(backtestId)]]"
            method='GET'
            id='getBacktestsQuery'
            handle-as="json"
            on-response="onGetBacktestSuccess"
            on-error="onGetBacktestError"
            headers='{{header}}'
            debounce-duration="300"
            loading='{{loading}}'>
        </iron-ajax>

    </template>
    <script>
        Polymer({
            is: 'aq-backtest-detail-item',

            properties: {

                hide: {
                    type: Boolean,
                    value: true,
                },

                active: {
                    type: Boolean,
                    value: false,
                    observer: '_activeChanged',
                },

                metrics: Object,

                detailType:{
                    type: Number,
                    value:0,
                },

                backtestId: {
                    type: String,
                    observer: '_backtestIdChanged',
                },

                backtest: Object,

                header: Object,

                APIEndPoint: String,

                loading: {
                    type: Boolean,
                    readOnly: true,
                    notify: true,
                    value: false
                },

                pctCompleted: {
                    type: Number,
                    value: 0,
                },

                forcedSemiWide: {
                	type: Boolean,
                	value: false,
                },

                heading: String,

                backtestLogs: Array,

            },

            _backtestIdChanged: function (nId, oId) {
                if (nId && nId!= "") {
                    this.reset();
                    this.requestStaticData();
                }
            },

            _activeChanged: function() {
                if(!this.active && this.backtestId != "") {
                    console.log("Unsubscribing");
                    this.fire('unsubscribe-data',{backtestId:this.backtestId});
                    this.reset();
                }
            },

            computeGetBacktestUrl: function (backtestId) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                return APIEndPoint + '/backtest/' + backtestId;
            },

            reset: function () {
                this.$$('aq-backtest-performance-detail-item').reset();
                this.resetMetrics();
            },

            resetMetrics: function () {
                this.metrics = [{
                    "metricName": "Total Return",
                    "metricValue": "-",
                    "metricDescription": "Total Return"
                },
                {
                    "metricName": "Annual Return",
                    "metricValue": "-",
                    "metricDescription": "Annual Return",
                },
                {
                    "metricName": "Volatility",
                    "metricValue": "-",
                    "metricDescription": "Volatility"
                },
                {
                    "metricName": "Sharpe Ratio",
                    "metricValue": "-",
                    "metricDescription": "Sharpe Ratio"
                },
                {
                    "metricName": "Information Ratio",
                    "metricValue": "-",
                    "metricDescription": "Information Ratio"
                },
                {
                    "metricName": "Sortino Ratio",
                    "metricValue": "-",
                    "metricDescription": "Sortino Ratio"
                },
                {
                    "metricName": "Avg. Drawdown",
                    "metricValue": "-",
                    "metricDescription": "Avg. Drawdown"
                },
                {
                    "metricName": "Max Drawdown",
                    "metricValue": "-",
                    "metricDescription": "Max Drawdown"
                },
                {
                    "metricName": "Calmar Ratio",
                    "metricValue": "-",
                    "metricDescription": "Calmar Ratio"
                },
                {
                    "metricName": "Beta",
                    "metricValue": "-",
                    "metricDescription": "Beta"
                },
                {
                    "metricName": "Stability",
                    "metricValue": "-",
                    "metricDescription": "Stability"
                },
                {
                    "metricName": "Avg. Concentration",
                    "metricValue": "-",
                    "metricDescription": "Avg. Concentration"
                },];
            },

            subscribeData: function () {
                this.async(function () {
                    this.fire('subscribe-data', {backtestId: this.backtestId})
                }, 1000);
            },

            onBacktestData: function (e) {
                
                //process data only when element is active
                if (!this.active) {
                    return
                }

                data = e.detail;

                if ((data.outputtype == "performance" || data.outputtype == "labels") && this.active) {
                    
                    this.$$('aq-backtest-performance-detail-item').addRealTimeData(data);

                } else if (data.outputtype == "log" && data.messagetype == "ERROR") {
                    this.pctCompleted = -1;
                    this.fire('iron-signal', {name:'partially-completed-backtest', data:{pctCompleted: this.pctCompleted}});
                }
            },

            requestStaticData: function () {
                if (this.backtestId && this.$.authItem.checkHasToken()) {
                    this.header = this.$.authItem.getHeader();
                    this.$.getBacktestsQuery.generateRequest();
                }
            },

            onGetBacktestSuccess: function (e) {

                console.log(e.detail.response);

                this.set('backtest', e.detail.response);

                this.backtestHeader = 
                [
                    {   
                        label: "Strategy Name",
                        metric: this.backtest.strategy_name, 
                    }, 
                    {   
                        label: "Created At",
                        metric: date.formatDateTime(this.backtest.createdAt), 
                    }, 

                    {
                        label: "Date Range",
                        metric: date.formatDate(this.backtest.settings.startDate) + " - " + date.formatDate(this.backtest.settings.endDate),
                    },

                    {
                        label: "Status",
                        metric: this.backtest.status.charAt(0).toUpperCase() + this.backtest.status.slice(1),
                    }
                ];

                this.computeLogs(this.backtest);

                if (this.backtest.status == "exception") {
                        this.fire('iron-signal', {name:'partially-completed-backtest', data:{pctCompleted: -1}});
                    return ;
                }        
        
                if (this.backtest.status == "active") {
                    this.active = true;
                    this.subscribeData();
                    return;
                }

                if (this.backtest.output && this.backtest.output.analytics && this.backtest.output.analytics.rolling) {
                    this.addMetricData(this.backtest.output.analytics.rolling);
                }

                if (this.backtest.output.variables) {
                    // this variable is used because array changes are somehow not relaying back the template
                    this.hasTrackVarData = true;
                }

                this.$$('aq-backtest-performance-detail-item'). updateGraphProperties(this.hasTrackVarData);

                this.$$('aq-backtest-performance-detail-item').plotGraphs(); 
            },

            onGetBacktestError: function (e) {
                console.log(e);
            },

            computeLogs:function(backtest) {
                var logs = backtest ? (backtest.output ? (backtest.output.logs ? backtest.output.logs : null) : null) : null;

                if(logs) {
                    var logArray = []
                    Object.keys(logs).sort().forEach(key => {
                        var logForKey = logs[key];
                        
                        logs[key].forEach(log => {
                            logArray.push(JSON.parse(log));        
                        });
                        
                    });

                    this.backtestLogs = logArray;
                } 
            },

            addMetricData: function (data) {
                this.metrics = [{
                    "metricName": "Total Return",
                    "metricValue": data.totalreturn.toString() + '%',
                    "metricDescription": "Total Return"
                },
                    {
                        "metricName": "Annual Return",
                        "metricValue": data.annualreturn.toString() + '%',
                        "metricDescription": "Annual Return",
                    },
                    {
                        "metricName": "Volatility",
                        "metricValue": data.annualstandarddeviation.toString() + '%',
                        "metricDescription": "Volatility"
                    },
                    {
                        "metricName": "Sharpe Ratio",
                        "metricValue": data.sharperatio,
                        "metricDescription": "Sharpe Ratio"
                    },
                    {
                        "metricName": "Information Ratio",
                        "metricValue": data.informationratio,
                        "metricDescription": "Information Ratio"
                    },
                    //{"metricName":"Sortino Ratio", "metricValue":"2.5", "metricDescription":"Sortino Ratio"},
                    //{"metricName":"Avg. Drawdown", "metricValue":data.drawdown.toFixed(2).toString()+'%', "metricDescription":"Avg. Drawdown"},
                    {
                        "metricName": "Max Drawdown",
                        "metricValue": data.maxdrawdown.toString() + '%',
                        "metricDescription": "Max Drawdown"
                    },
                    {
                        "metricName": "Calmar Ratio",
                        "metricValue": data.calmarratio,
                        "metricDescription": "Calmar Ratio"
                    },
                    {"metricName": "Beta", "metricValue": data.beta, "metricDescription": "Beta"},
                    {
                        "metricName": "Stability",
                        "metricValue": (data.stability) ? data.stability : "-",
                        "metricDescription": "Stability"
                    },
                    {"metricName": "Alpha", "metricValue": data.alpha.toString() + '%', "metricDescription": "Alpha"},
                    //{"metricName":"Avg. Concentration", "metricValue":"0.43", "metricDescription":"Avg. Concentration"},
                ];
            },

            deepCopy: function(array) {
				return JSON.parse(JSON.stringify(array));
			},
        });
    </script>
    
</dom-module>

