<link rel='import' href='../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../../bower_components/iron-media-query/iron-media-query.html">
<link rel='import' href='./aq-backtest-metric-item.html'>

<dom-module id='aq-backtest-metric-item-list'>
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		#container {
			--padding-left: 10px;
			--background-color: #f5f5f5;
		}

		#header {
			margin-top: 20px;
			margin-bottom: 5px;
			font-size: 14px;
			font-weight: 700;
		}

	</style>

	<template>
		<iron-media-query query="(min-width: 1250px)" query-matches="{{superWide}}"></iron-media-query>

        <iron-media-query query="(min-width: 1000px)" query-matches="{{wide}}">
        </iron-media-query>

        <iron-media-query query="(min-width: 800px)" query-matches="{{semiWide}}"></iron-media-query>
      	
      	<iron-media-query query="(min-width: 640px)" query-matches="{{narrowWide}}"></iron-media-query>
      
        <iron-media-query query="(min-width: 560px)" query-matches="{{narrow}}"></iron-media-query>

        <div id="header">[[heading]]</div>
		<div id='container' class="layout horizontal around-justified">
			<template is='dom-repeat' id='repeater' items="{{modifiedItems}}">
                <aq-backtest-metric-item 
                	metric-name="{{item.metricName}}"
                 	metric-value="{{item.metricValue}}">
             	</aq-backtest-metric-item>
            </template>
		</div>
	</template>

	<script>
		Polymer({
			is:'aq-backtest-metric-item-list',

			properties: {
				metricItems:{
					type:Array,
					value:[],
					observer:'_metricItemschanged',
				},

				modifiedItems: Array,

				narrow: {
					type:Boolean,
					value:false,
				},
				narrowWide: {
					type:Boolean,
					value:false,
				},
				semiWide: {
					type:Boolean,
					value:false,
				},
				wide:{
					type:Boolean,
					value:false,
				},
				superWide:{
					type:Boolean,
					value:false,
				},
				forcedSemiWide:{
					type:Boolean,
					value:false,
				},

				heading: String,
			},

			observers:['_widthChanged(narrow, narrowWide, semiWide, wide, superWide, forcedSemiWide)'],

			_widthChanged: function() {
				if(this.metricItems) {
					this.modifiedItems = this.deepCopy(this.metricItems);
					this.manageWidth(); 
				}
			},

			deepCopy: function(array) {
				return JSON.parse(JSON.stringify(array));
			},

			_metricItemschanged: function() {
				this.modifiedItems = this.deepCopy(this.metricItems);
				this.manageWidth();
			},

			manageWidth: function() {
				if(this.modifiedItems) {

					var nItems = this.modifiedItems.length;
					var eIdx;

					if(nItems > 0) {
	            		eIdx = 2;

						if (this.superWide) {
		            		eIdx = nItems >= 8 ? 8 : nItems;
		            	}  else if (this.wide) {
		            		eIdx = nItems >= 6 ? 6 : nItems;
		            	} else if (this.semiWide) {
		            		eIdx = nItems >= 5 ? 5 : nItems;
		            	} else if (this.narrowWide) {
		            		eIdx = nItems >=4 ? 4 : nItems;
		            	} else if(this.narrow) {
							eIdx = nItems >=3 ? 3: nItems;
		            	}   

		            	// behave as if it's sem-wide
		            	if(this.forcedSemiWide && (!this.narrow || !this.narrowWide)) {
							eIdx = nItems >= 5 ? 5 : nItems;
		            	}

		            	var ct = nItems - eIdx;
		            	this.splice('modifiedItems', eIdx, ct);
	            	}
				}
			},


		});
	</script>
</dom-module>