		

<link rel='import' href='../../../bower_components/google-chart/google-chart.html'>
<link rel='import' href='../../../bower_components/chart-elements/chart-elements.html'>
<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./aq-community-postdetail-header.html">

<link rel="import" href="./aq-community-postdetail-content.html">
<link rel="import" href="./aq-community-postdetail-reply.html">

<dom-module id='aq-analyze-backtest-comparison-item'>	
	<style>	
		chart-line {
			width: 50%;
			height:30%;
		}

		chart-bar {
			width: 50%;
			height:30%;
		}

		aq-analyze-home-metric-item {
			height:50px;
		}

		.head span {
			--font-weight: bold;
			--margin-top: 20px;
			font-size: 18px;
		}

		.head {
			background-color: teal;
			text-align: center;
			height: 30px;
		}

		span {
			text-align: center;
			margin-top:15px;
		}
		.paper_align{
			position: absolute;
		    top: 20px;
		    right: 7px;
		}
		.a{
			text-align: -webkit-center;
			margin: 30px 0 30px 10px;
		}
		vaadin-grid{
			--vaadin-grid-header-row-height : 78px;
			--vaadin-grid-header-row-color : blue;
			--vaadin-grid-row-cell: blue;
		}
		vaadin-grid{
			background: blue;
		}
		#sort11 .v-table-header-cell{
			background: blue;
		}
		.c{
			background: blue;
		}
		.vaadin-grid-0{
			background-color: green;

		}
	</style>

	<template>
		
		<div class="goBackButton layout horizontal">
            <paper-icon-button noink class="self-center" title="Go Back" icon="icons:arrow-back" on-tap="goBack1"></paper-icon-button>
            <div class="flex"><h3>Back to Comparision</h3></div>
          </div>
		<div id='comparison-return' class="">

			<div style="display: flex;justify-content: space-between;">
				<h2 style="margin-left: 10px; margin-bottom: 30px">Compare Backtests Objects: </h2>
				<paper-tabs style="margin-top: 20px" noink selected={{graphType1}}>
					<paper-tab>Line Graph</paper-tab>
					<paper-tab>Bar Graph</paper-tab>
					<paper-tab>Comparision Table</paper-tab>
				</paper-tabs>
			</div>
			<iron-ajax auto
				  id="ajax2"
				  url=""
		          handle-as="json"
		          on-response="handleResponse1"
		          >
		          </iron-ajax>
			<iron-ajax auto
				  id="ajax1"
				  url=""
		          handle-as="json"
		          on-response="handleResponse"
		          >
		          </iron-ajax>
		          
			<iron-pages class="a" selected={{graphType1}}>
		  		<iron-page>

				<nvd3-line 
		  			id="chart-line1" 
		  			class="bar1" 
		  			height=460
		  			width=900
		  			show-legend 
		  			use-interactive-guideline 
		  			auto-resize 
		  			no-data="No Data Available!" 
		  			data=[[lineData]]>
		  		</nvd3-line>
		  		</iron-page>
		  		<iron-page>

				<nvd3-multi-bar 
		  			id="chart-bar" 
		  			class="bar" 
		  			height=460
		  			width=900
		  			show-legend 
		  			use-interactive-guideline 
		  			auto-resize 
		  			no-data="No Data Available!" 
		  			data=[[barData]]>
		  		</nvd3-multi-bar>
		  		</iron-page>
		  		<iron-page>
		  		<div style="width:100%">
		  		<vaadin-grid id="sort11" style="overflow: scroll;width: 100%">
				  <table>
				    <colgroup class="c">
				      <col name="Strategy Name" sortable/>
				      <col name="Total Return1" sortable/>
				      <col name="Avg Return" sortable/>
				      <col name="Avg Volatility" sortable/>
				      <col name="Sharpe Ratio" sortable/>
				      <col name="Information Ratio" sortable/>
				      <col name="Sortino Ratio" sortable/>
				      <col name="Avg Drawdown" sortable/>
				      <col name="Max Drawdown" sortable/>
				      <col name="Calmar Ratio" sortable/>
				      <col name="Beta Value" sortable/>
				      <col name="Stability" sortable/>
				      <col name="Avg Concentration" sortable/>
				    </colgroup>
				  </table>
				</vaadin-grid>
				</div>
				</iron-page>
	  		</iron-pages>
		</div>
		
		<div id='comparison-risk' class = "layout horizontal flex">
			<iron-ajax auto url="../common/data.json"
	          handle-as="json"
	          on-response="handleResponse_grid"
	          debounce-duration="300"></iron-ajax>			
		</div>	
			
	</template>
	<script>
		Polymer ({
			is:'aq-analyze-backtest-comparison-item',
			
			properties:{
				graphType1: {
					type:Number,
					value:2,
				},

				lineData: {
					type: Object,
					value: [], 
				},
				barData: {
					type: Object,
					value: [],
							}
			},
			ready: function(){
				var claims = [];
				claims.push({
		            'Total Return1': '14.3%',
		            'Avg. Return': '3.4%',
		            'Avg. Volatility': '5.6%',
		            'Sharpe Ratio': "0.82",
		            'Information Ratio': "0.5",
		            'Sortino Ratio': "1.6",
		            'Avg. Drawdown': "4.5%",
		            'Max. Drawdown': "5.6%",
		            'Calmar Ratio': "2.4",
		            'Beta': "0.98",
		            'Stability': "0.88",
		            'Avg. Concentration': "0.52"
		        });
		        	this.$.ajax2.url = "http://localhost:8080/src/components/common/data3.json";
					console.log(this.$.ajax2.url);
			        this.$.ajax2.generateRequest();
		        	this.$.ajax1.url = "http://localhost:8080/src/components/common/data1.json";
					console.log(this.$.ajax1.url);
			        this.$.ajax1.generateRequest();
			        
		     //    setTimeout(function(){var grid = document.querySelector('#sort');
		     //    console.log('claims',claims);
		     //    console.log(grid);
		     //    grid.items = claims;
		    	// },6000);
			},
			handleResponse: function(e){

				this.set('lineData',e.detail.response);

				console.log(e.detail.response);

				
				

			},
			handleResponse1: function(e){

				this.set('barData',e.detail.response);
				console.log(this.barData);
				console.log('barData');
				
				
				

			},
			goBack1() {
		          this.fire('backClicked_all');
		      },
			handleResponse_grid: function(e){
				var items1=[];
				var grid1 = document.querySelector('#sort11');

				var a = e.detail.response.result;
				console.log(e.detail.response.result.length);
				for(var i=0; i<e.detail.response.result.length;i++){
					items1.push({
			            'Strategy Name': e.detail.response.result[i].Strategy,

			            'Total Return1': e.detail.response.result[i].Total_Return1,
			            'Avg Return': e.detail.response.result[i].Avg_Return1,
			            'Avg Volatility': e.detail.response.result[i].Avg_Volatility,
			            'Sharpe Ratio': e.detail.response.result[i].Sharpe_Ratio,
			            'Information Ratio': e.detail.response.result[i].Information_Ratio,
			            'Sortino Ratio': e.detail.response.result[i].Sortino_Ratio,
			            'Avg Drawdown': e.detail.response.result[i].Avg_Drawdown,
			            'Max Drawdown': e.detail.response.result[i].Max_Drawdown,
			            'Calmar Ratio': e.detail.response.result[i].Calmar_Ratio,
			            'Beta Value': e.detail.response.result[i].Beta,
			            'Stability': e.detail.response.result[i].Stability,
			            'Avg Concentration': e.detail.response.result[i].Avg_Concentration

			        });
			        
			        console.log('items1');
				}
					grid1.items = items1;
					grid1.frozenColumns = 1;


			}
		});
	</script>
</dom-module>
