
<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../icons/aq-iconset.html'>
<link rel="import" href="../common/aq-backtest-detail-item.html">
<link rel="import" href="../common/aq-check-authentication.html">
<link rel="import" href="../common/aq-loading-progress.html">

<dom-module id="aq-analyze-detail">
	
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		.container {
			width:95%;
			margin-top: 0px;
		    color: #24293d; 
		    --margin-left: 50px;
		    margin: 0 auto;
	  	}

		paper-button {
			text-transform: none;
			font-size: 14px;
			color:#cc6666;
		 	margin-bottom: 10px;
            width: 50px;
		}
  	</style>

	<template>
	 	<aq-check-authentication id='authItem'></aq-check-authentication>
	
    		<aq-loading-progress loading='{{loading}}'></aq-loading-progress>
		  	
		  	<div class='container layout vertical self-center'>
			    <template is='dom-if' if='{{!loading}}'>
			    	
			      	<paper-button noink id='backButton' title="Go Back" on-tap="goBackAllBacktests"><iron-icon icon="chevron-left" ></iron-icon> Back
		            </paper-button>

			      	<aq-backtest-detail-item loading="{{loading}}" backtest-id="[[backtestId]]" index="{{index}}"></aq-backtest-detail-item>
		      	</template>
      		</div>
	</template>

	<script>
		Polymer ({
			is:'aq-analyze-detail',
			
			properties:{
				strategyId:String,
				backtestId:String,

				routeData:Object,

				loading:{
					type:Boolean,
					value:false,
				},
				index:{
					type:String
				}
			},

			goBackAllBacktests: function() {
				this.fire('unsubscribe-data',{backtestId:this.backtestId});
				this.fire('rt-changed',{route:'/dashboard/analyze/' + this.strategyId});
			},

			attached: function() {
				if(!this.$.authItem.checkHasToken()) {
         	 		this.fire('rt-changed',{route:'/user/signin'});
	          		return;
	          	} 
			},

		});
			
	</script>
			
</dom-module>


