<link rel='import' href="../../../bower_components/iron-scroll-spy/iron-auto-scroll-spy.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-signals/iron-signals.html'>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">
<link rel='import' href='../../icons/aq-iconset.html'>
<link rel="import" href="../../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../common/aq-backtest-metric-item-list.html">
<link rel="import" href="../common/aq-backtest-header-item.html">
<script src="../../../resources/scripts/DateTime.js"></script>

<dom-module id='aq-analyze-home-backtest-item2'>
    <template>
    	<style  include="iron-flex iron-flex-alignment iron-positioning">
    	</style>

        <style>
            :host {
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
                display: inline-block;
                width: 100%;
                border-radius: 2px;
                color: #646464;
                margin-bottom: 30px;
            }

            paper-checkbox {
                --paper-checkbox-checked-color: #cc6666;

            }

            h1, h2, h3, h4, h5 {
                margin: 0;
            }

            .row-container {
                position: relative;
                padding: 10px 0;
                padding-bottom: 35px;
            }

            .upper-container {
                display: flex;
                flex-direction: row;
                padding: 5px 20px;
                position: relative;
            }

            ul {
                list-style: none;
                padding-left: 0;
                margin: 0;
            }

            .middle-container {
                padding-top: 10px;
                margin-left: 
            }

            .middle-container ul {
                padding: 0 20px;
                justify-content: space-between;
            }

            li {
                display: inline-block;
                margin-right: 20px;
            }

            .bar {
                width: 95%;
                height: 1px;
                background-color: #D8D8D8;
                position: relative;
                margin: 0 auto;
                margin-top: 7px;
            }

            .lower-container {
                padding: 0 20px;
                margin-top: 10px;
            }

            .lower-container ul {
                display: flex;
                justify-content: space-between;
                margin: 15px 0;
            }

            .li-container {
                text-align: center;
            }

            .text-label {
                font-size: 0.8em;
                font-weight: 300;
                text-align: center;
            }

            .text-content {
                font-weight: 400;
                font-size: 1em;
                margin-left: 5px;
            }

            .header-text {
                color: #474747;
                font-size: 14px;
            }

            .side-bar {
                left: 0;
                top: 0;
                width: 5px;
                height: 100%;
                background-color: #cc6666;
                position: absolute;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                transition: all 0.2s ease-in-out;
                transform-origin: left;
                transform: scale(0, 1);
            }

            #expandBtn {
                transition: all 0.4s ease-in-out 0.3s;
                right: 5px;
                position: absolute;
                margin-right: 5px;
                bottom: -2px;
            }

            .topbar-icon-container {
                position: absolute;
                right: 10px;
                top: -5px;
            }

            paper-icon-button {
                color: teal;
            }

            #share-icon {
                transform: scale(0.9, 0.9);
            }

            iron-collapse {
                --iron-collapse-transition-duration: 0ms;
            }

            aq-qqq{
            	display: inline-block;
            }

        </style>

        <iron-signals on-iron-signal-expand-backtest="toggle"></iron-signals>
        <iron-signals on-iron-signal-select-backtest="selectBacktest"></iron-signals>
        <div class="row-container">
            <div class="upper-container">
                <paper-checkbox on-change="onChange" noink></paper-checkbox>
                <h1 class="header-text">BackTest [[formatIndex(index)]]</h1>
                
                <div class="topbar-icon-container">
                    <template is='dom-if' if="[[shareIcon]]">
                    	<paper-icon-button id="share-icon" title="Share" on-tap="onShare" icon="social:share"></paper-icon-button>
                    </template>

                    <template is='dom-if' if="[[detailIcon]]">
                    	<paper-icon-button id="trending-icon" title="Detail" on-tap="onBacktestDetail"
                                       icon="trending-up"></paper-icon-button>
                	</template>
                </div>
            </div>

            <div class="middle-container">
            	<template is='dom-if' if='[[backtestHeader]]'>
        			<aq-backtest-header-item header-items="[[backtestHeader]]"></aq-backtest-header-item>
        		</template>
            </div>

            <div class="bar"></div>


            <template is='dom-if' if='[[processedBacktest.metrics]]'>
		            
	            <iron-collapse>
	                <div class="lower-container">
	                   
                   	    <aq-backtest-metric-item-list 
		            		metric-items="{{processedBacktest.metrics}}">
		                </aq-backtest-metric-item-list>

	                </div>

	                <div class="bar"></div>
	            </iron-collapse>
	            
	            <template is='dom-if' if='[[!expand]]'>
	            	<paper-icon-button noink id="expandBtn" title="Show More" on-click="toggle" icon="expand-more"></paper-icon-button>
            	</template>

	            <template is='dom-if' if='[[expand]]'>
	            	<paper-icon-button noink id="expandBtn" title="Show Less" on-click="toggle" icon="expand-less"></paper-icon-button>
	            </template>
            </template>
            <div class="side-bar"></div>
        </div>

    </template>
    <script>
        Polymer({
            is: 'aq-analyze-home-backtest-item2',
            
         	observers: [
            	'_widthChanged(narrow, narrowWide, semiWide, wide)'
            ],

            properties: {
                backtest: {
                    type: Object,
                },

                index: String,

                processedBacktest: {
                    type: Object,
                    value: {},
                },

                backtestId: String,

                expand: {
                	type:Boolean,
                	value:false,
                },

                detailIcon: Boolean,
                shareIcon: Boolean,
               
            },

            attached: function () {
            	this.$$('paper-checkbox').checked = false;
            	this.$$('.side-bar').style.transform = "scale(0,1)";
                this.backtestId = this.backtest._id;
                this.processBacktestData();
            },

            formatIndex: function (index) {
                return index + 1;
            },

            processBacktestData: function () {
                var metricsArray1 = [];
                var metricsArray2 = [];

                if (this.backtest.output && this.backtest.output.summary) {
                    var data = this.backtest.output.summary;
                    this.set('processedBacktest.metrics', [{
                        "metricName": "Total Return",
                        "metricValue": data.totalreturn.toFixed(2).toString() + '%',
                        "metricDescription": "Total Return"
                    },
                        {
                            "metricName": "Annual Return",
                            "metricValue": data.annualreturn.toFixed(2).toString() + '%',
                            "metricDescription": "Annual Return",
                        },
                        {
                            "metricName": "Volatility",
                            "metricValue": data.annualstandarddeviation.toFixed(2).toString() + '%',
                            "metricDescription": "Volatility"
                        },
                        {
                            "metricName": "Sharpe Ratio",
                            "metricValue": data.sharperatio.toFixed(2),
                            "metricDescription": "Sharpe Ratio"
                        },
                        {
                            "metricName": "Beta",
                            "metricValue": data.beta ? data.beta.toFixed(2) : "-",
                            "metricDescription": "beta"
                        },
                        {
                            "metricName": "Information Ratio",
                            "metricValue": data.informationratio.toFixed(2),
                            "metricDescription": "Information Ratio"
                        },
                        {
                            "metricName": "Max Drawdown",
                            "metricValue": data.maxdrawdown.toFixed(2).toString() + '%',
                            "metricDescription": "Max Drawdown"
                        },
                        {
                            "metricName": "Calmar Ratio",
                            "metricValue": data.calmarratio.toFixed(2),
                            "metricDescription": "Calmar Ratio"
                        },
                        {
	                     	"metricName":"Stability",
	                     	"metricValue":"-",
	                     	"metricDescription":"Stability"
                     	},
                     	{
	                	    "metricName":"Avg. Concentration",
		                    "metricValue":"-",
		                    "metricDescription":"Avg. Concentration"
                     	}
                        ]);
                }

                this.set('processedBacktest.startDate', date.formatDate(this.backtest.settings.startDate));
                this.set('processedBacktest.endDate', date.formatDate(this.backtest.settings.endDate));
                this.set('processedBacktest.status', this.backtest.status.charAt(0).toUpperCase() + this.backtest.status.slice(1));
                this.set('processedBacktest.createdAt', date.formatDateTime(this.backtest.createdAt));

                this.backtestHeader = [
    				{	label: "Created",
    					metric: this.processedBacktest.createdAt, 
    				}, 

                	{
                		label: "Date Range",
                		metric: this.processedBacktest.startDate + " - " + this.processedBacktest.endDate
                	},

                	{
                		label: "Status",
                		metric: this.processedBacktest.status
                	},

                	{
                		label: "Total Return",
                		metric: !this.isBacktestActive(this.backtest) ? this.backtest.output.summary.totalreturn.toFixed(2).toString() + '%' : "-",
                	},

                	{
                		label: "Sharpe Ratio",
                		metric: !this.isBacktestActive(this.backtest) ? this.backtest.output.summary.sharperatio.toFixed(2) : "-",
                	}];
            },

            isBacktestActive: function (backtest) {
                return backtest.status != "complete"; 
            },

            onBacktestDetail: function () {
                this.fire('detail-action', {id: this.backtest._id, index: this.index});
            },

            onShare: function () {
                this.fire('shareClicked', {id: this.backtest._id});
            },

            toggle: function (e) {

				this.ironCollapse = this.$$('iron-collapse');

            	var isOpen = this.ironCollapse.opened;

            	if(e.detail.expand && isOpen) {
            		return;
            	} else if(e.detail.expand == false && !isOpen) {
            		return;
            	}
            	
                this.ironCollapse.toggle();

                this.expand = this.ironCollapse.opened;
                            },

            onChange: function () {
                this.fire('backtestChecked', {
                    id: this.backtest._id,
                    checked: this.$$('paper-checkbox').checked,
                    index: "Backtest "+this.formatIndex(this.index)
                });

                this.toggleSidebar();
            },

            toggleSidebar: function () {
                if (this.$$('paper-checkbox').checked)
                    this.$$('.side-bar').style.transform = "scale(1,1)";
                else
                    this.$$('.side-bar').style.transform = "scale(0,1)";
            },

            selectBacktest: function (e) {
                this.$$('paper-checkbox').checked = e.detail.checked;
                this.onChange();
            }

        });

    </script>
    
</dom-module>


