<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/paper-drawer-panel/paper-drawer-panel.html'>
<link rel='import' href='../../icons/aq-iconset.html'>
<link rel="import" href="../common/aq-backtest-detail-item.html">
<link rel="import" href="aq-analyze-compare-results.html">
<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>

<script src="../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
		
<link rel='import' href="../../../bower_components/iron-scroll-spy/iron-auto-scroll-spy.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>


<dom-module id='aq-analyze-compare'>
	
	<style include="iron-flex iron-flex-alignment iron-positioning">
     
      paper-button {
        color: white;
        margin: 10px;
        background-color: var(--google-blue-700);
        white-space: nowrap;
      }
      button {
        display: block;
        line-height: 40px;
        background-color: transparent;
        border: none;
        font-size: 14px;
        margin: 20px;
      }
      .overflowScroll{
      	overflow: scroll;
      }

      paper-checkbox {
      	margin-top: 30px;
      	margin-left: 9px;
      }

      paper-card {
			width:100%;
			margin-bottom: 20px;			
		}
		
		a {
			cursor: pointer;
		}

		.metric {
			margin-right: 10px;
			margin-left:10px;
			margin-top: 20px;
			margin-bottom: 5px;
			--max-width:200px;
			font-size:12px;
			--min-width: 75px;
		}

		.metric1 {
			margin-right: 10px;
			margin-left:10px;
			margin-top: 20px;
			margin-bottom: 5px;
			--width:200px;
			font-size:12px;
			max-width: 200px;
			--min-width:50px;
		}
		.g{
			display: block !important;
		}

    </style>

	<template>

		
		<template is="dom-if" if="{{noComparision}}">
		
			<paper-drawer-panel right-drawer force-narrow="true">
			    <div drawer>
			        <button tabindex="0">Strategy 1</button>
			        <button tabindex="1">Strategy 2</button>
			        <button tabindex="2">Strategy 3</button>
			        <button tabindex="3">Strategy 4</button>
			        <button tabindex="4">Strategy 5</button>
			        <button tabindex="5">Strategy 6</button>
			        <button tabindex="6">Strategy 7</button>
			        <button tabindex="7">Settings 8</button>
			        <button tabindex="8" paper-drawer-toggle>Close drawer</button>
			    </div>
		  		<div main class="overflowScroll">
				        <!-- <paper-button class="g" paper-drawer-toggle="" raised="" role="button" tabindex="0" animated="" aria-disabled="false" elevation="1" class="x-scope paper-button-0">tosdggle drawer<paper-ripple class="style-scope paper-button">
    

						    <div id="background" class="style-scope paper-ripple" style="opacity: 0.001532;"></div>
						    <div id="waves" class="style-scope paper-ripple"></div>
						  </paper-ripple></paper-button> -->
		  			
		  			<div>
		  				<div style="display: flex;justify-content: space-between;">
		  					<div><h2 style="margin-left: 12px">Backtests for the selected strategy</h2></div>
			    			<div>
			    			<paper-icon-button paper-drawer-toggle class="g" style="float: right; margin-top: 12px; margin-right: 12px; background: #cf6766" noink icon="menu" ></paper-icon-button>
			    				<paper-icon-button style="float: right; margin-top: 12px; margin-right: 12px; background: #cf6766" noink icon="menu" on-tap="goComparision"></paper-icon-button>

			    			</div>

		  				</div>
		  				<div style="width: 95%; margin: auto;">
							<aq-analyze-home-backtest-item></aq-analyze-home-backtest-item>
							<aq-analyze-home-backtest-item></aq-analyze-home-backtest-item>
							<aq-analyze-home-backtest-item></aq-analyze-home-backtest-item>
							<aq-analyze-home-backtest-item></aq-analyze-home-backtest-item>
							<aq-analyze-home-backtest-item></aq-analyze-home-backtest-item>
						</div>
				
						

		  			</div>
			        
		        </div>
			</paper-drawer-panel>
		</template>

		<template is="dom-if" if="{{!noComparision}}">
			<div style="width: 95%; margin: auto;margin-top: 15px">
		  			<paper-icon-button style="margin-bottom: 40px" noink icon="vaadin-icons:angle-double-left" on-tap="goBack">
					</paper-icon-button><span style="font-size: 20px">Back to Stategies</span>
				<aq-backtest-comparison-item></aq-backtest-comparison-item>
			</div>
		</template>
		
	</template>

	<script>
		Polymer ({
			is:'aq-analyze-compare',
			
			properties : {
				noComparision:{
					type: Boolean,
					value: true
				}
			},
			goBack: function(){
				this.router.go('/dashboard/analyze/compare');
			},
			toggle: function() {
				this.$.collapse.toggle();
			},
			goComparision: function() {
				this.set('noComparision', false);
			}


			// onCompare: function() {
			// 	this.router.go('/dashboard/analyze/compare/x');
			// },

		});
	</script>
</dom-module>
