<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id='aq-analyze-home-menu'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>
  
	<style>

		#search {
		  height: 60px;
		  line-height: 48px;
		  --margin-bottom: 12px;
		  position: relative;
		  display:none;
		  z-index:2;
		}
	
		#search iron-icon {
		  margin-left: 16px;
		  margin-right: 8px;
		  position: absolute;
		  top: 12px;
		  left: 2px;
		}

		#search paper-icon-button {
		  margin-left: 8px;
		  margin-right: 8px;
		  position: absolute;
		  top: 6px;
		  left: 2px;
		}

		#searchbox {
		  height: 46px;
		  -webkit-appearance: none;
		  line-height: 46px;
		  border: 0;
		  margin: 0;
		  padding-left: 50px;
		  border: 1px solid #e5e5e5;
		  @apply(--paper-font-body1);
		  width:100%;
		  font-size: 16px;
		  z-index: 2;
		}

		#searchbox:focus {
		  outline: 0;
		  background-color: #eceff1;
		  border-color: #cfd8dc;
		}

		#searchbox::-webkit-search-cancel-button{
		  position: relative;
		  right: 15px;
		}

		.toolbar {
			height: 60px;
			width: 98%;
		    --border:1px solid;
		}

		#menu-icons {
			position:relative;
			float:right;
			margin: auto 0;
		}

		paper-icon-button {
			outline:1px solid;
			width:35px;
    		height:35px;
    		margin-right: 10px;
    		min-width:25px;
    		max-width:35px;
    		--color:#188364; 
		}

		paper-icon-button:active {
			padding: 10px;
		}

		#backButton {
			margin:auto 0;
			outline: none !important;
		}

		.iconButton {
			outline:1px solid teal;
			padding:5px;
			width:35px;
    		margin-right: 10px;
    		color: #cf6766;
    		--paper-icon-button-disabled-text:grey;
    		--paper-icon-button-disabled:{
				color: #cacaca !important;
			};
		}

		.iconButton:active {
			padding: 8px;
		}
		
	</style>
	
	<template>
	    <div class="toolbar layout horizontal">
	    
	    	<paper-icon-button noink id="backButton" title="Go Back" icon="aq-icons:arrow-back" on-tap="goToEditor">
	  			</paper-icon-button>

	    	<p class="self-center flex">Back to Strategies</p>

	      	<div id='menu-icons' class="layout horizontal">
	  			<paper-icon-button noink class="iconButton" icon="aq-icons:delete" title="Delete"  on-tap="onDelete" disabled="[[!isDeleteActive(numActiveBacktests)]]">
	  			</paper-icon-button>

				<paper-icon-button noink class="iconButton" icon="aq-icons:chrome-reader-mode" title="Compare" on-tap="onCompare" disabled="[[!isCompareActive(numActiveBacktests)]]">
				</paper-icon-button>
					
			</div>      	
  		</div>

	</template>
	
	<script>
		Polymer ({
			is: 'aq-analyze-home-menu',

			properties: {
				strategyName:{
					type:String,
				},

				numActiveBacktests:{
					type:Number,
					value:0,
				},
			},

			isCompareActive: function(numActiveBacktests) {
				return numActiveBacktests > 1 && numActiveBacktests <=5;
			},

			isDeleteActive: function(numActiveBacktests) {
				return numActiveBacktests > 0;
			},

			isShareActive: function(numActiveBacktests) {
				return numActiveBacktests == 1;
			},

			onDelete: function() {
				this.fire('deleteClicked');
			},

			onCompare: function() {
				this.fire('compareClicked');
			},

			/*onShare: function() {
				this.fire('shareClicked');
			},*/

            goToEditor: function() {
            	this.fire('backClicked');
            },

		});
		
	</script>
</dom-module>
