<link rel="import" href="./aq-analyze-backtest-detail.html">
<link rel="import" href="./aq-analyze-forwardtest-detail.html">

<dom-module id='aq-analyze-detail'>
	<template>
        <iron-lazy-pages restamp attr-for-selected="page" selected="[[_computeDetailPage(params.type)]]">
			<template is='iron-lazy-page' restamp page="detail-backtest">
	            <aq-analyze-backtest-detail
	            	current-path=[[currentPath]] 
	                backtest-id='[[typeId]]'
	                strategy-id='[[strategyId]]'
	                heading=[[params.heading]]>
	            </aq-analyze-backtest-detail>
	        </template>
            
            <template is='iron-lazy-page' restamp page="detail-forwardtest">
                <aq-analyze-forwardtest-detail 
                	current-path=[[currentPath]] 
                    forwardtest-id='[[typeId]]'
                    strategy-id='[[strategyId]]'>
                </aq-analyze-forwardtest-detail>
            </template>

        </iron-lazy-pages>
	</template>

	<script>
		Polymer({
			is: 'aq-analyze-detail',

			properties: {
				typeId: String,
				strategyId: String,
				params:Object,
				currentPath:Array
			},

			attached: function() {
				var currentPath = JSON.parse(JSON.stringify(this.currentPath));

				this.currentPath = [];

				currentPath.push({text:"All Strategies", route:"/research/strategy"});
				
				currentPath.push({text:this.params.strategyName, route:"/research/strategy/"+this.strategyId});
					
				if(this.params.type == "backtest") {
					currentPath.push({text:"All Backtests", route:"/research/backtests/"+this.strategyId});
					currentPath.push({text:this.params.heading});
				} else {
					//currentPath.push({text:this.params.strategyName, route:"/research/strategy/"+this.strategyId});
					currentPath.push({text:"Forward Test"});
					
				}

				this.currentPath = currentPath;

				document.title = "Backtest Detail for " + this.params.strategyName + " - AimsQuant";
			},

			_computeDetailPage: function(type) {
				return type == "backtest" ? "detail-backtest" : (type == "forward" ? "detail-forwardtest" : "yamma");
			},
			
		});
	</script>
</dom-module>