<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel='import' href='../../icons/aq-iconset.html'>
<link rel="import" href="../common/aq-sub-toolbar.html">

<dom-module id='aq-analyze-home-menu'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>
    <style>

		#search {
		  height: 60px;
		  line-height: 48px;
		  --margin-bottom: 12px;
		  position: relative;
		  display:none;
		}
	
		#search iron-icon {
		  margin-left: 16px;
		  margin-right: 8px;
		  position: absolute;
		  top: 12px;
		  left: 2px;
		}

		#search paper-icon-button {
		  margin-left: 8px;
		  margin-right: 8px;
		  position: absolute;
		  top: 6px;
		  left: 2px;
		}

		#searchbox {
		  height: 46px;
		  -webkit-appearance: none;
		  line-height: 46px;
		  border: 0;
		  margin: 0;
		  padding-left: 50px;
		  border: 1px solid #e5e5e5;
		  @apply(--paper-font-body1);
		  width:100%;
		  font-size: 16px;
		  /*z-index: 2;*/
		}

		#searchbox:focus {
		  outline: 0;
		  background-color: #eceff1;
		  border-color: #cfd8dc;
		}

		#searchbox::-webkit-search-cancel-button{
		  position: relative;
		  right: 15px;
		}
		#backButton {
			margin:auto 0;
			outline: none !important;
		}


		paper-tooltip.iconTooltip {
        	--paper-tooltip: {
          		font-size: 13px;
          		min-width: 40px;
          		text-align: center;
        	};

        	--paper-tooltip-opacity: 1.0;
			--paper-tooltip-background: teal;
		}
        paper-button{
            border:none;
        }
        #expand_all{
            color:#cc6666;
            font-size: 13px;
            position: relative;
            top:2px;
        }
        paper-checkbox{
            --paper-checkbox-checked-color: #cc6666;
        }
        .iconTooltip {
            --paper-tooltip: {
                font-size: 13px;
                min-width: 40px;
                text-align: center;
            };
            --paper-tooltip-opacity: 1.0;
            --paper-tooltip-background: teal;
        }
        paper-icon-button{
            --paper-icon-button:{
                color:#cc4444;
            };

        }

	</style>
	
	<template>
        <aq-sub-toolbar>
            <!--<paper-icon-button noink id="backButton" title="Go Back" icon="aq-icons:arrow-back" on-tap="goToEditor">-->
            <!--</paper-icon-button>-->
            <paper-checkbox noink class="checkbox-all" checked="{{checkAll}}"
                            on-change='onCheckAllBacktest'></paper-checkbox>
            <p class="self-center flex">All Backtests</p>

            <div id='menu-icons'>
                <paper-button id="expand_all" on-tap="expandAll">EXPAND ALL</paper-button>
                <paper-icon-button  id='deleteIcon' noink class="iconButton" icon="aq-icons:delete" on-tap="onDelete" disabled="[[!isDeleteActive(numActiveBacktests)]]">
                </paper-icon-button>

                <paper-icon-button  id='compareIcon' noink class="iconButton" icon="aq-icons:chrome-reader-mode" on-tap="onCompare" disabled="[[!isCompareActive(numActiveBacktests)]]">
                </paper-icon-button>
            </div>

        </aq-sub-toolbar>

  		<paper-tooltip for='compareIcon' offset="2" class=' self-center iconTooltip' position="bottom" animation-delay="0" fit-to-visible-bounds>Compare</paper-tooltip>
        		
    	<paper-tooltip for='deleteIcon' offset="2" class=' self-center iconTooltip' position="bottom" animation-delay="0" fit-to-visible-bounds>Delete</paper-tooltip>
	</template>
	
	<script>
		Polymer ({
			is: 'aq-analyze-home-menu',

			properties: {
				strategyName:{
					type:String,
				},

				numActiveBacktests:{
					type:Number,
					value:0,
				},
                expand:{
				    type:Boolean,
                    value:true
                },
                checkAll:{
                    type:Boolean,
                    value:false
                }
			},

			isCompareActive: function(numActiveBacktests) {
				return numActiveBacktests > 1 && numActiveBacktests <=5;
			},

			isDeleteActive: function(numActiveBacktests) {
				return numActiveBacktests > 0;
			},

			isShareActive: function(numActiveBacktests) {
				return numActiveBacktests == 1;
			},

			onDelete: function() {
				this.fire('deleteClicked');
			},

			onCompare: function() {
				this.fire('compareClicked');
			},

			/*onShare: function() {
				this.fire('shareClicked');
			},*/

            goToEditor: function() {
            	this.fire('backClicked');
            },
            expandAll:function () {
                if(this.expand) {
                    this.fire('iron-signal',{name:'expand-backtest',data:{expand:this.expand}});
                    this.expand = false;
                }else{
                    this.fire('iron-signal',{name:'expand-backtest',data:{expand:this.expand}});
                    this.expand = true;
                }
            },
            onCheckAllBacktest: function () {
                this.fire('iron-signal',{name:'select-backtest',data:{checked:this.$$('paper-checkbox').checked}});
            }

		});
		
	</script>
</dom-module>
