<link rel='import' href="../../../bower_components/iron-scroll-spy/iron-auto-scroll-spy.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-signals/iron-signals.html'>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<link rel='import' href='../../icons/aq-iconset.html'>
<link rel="import" href="../../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../common/aq-backtest-metric-item.html">
<dom-module id='aq-analyze-home-backtest-item2'>
    <template>
        <style>
            :host {
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
                display: inline-block;
                width: 100%;
                border-radius: 2px;
                color: #646464;
                margin-bottom: 30px;
            }

            paper-checkbox {
                --paper-checkbox-checked-color: #cc6666;

            }

            h1, h2, h3, h4, h5 {
                margin: 0;
            }

            .row-container {
                position: relative;
                padding: 10px 0;
                padding-bottom: 35px;
            }

            .upper-container {
                display: flex;
                flex-direction: row;
                padding: 5px 20px;
                position: relative;
            }

            ul {
                list-style: none;
                padding-left: 0;
                margin: 0;
            }

            .middle-container {
                padding-top: 10px;
            }

            .middle-container ul {
                padding: 0 20px;
                display: flex;
                justify-content: space-between;
            }

            li {
                display: inline-block;
                margin-right: 20px;
            }

            .bar {
                width: 95%;
                height: 1px;
                background-color: #D8D8D8;
                position: relative;
                margin: 0 auto;
                margin-top: 7px;
            }

            .lower-container {
                padding: 0 20px;
                margin-top: 10px;
            }

            .lower-container ul {
                display: flex;
                justify-content: space-between;
                margin: 15px 0;
            }

            .li-container {
                text-align: center;
            }

            .text-label {
                font-size: 0.8em;
                font-weight: 300;
            }

            .text-content {
                font-weight: 400;
                font-size: 1em;
                margin-left: 5px;
            }

            .header-text {
                color: #474747;
                font-size: 14px;
            }

            .side-bar {
                left: 0;
                top: 0;
                width: 5px;
                height: 100%;
                background-color: #cc6666;
                position: absolute;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                transition: all 0.2s ease-in-out;
                transform-origin: left;
                transform: scale(0, 1);
            }

            #expand {
                transition: all 0.4s ease-in-out 0.3s;
                right: 5px;
                position: absolute;
                margin-right: 5px;
                bottom: -2px;
            }

            .topbar-icon-container {
                position: absolute;
                right: 10px;
                top: -5px;
            }

            paper-icon-button {
                color: teal;
            }

            #share-icon {
                transform: scale(0.9, 0.9);
            }

            iron-collapse {
                --iron-collapse-transition-duration: 100ms;
            }
        </style>
        <iron-signals on-iron-signal-expand-backtest="toggle"></iron-signals>
        <iron-signals on-iron-signal-select-backtest="selectBacktest"></iron-signals>
        <div class="row-container">
            <div class="upper-container">
                <paper-checkbox on-change="onChange" noink></paper-checkbox>
                <h1 class="header-text">BackTest [[formatIndex(index)]]</h1>
                <div class="topbar-icon-container">
                    <paper-icon-button id="share-icon" on-tap="onShare" icon="social:share"></paper-icon-button>
                    <paper-icon-button id="trending-icon" on-tap="onBacktestDetail"
                                       icon="trending-up"></paper-icon-button>
                </div>
            </div>
            <div class="middle-container">
                <ul class="upper-list">
                    <li class="text-label">Created: <span class="text-content">[[processedBacktest.createdAt]]</span>
                    </li>
                    <li class="text-label">Date Range: <span class="text-content">[[processedBacktest.startDate]] - [[processedBacktest.endDate]]</span>
                    </li>
                    <li class="text-label">Running Time:<span class="text-content">52s</span></li>
                    <li class="text-label">Status:<span class="text-content">[[processedBacktest.status]]</span></li>
                    <li class="text-label">Information Ratio:<span class="text-content">20.5%</span></li>
                </ul>
                <div class="bar"></div>
            </div>
            <iron-collapse>
                <div class="lower-container">
                    <ul>
                        <template is='dom-repeat' items="{{processedBacktest.metrics1}}">
                            <li>
                                <aq-backtest-metric-item 
                                	metric-name="{{item.metricName}}"
                                 	metric-value="{{item.metricValue}}">
                             	</aq-backtest-metric-item>
                            </li>
                        </template>

                        <template is='dom-repeat' 
                    			items="{{processedBacktest.metrics2}}">
                            <li>
                                <aq-backtest-metric-item 
                            		metric-name="{{item.metricName}}"
                                 	metric-value="{{item.metricValue}}">
                             	</aq-backtest-metric-item>
                            </li>
                        </template>
                    </ul>

                </div>
                <div class="bar"></div>
            </iron-collapse>
            
            <paper-icon-button noink id="expand" on-click="toggle" icon="expand-more"></paper-icon-button>
            <div class="side-bar"></div>
        </div>

    </template>
    <script>
        Polymer({
            is: 'aq-analyze-home-backtest-item2',
            expand: {
                type: Boolean,
                value: true
            },
            properties: {
                backtest: {
                    type: Object,
                },

                detailActive: {
                    type: Boolean,
                    value: false,
                },

                detailIcon: {
                    type: Boolean,
                    value: false,
                },

                shareIcon: {
                    type: Boolean,
                    value: false,
                },

                index: String,

                processedBacktest: {
                    type: Object,
                    value: {},
                },

                backtestId: String,

            },

            attached: function () {
                this.backtestId = this.backtest._id;

            },

            ready: function () {
                this.sideBar = this.$$('.side-bar');
                this.expandBtn = this.$.expand;
                this.ironCollapse = this.$$('iron-collapse');
                this.paperCheckBox = this.$$('paper-checkbox');
                this.set('processedBacktest.metrics1', [{
                    "metricName": "Total Return",
                    "metricValue": "-",
                    "metricDescription": "Total Return"
                },
                    {
                        "metricName": "Annual Return",
                        "metricValue": "-",
                        "metricDescription": "Annual Return",
                    },
                    {
                        "metricName": "Volatility",
                        "metricValue": "-",
                        "metricDescription": "Volatility"
                    },
                    {
                        "metricName": "Sharpe Ratio",
                        "metricValue": "-",
                        "metricDescription": "Sharpe Ratio"
                    }]);

                this.set('processedBacktest.metrics2', [{
                    "metricName": "Information Ratio",
                    "metricValue": "-",
                    "metricDescription": "Information Ratio"
                },
                    {
                        "metricName": "Max Drawdown",
                        "metricValue": "-",
                        "metricDescription": "Max Drawdown"
                    },
                    {
                        "metricName": "Calmar Ratio",
                        "metricValue": "-",
                        "metricDescription": "Calmar Ratio"
                    },
                    {
                        "metricName": "Beta",
                        "metricValue": "-",
                        "metricDescription": "Beta"
                    },
                    /*{
                     "metricName":"Stability",
                     "metricValue":"-",
                     "metricDescription":"Stability"
                     },
                     {
                     "metricName":"Avg. Concentration",
                     "metricValue":"-",
                     "metricDescription":"Avg. Concentration"
                     },*/]);
                this.processBacktestData();

            },

            formatIndex: function (index) {
                return index + 1;
            },

            processBacktestData: function () {
                var metricsArray1 = [];
                var metricsArray2 = [];

                if (this.backtest.output && this.backtest.output.summary) {
                    var data = this.backtest.output.summary;
                    this.set('processedBacktest.metrics1', [{
                        "metricName": "Total Return",
                        "metricValue": data.totalreturn.toFixed(2).toString() + '%',
                        "metricDescription": "Total Return"
                    },
                        {
                            "metricName": "Annual Return",
                            "metricValue": data.annualreturn.toFixed(2).toString() + '%',
                            "metricDescription": "Annual Return",
                        },
                        {
                            "metricName": "Volatility",
                            "metricValue": data.annualstandarddeviation.toFixed(2).toString() + '%',
                            "metricDescription": "Volatility"
                        },
                        {
                            "metricName": "Sharpe Ratio",
                            "metricValue": data.sharperatio.toFixed(2),
                            "metricDescription": "Sharpe Ratio"
                        },]);
                    this.set('processedBacktest.metrics2', [
                        {
                            "metricName": "Information Ratio",
                            "metricValue": data.informationratio.toFixed(2),
                            "metricDescription": "Information Ratio"
                        },
                        {
                            "metricName": "Max Drawdown",
                            "metricValue": data.maxdrawdown.toFixed(2).toString() + '%',
                            "metricDescription": "Max Drawdown"
                        },
                        {
                            "metricName": "Calmar Ratio",
                            "metricValue": data.calmarratio.toFixed(2),
                            "metricDescription": "Calmar Ratio"
                        },
                        {
                            "metricName": "Beta",
                            "metricValue": data.beta ? data.beta.toFixed(2) : "-",
                            "metricDescription": "beta"
                        }]);
                }

                this.set('processedBacktest.startDate', date.formatDate(this.backtest.settings.startDate));
                this.set('processedBacktest.endDate', date.formatDate(this.backtest.settings.endDate));
                this.set('processedBacktest.status', this.backtest.status.charAt(0).toUpperCase() + this.backtest.status.slice(1));
                this.set('processedBacktest.createdAt', date.formatDateTime(this.backtest.createdAt));

            },

            isBacktestActive: function (backtest) {
                return false;
            },
            onBacktestDetail: function () {
                this.fire('detail-action', {id: this.backtest._id, index: this.index});
            },

            onShare: function () {
                this.fire('shareClicked', {id: this.backtest._id});
            },
            toggle: function () {
                this.ironCollapse.toggle();
                if (this.ironCollapse.opened) {
                    this.expandBtn.style.transform = "rotate(180deg)";
                } else {
                    this.expandBtn.style.transform = "rotate(0deg)";
                }
            },
            onChange: function () {
                this.fire('backtestChecked', {id: this.backtest._id, checked: this.paperCheckBox.checked});
                this.toggleSidebar();
            },
            toggleSidebar: function () {
                if (this.paperCheckBox.checked)
                    this.sideBar.style.transform = "scale(1,1)";
                else
                    this.sideBar.style.transform = "scale(0,1)";
            },
            selectBacktest: function (e) {
                this.$$('paper-checkbox').checked = e.detail.checked;
                this.onChange();
            }

        });

    </script>
    <script type="text/javascript" src="../common/DateTime.js"></script>
</dom-module>