
<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../icons/aq-iconset.html'>
<link rel="import" href="../common/backtest/aq-forwardtest-detail-item.html">
<link rel="import" href="../common/aq-check-authentication.html">
<link rel="import" href="../common/aq-allpage-layout.html">
<link rel="import" href="../common/aq-navigation-item.html">

<dom-module id="aq-analyze-forwardtest-detail">
    
    <style  include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        #forwardtest-container {
            --margin-left: 0%;
            --margin-right: 0%;
            margin-top: 0px;
            margin-bottom: 5px;
        }

        #navigation-panel {
            margin-top: 5px;
            margin-bottom: 20px;
        }
    </style>

    <template>
        <iron-signals on-iron-signal-forwardtest-deleted='onForwardtestDeleted'></iron-signals>

        <iron-signals on-iron-signal-forwardtest-updated='onForwardtestUpdated'></iron-signals>

        <aq-check-authentication id='authItem'></aq-check-authentication>
        <!--aq-loading-progress loading={{loading}}></aq-loading-progress-->
        <aq-allpage-layout loading='[[loading]]' no-nav>
            <div class="internal-content" id="forwardtest-container">
                <template is='dom-if' if=[[!loading]]>
                    <div id='navigation-panel'>
                        <aq-navigation-item id="navigation-item" 
                            header="" 
                            path="[[currentPath]]">
                        </aq-navigation-item>
                    </div>
                </template>
                    
                <aq-forwardtest-detail-item 
                    forwardtest-id="[[forwardtestId]]"
                    loading={{loading}}>
                </aq-forwardtest-detail-item>
            </div>
        </aq-allpage-layout>
        
        <aq-action-dialog id="actionDialog" 
            heading="[[actionDialog.heading]]" 
            message="[[actionDialog.message]]" 
            action-type="[[actionDialog.actionType]]" 
            cancel-text="[[actionDialog.cancelText]]"
            accept-text="[[actionDialog.acceptText]]"
            affirmative="[[actionDialog.affirmative]]">
        </aq-action-dialog>  

    </template>

    <script>
        Polymer ({
            is:'aq-analyze-forwardtest-detail',
            
            properties:{
                strategyId:String,
                forwardtestId: String,

                loading:{
                    type:Boolean,
                    //value:false,
                },

                currentPath: {
                    type: Array,
                    value: ["Home", "Research", "All Strategies","Forward Test Detail"]
                }
            },

            listeners: {
               'stoptest-clicked':'onStopForwardTestDialog',
               'restarttest-clicked':'onRestartForwardTestDialog',
               'deletetest-clicked':'onDeleteForwardTestDialog',

               'stoptest-action':'onStopForwardTestAction',
               'restarttest-action':'onRestartForwardTestAction',
               'deletetest-action':'onDeleteForwardTestAction',
            },

            computeActionDialogAttributes: function(type) {
                if(type == "Stop") {
                    this.actionDialog={heading:"Stop Forward Test",
                        message:"Are you sure to stop this forward test?",
                        actionType:"stoptest",
                        cancelText:"Cancel",
                        acceptText: "Stop",
                        affirmative: false};
                } else if(type == "Restart") {
                    this.actionDialog={heading:"Restart Forward Test",
                        message:"Are you sure to restart this forward test?",
                        actionType:"restarttest",
                        cancelText:"Cancel",
                        acceptText: "Restart",
                        affirmative:true};
                } else if(type == "Delete") {
                    this.actionDialog={heading:"Delete Forward Test",
                        message:"Are you sure to delete this forward test?",
                        actionType:"deletetest",
                        cancelText:"Cancel",
                        acceptText: "Delete",
                        affirmative:false};
                }

                this.$.actionDialog.open();
            },

            onStopForwardTestDialog: function(e) {
                e.stopPropagation();
                this.computeActionDialogAttributes("Stop");
            },

            onRestartForwardTestDialog: function(e) {
                e.stopPropagation();
                this.computeActionDialogAttributes("Restart");
            },

            onDeleteForwardTestDialog: function(e) {
                e.stopPropagation();
                this.computeActionDialogAttributes("Delete");
            },

            onStopForwardTestAction: function(e) {
                e.detail.forwardtestIds = [this.forwardtestId];
                //EVENT IS HANDLED IN aq-dashboard-main
            },

            onRestartForwardTestAction: function(e) {
                e.detail.forwardtestIds = [this.forwardtestId];
                //EVENT IS HANDLED IN aq-dashboard-main
            },

            onDeleteForwardTestAction: function(e) {
                e.detail.forwardtestId = this.forwardtestId;
                //EVENT IS HANDLED IN aq-dashboard-main
            },

            goBackAllBacktests: function() {
                this.fire('unsubscribe-data',{backtestId:this.backtestId});
                this.fire('rt-changed',{route:'/research/backtests/' + this.strategyId});
            },

            attached: function() {
                if(!this.$.authItem.checkHasToken()) {
                    this.fire('rt-changed',{route:'/user/signin'});
                    return;
                } 
            },

            onForwardtestDeleted: function(e) {
                this.fire('rt-changed', {route:'/research/strategy'});
            },

            //Handle Stop
            onForwardtestUpdated: function(e) {
                var response = e.detail;
                if(!response.active) {
                    this.fire('rt-changed', {route: '/research/strategy'});
                }
            }

        });
            
    </script>
</dom-module>


