		

<link rel='import' href='../../../bower_components/google-chart/google-chart.html'>
<link rel='import' href='../common/aq-backtest-detail-item.html'>

<dom-module id='aq-analyze-home-backtest-item'>	
	<style>
		paper-card {
			width:100%;
			margin-bottom: 20px;			
		}
		
		a {
			cursor: pointer;
		}

		.metric {
			margin-right: 10px;
			margin-left:10px;
			margin-top: 20px;
			margin-bottom: 5px;
			--max-width:200px;
			font-size:12px;
			--min-width: 75px;
		}

		.metric1 {
			margin-right: 10px;
			margin-left:10px;
			margin-top: 20px;
			margin-bottom: 5px;
			--width:200px;
			font-size:12px;
			max-width: 200px;
			--min-width:50px;
		}

		paper-card p{
			width:200px;
		}

		paper-checkbox {
			height:15px;
			width:15px;
			size:10px;
			margin: 5px;
			padding: 0px;

			margin-top:15px;
		}

	 	#content :hover{
			color:teal;
			z-index:20;
		}

		.detail {
			margin:10px;
			--margin-bottom:0px !important;
			--height:250px;
			width:50%;
		}	

		.detailmetric {
			--border:1px solid teal;
			height:73px;
			--border-bottom:1px solid teal;
			--border-right:1px solid teal;

		}

		.detailmetric span{
			vertical-align: center;
			text-align: center;
			margin-top:15px;

		}

		.mdcontainer {
			margin-left:10px;
			margin-right:10px;
			--margin-top:5px;
			margin-bottom:8px;
			height:100px;
		}

	
		#detail-header {
			margin-bottom: 20px;
			margin-top:10px;
			margin-left:10px;
			font-weight: bold;
		}

	</style>

	<template>
		<paper-card>
			<div id='content' class="layout horizontal flex">		
				<paper-checkbox noink></paper-checkbox>

				<a href$="" on-click='toggle' class="layout horizontal flex"> 
				
					<div class="layout vertical metric flex">	
						<span>01/01/2010-01/01/2016</span>
						<span>Date Range</span>		
					</div>

					<div class="layout vertical metric1 flex">	
						<span>Completed</span>
						<span>Status</span>	
					</div>

					<div class="layout vertical metric1 flex">	
						<span>08/07/2016</span>
						<span>Created</span>					
					</div>


					<div class="layout vertical metric1 flex">	
						<div class="flex"><span>4.7</span></div>
						<div class="flex"><span>Total Return</span></div>	
					</div>

					<div class="layout vertical metric1 flex">	
						<div class="flex"><span id='m'>4.7</span></div>
						<div class="flex"><span>Avg. Return</span></div>	
					</div>

					<div class="layout vertical metric1 flex">		
						<div class="flex"><span>4.7</span></div>
						<div class="flex"><span>Volatility</span></div>	
					</div>

					<div class="layout vertical metric1">		
						<div class="flex"><span>4.7</span></div>
						<div class="flex"><span>Sharpe Ratio</span></div>	
					</div>
				</a>

			</div>	
			
			<iron-collapse id='collapse'>
				<div><aq-backtest-detail-item></aq-backtest-detail-item></div>
			</iron-collapse>

		</paper-card>
	</template>
	<script>
		Polymer ({
			is:'aq-analyze-home-backtest-item',
			
			properties:{
				lineData: {
					type:Object,
					value: {
					  labels: ["January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July"],
					  datasets: [
					    {
					      label: "Strategy",
					      //backgroundColor: "red",
					      borderColor: "red",// "rgba(220,220,220,1)",
					      borderWidth: 1,
					      lineTension:0,
					      pointRadius:1,
					      //pointBackgroundColor: "rgba(220,220,220,1)",
					      //pointBorderColor: "#fff",
					      //pointHoverBackgroundColor: "#fff",
					      //pointHoverBorderColor: "rgba(220,220,220,1)",
					      data: [65, 59, 80, 81, 56, 55, 40,65, 59, 80, 81, 56, 55, 40,65, 59, 80, 81, 56, 55, 40,65, 59, 80, 81, 56, 55, 40,65, 59, 80, 81, 56, 55, 40,65, 59, 80, 81, 56, 55, 40,65, 59, 80, 81, 56, 55, 40,65, 59, 80, 81, 56, 55, 40,65, 59, 80, 81, 56, 55, 40,65, 59, 80, 81, 56, 55, 40,65, 59, 80, 81, 56, 55, 40,65, 59, 80, 81, 56, 55, 40]
					    }]
					}, 
				},
				barData: {
					type:Object,
					value: {
					  labels: ["January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July","January", "February", "March", "April", "May", "June", "July"],
					  datasets: [
					    {
					      label: "Strategy",
					      //backgroundColor: "red",
					      borderColor: "red",// "rgba(220,220,220,1)",
					      borderWidth: 1,
					      lineTension:0,
					      //pointBackgroundColor: "rgba(220,220,220,1)",
					      //pointBorderColor: "#fff",
					      //pointHoverBackgroundColor: "#fff",
					      //pointHoverBorderColor: "rgba(220,220,220,1)",
					      data: [-65, -59, 80, 81, 56, 55, -40,65, 59, -80, 81, 56, 55, 40,-65, 59, 80, 81, -56, 55, 40,-65, 59, 80, 81, 56, -55, 40,65, -59, 80, 81, 56, 55, 40,65, -59, 80, 81, -56, 55, 40]
					    }]
					}, 
				},	
			},

			toggle() {
				this.$.collapse.toggle();
			},
		});
	</script>
</dom-module>