
<link rel='import' href='../../../bower_components/paper-checkbox/paper-checkbox.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-collapse/iron-collapse.html'>
<link rel='import' href='../../../bower_components/paper-datatable/paper-datatable.html'>
<link rel='import' href='../../../bower_components/paper-card/paper-card.html'>
<link rel='import' href='../../../bower_components/paper-dialog/paper-dialog.html'>
<link rel='import' href='../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html'>


<link rel='import' href='./aq-analyze-home-menu.html'>
<link rel='import' href='./aq-analyze-home-backtest-item.html'>
<link rel='import' href='../common/aq-backtest-comparison-item.html'>
<link rel='import' href='../common/aq-backtest-detail-item.html'>

<dom-module id='aq-analyze-home'>
	
	<style is="custom-style" include="iron-flex iron-positioning"></style>
  
	<style>
		:host{
			font-family: 'Roboto', sans-serif;
		}
	
		.metric {
			margin-right: 10px;
			margin-left:10px;
			margin-top: 20px;
			margin-bottom: 5px;
			width:150px;
		}

		.metric1 {
			margin-right: 10px;
			margin-left:10px;
			margin-top: 20px;
			margin-bottom: 5px;
			width:100px;
			font-size:12px;
		}

		#container {
			width:95%;
			margin:0 auto;
		    --margin-left: 30px;
		    --margin-right: 30px;
		    margin-top: 10px;
		    color: #333a56; 
		  }

	  	#dialog{
			width:80%;
			--height:80%;
		}

		#comparison {
			margin:20px;
			--height:400px;
		}	

	</style>

	<template>
		<iron-ajax
		  	auto	
          	url="http://localhost:3002/api/v2/strategy/[[strategyId]]"
     	 	method='GET'
          	id='getStrategyQuery'
          	handle-as="json"
          	on-response="onStrategy"
          	headers='{{header}}'
          	debounce-duration="300">
        </iron-ajax>
		<iron-ajax
		  	auto	
          	url="http://localhost:3002/api/v2/strategy/[[strategyId]]/backtests"
     	 	method='GET'
          	id='getBacktestsQuery'
          	handle-as="json"
          	on-response="onAllBacktests"
          	headers='{{header}}'
          	debounce-duration="300">
        </iron-ajax>
		
		<div id='container'>
			<aq-analyze-home-menu strategy-name="{{strategyName}}"></aq-analyze-home-menu>

			<template is='dom-repeat' items="{{backtests}}">
				<aq-analyze-home-backtest-item backtest={{item}}></aq-analyze-home-backtest-item>
			</template>

		</div>	

		<paper-dialog id='dialog' with-backdrop>
			<paper-dialog-scrollable id='comparison'>
				<aq-backtest-comparison-item></aq-backtest-comparison-item>
			</paper-dialog-scrollable>
		</paper-dialog>
			
    </template>

    <script>
    	Polymer({
    		is: 'aq-analyze-home',

    		properties: {
    			strategyName: String,
    			strategyId: String,
    			backtests: {
    				type:Object,
    				value:[
			            {first: 'Bob', last: 'Smith'},
			            {first: 'Sally', last: 'Johnson'},
			            {first: 'Sally', last: 'Johnson'},
			            {first: 'Sally', last: 'Johnson'},
			            {first: 'Sally', last: 'Johnson'},
			            {first: 'Sally', last: 'Johnson'},
			            {first: 'Sally', last: 'Johnson'},
			            {first: 'Sally', last: 'Johnson'},],
    			},
    		}, 
    		
			listeners :{
				'backClicked':'goToEditor',
				'compareClicked':'compareBacktests',
			},

			ready: function() {
	          	var x = localStorage.getItem('my-app-storage');
        	  	var user = JSON.parse(x).user;
	          	this.header = {
        	      	"aimsquant-token": user.token,
	              	"Content-Type": "application/json"
	          	};
	      	},

	      	attached() {
	      		//console.log("Attached in Analyze");
	      		//console.log(this.backtests);
	      		//console.log(this.strategyId);
	      		//console.log(this.strategyName);
	      	},

			goToEditor() {
				this.router.go('/dashboard/editor');
			},

			compareBacktests() {
				this.$.dialog.toggle();
			},

			onAllBacktests(data) {
				this.backtests = data.detail.response;
			},

			onStrategy(data) {
				this.strategyName = data.detail.response.name;
			}
    	});
    </script>

</dom-module>