<link rel='import' href='../../../bower_components/iron-pages/iron-pages.html'>
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../common/aq-check-authentication.html'>
<link rel='import' href='../common/aq-cumret-linechart.html'>
<link rel='import' href='../common/aq-aggregatedreturns-barchart.html'>
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel='import' href='../../icons/aq-iconset.html'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js" type="text/javascript"
        charset="utf-8"></script>
<script src="../common/aq-code-editor-element/ace-diff.js"></script>
<script src="../common/aq-code-editor-element/diff-match-patch.js"></script>
<link rel="import" href="../common/aq-code-editor-element/aq-code-editor-element.html">
<link rel="import" href="../common/aq-code-summary-element.html">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<dom-module id='aq-analyze-backtest-comparison-item'>
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        :host{
            font-family: 'Lato',sans-serif;
            padding-bottom: 20px;
        }
        paper-icon-button {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            min-width: 25px;
            max-width: 35px;
            --color: #188364;
        }

        #backButton {
            margin: auto 0;
            outline: none !important;
        }

        span {
            /*text-align: center;*/
            margin-top: 15px;
        }

        .paper_align {
            position: absolute;
            top: 20px;
            right: 7px;
        }

        .pages_select {
            /*text-align: -webkit-center;*/
            margin: 30px 0 30px 10px;
        }

        vaadin-grid {
            --vaadin-grid-header-row-height: 78px;
            --vaadin-grid-row-cell: blue;
        }

        #table_details__comparison {
            overflow: scroll;
            width: 100%;
        }

        .sub_header {
            display: flex;
            justify-content: space-between;
        }

        .vertical-textGraphs {
            transform: rotate(270deg);
            margin-right: -40px;
        }

        .horizontal-textGraphs {
            margin-top: -40px;
        }

        #comparison-return {
            background-color: transparent;
            margin-top: 0px;
            margin: 0 auto;
            width: 95%;
            /*padding: 10px;*/
        }

        paper-tab:hover {
            font-weight: bold;
            font-size: 110%;
        }

        paper-tabs {
            --paper-tabs-selection-bar-color: teal;
        }

        #cumRetLineChart {
            --margin-left: -100px;
            height: 400px;
            width: 100%;
            background-color: white;
            border: 1px solid teal;
            padding: 10px;
        }

        #monthlyReturnBarChart {
            --margin-left: -100px;
            height: 400px;
            width: 100%;
            background-color: white;
            border: 1px solid teal;
            padding: 10px;
        }

        .goBackButton {
            padding-left: 20px;
        }
        .back-btn-text{
            font-size: 14px;
            color:#cc4444;
            position: relative;
            /*left:-10px;*/
        }
        .goBackButton > paper-icon-button{
            color:#cc4444;
            transform:scale(1.6,1.6);
        }
        .pages-container{
            width: 95%;
            border-radius: 2px;
        }
        .tabs-container{
            margin-bottom: 20px;
        }
        .comparison-text{
            margin-left: 20px;
            color:#000;
            font-size:13px;
        }
        .backtest-item{
            font-size: 14px;
            font-weight: 700;
        }
        .vs-text{
            font-weight: 400;
            color:#8c8c8c;
        }
        .strategy-name{
            color:#cc4444;
            font-weight: 700;
        }
        aq-code-editor-element{
            --aq-code-editor-element-width: 100%;
            --aq-code-editor-element-height: 500px;
            position: relative;
            /*max-height: 700px;*/
        }
        .pages-container{
            margin-bottom: 20px;
        }
        paper-card{
            overflow: hidden;
            overflow-y: scroll;
        }
        #back-btn-text{
            cursor: pointer;
        }
    </style>

    <template>
        <aq-check-authentication id='authItem'></aq-check-authentication>

        <div class="goBackButton layout horizontal">
            <paper-icon-button noink id='backButton' class="self-center" title="Go Back" icon="chevron-left"
                               on-tap="goBackAllBacktests">
            </paper-icon-button>
            <p id="back-btn-text" class="self-center back-btn-text" on-tap="goBackAllBacktests">Back</p>
            <p class="comparison-text">
                <template is="dom-repeat" items="{{indexArray}}">
                    <span class="backtest-item">{{item}}</span>
                    <template is="dom-if" if="[[showVs(index,indexArray)]]">
                        <span class="vs-text">vs</span>
                    </template>
                </template>
                <span class="vs-text">comparison for <span class="strategy-name">{{strategyName}}</span></span>
            </p>
        </div>

        <div id='comparison-return' class="layout vertical center">

            <div class="layout horizontal tabs-container">
                <!--<p>Comparing Backtests for <i>{{strategyName}}</i></p>-->
                <div class="sub_header">
                    <paper-tabs noink selected={{graphType1}}>
                        <paper-tab>Total Return</paper-tab>
                        <paper-tab>Monthly Returns</paper-tab>
                        <paper-tab>Code Compare</paper-tab>
                        <paper-tab>Summary</paper-tab
                    </paper-tabs>
                </div>
            </div>
            <paper-card class="pages-container">
                <iron-pages class="pages_select" selected={{graphType1}} on-iron-resize='onResize'>

                    <div id='cumRetLineChartDiv'></div>
                    <div id='barChartDiv'></div>
                    <div id='codeCompare'>
                        <aq-code-editor-element backtest-index-array="{{indexArray}}" theme="ace/theme/monokai" mode="ace/mode/julia"></aq-code-editor-element>
                    </div>
                    <div id="codeSummary">
                        <aq-code-summary-element backtests="{{backtests}}" backtest-index-array="{{indexArray}}"></aq-code-summary-element>
                    </div>
                </iron-pages>
            </paper-card>
        </div>

        <div id='comparison-risk' class="layout horizontal flex">
        </div>

        <iron-ajax
                url="[[computeGetBacktestUrl(backtestId)]]"
                method='GET'
                id='getBacktestsQuery'
                handle-as="json"
                on-response="onGetBacktestSuccess"
                on-error="onGetBacktestError"
                headers='{{header}}'
                debounce-duration="300">
        </iron-ajax>

    </template>

    <script>
        Polymer({
            is: 'aq-analyze-backtest-comparison-item',

            properties: {
                compareItems: {
                    type: Object,
                },

                active: {
                    type: Boolean,
                    value: false,
                    observer: '_isActiveChanged',
                },

                backtests: {
                    type: Object,
                    value: {},
                },

                strategyName: String,

                counter: {
                    type: Number,
                    value: 0,
                },

                backtestId: String,

                graphType1: {
                    type: Number,
                    value: 0,
                },
                indexArray:{
                    type:Array,
                    value:[],
                    notify:true
                },

                header: Object

            },

            attached: function () {
                this.async(this.resetComparison, 200);
                if (this.active) {
                    this.async(this.doComparison, 200);
//                    console.log(this.indexArray);
                }

            },

            _isActiveChanged: function (newVal, oldVal) {
                if ((oldVal + 1) && newVal) {

                    this.async(this.resetComparison, 200);
                    this.async(this.doComparison, 200);
                }
            },

            computeGetBacktestUrl: function (backtestId) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                return APIEndPoint + '/backtest/' + backtestId;
            },

            doComparison: function () {
                console.log(this.compareItems);
                for (var key in this.compareItems) {
//                    console.log(this.compareItems[key]);
                    if (this.compareItems[key]) {
                        if (!this.backtests[key]) {

                            this.backtestId = key;
                            if (this.$.authItem.checkHasToken()) {
                                this.header = this.$.authItem.getHeader();
                                this.$.getBacktestsQuery.generateRequest();
                            }

                        } else {
                            this.addBacktestToComparison(this.backtests[key]);
                        }
                    }
                }
            },

            onGetBacktestSuccess: function (e) {
                var backtest = e.detail.response;
                this.backtests[backtest._id] = backtest;
                this.addBacktestToComparison(backtest);
                var backtestResponseArray = Object.values(this.backtests);
                if (Object.keys(this.compareItems).length === backtestResponseArray.length) {
                    console.log("Request Completed");
                    var code_editor = this.$$('aq-code-editor-element');
                    var code_summary_element = this.$$('aq-code-summary-element');
                    var codeLeft = "var a = {\n propertyA: 12,\n propertyB: 123456, \n propertyC: 321, \n}";
                    var codeRight = "var a = {\n propertyA: 12,\n propertyZ: 123, \n propertyC: 321, \n}";
                    code_editor.init(backtestResponseArray);
                    code_summary_element.init(backtestResponseArray);
                    code_editor.setCodeLeft(backtestResponseArray[0].code);
                    code_editor.setCodeRight(backtestResponseArray[1].code);
                }
            },

            addBacktestToComparison: function (backtest) {
                this.processLineChartData(backtest);
                this.processBarChartData(backtest);
                //this.processMetricsData(backtest);
                this.counter++;

                /*if (this.counter == Object.keys(this.compareItems).length) {
                 var grid = this.$.table_details__comparison;
                 grid.items = this.tableData;
                 grid.frozenColumns = 2;
                 }*/
            },

            processLineChartData: function (data) {

                var colors = ["#fc4a1a", "#0375b4", "#FFAA1D", "#007849", "#6e2667"];
                var equityData = data.output.totalreturn.algorithm;
                var keys = Object.keys(equityData);

                var dataset = new Array(keys.length);

                keys.sort()
                        .forEach(function (v, i) {
                            dataset[i] = [Date.parse(v), equityData[v] + 100.0];
                        });

                this.$$('aq-cumret-linechart').addSeries(data._id, dataset, false,
                        {
                            lineWidth: 1,
                            color: colors[this.counter],
                            compare: 'percent',
                            tooltip: {
                                pointFormatter: function () {
                                    var series = this.series;
                                    var color = series.color;
                                    var y = (this.y - 100).toFixed(2);
                                    var change = this.change.toFixed(2);

                                    return '<span style="color:' + color + '">\u25CF ' + series.name + '</span>: <b>' + change + '%</b><br/>';

                                },

                            },
                        }
                );

            },

            processBarChartData: function (data) {
                var colors = ["#fc4a1a", "#0375b4", "#FFAA1D", "#007849", "#6e2667"];
                var aggregatedReturns = data.output.returns.monthly.algorithm;
                var keys = Object.keys(aggregatedReturns);
                var dataset = new Array(keys.length);

                keys.sort()
                        .forEach(function (v, i) {
                            dataset[i] = [Date.parse(v.substring(0, 4) + "-" + v.substring(4, 6)), aggregatedReturns[v]];
                        });

                this.$$('aq-aggregatedreturns-barchart').addSeries(data._id, dataset, false,
                        {
                            color: colors[this.counter],
                            tooltip: {
                                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} %</b><br/>',
                            },
                        }
                );
            },

            processMetricsData: function (data) {

                var metrics = data.output.analytics.rolling;
                var id = data._id;
                var strategyId = data.strategy;
                this.tableData.push({
                    'Strategy Name': strategyId,
                    'Backtest Name': id,
                    'Total Return': metrics.totalreturn,
                    'Annual Return': metrics.annualreturn,
                    'Volatility': metrics.annualstandarddeviation,
                    'Sharpe Ratio': metrics.sharperatio,
                    //'Information Ratio': metrics.informationratio,
                    //'Sortino Ratio': analytics.so,
                    //'Avg Drawdown': e.detail.response.result[i].Avg_Drawdown,
                    'Max Drawdown': metrics.maxdrawdown,
                    //'Calmar Ratio': e.detail.response.result[i].Calmar_Ratio,
                    //'Beta': e.detail.response.result[i].Beta,
                    //'Stability': e.detail.response.result[i].Stability,
                    //'Avg Concentration': e.detail.response.result[i].Avg_Concentration

                });
            },

            resetComparison: function () {
                this.counter = 0;
                var child = Polymer.dom(this.$.cumRetLineChartDiv).querySelector('aq-cumret-linechart');
                if (child) {

                    Polymer.dom(this.$.cumRetLineChartDiv).removeChild(child);
                }

                var el = document.createElement('aq-cumret-linechart');
                Polymer.dom(this.$.cumRetLineChartDiv).appendChild(el);

                Polymer.dom.flush();

                var child = Polymer.dom(this.$$('#barChartDiv')).querySelector('aq-aggregatedreturns-barchart');

                if (child) {
                    Polymer.dom(this.$$('#barChartDiv')).removeChild(child);
                }

                var el = document.createElement('aq-aggregatedreturns-barchart');
                Polymer.dom(this.$$('#barChartDiv')).appendChild(el);

                Polymer.dom.flush();

                this.$$('aq-cumret-linechart').updateProperties();
                this.$$('aq-aggregatedreturns-barchart').updateProperties();
            },

            goBackAllBacktests: function () {
                this.resetComparison();
                this.fire('comparison-off');
            },

            onResize: function () {
                if (this.$$('aq-cumret-linechart')) {
                    this.$$('aq-cumret-linechart').resizeChart();
                }

                if (this.$$('aq-aggregatedreturns-barchart')) {
                    this.$$('aq-aggregatedreturns-barchart').resizeChart();
                }
            },
            showVs:function (index,array) {
                return index < array.length - 1;

            }

        });
    </script>
</dom-module>
