
<link rel='import' href='../../../bower_components/iron-icon/iron-icon.html'>
<link rel='import' href='../../../bower_components/iron-icons/iron-icons.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>


<dom-module id='aq-analyze-home-menu'>
	<style is="custom-style" include="iron-flex iron-positioning"></style>
  
	<style>

		#search {
		  height: 60px;
		  line-height: 48px;
		  --margin-bottom: 12px;
		  position: relative;
		  display:none;
		  z-index:2;
		}
	
		#search iron-icon {
		  margin-left: 16px;
		  margin-right: 8px;
		  position: absolute;
		  top: 12px;
		  left: 2px;
		}

		#search paper-icon-button {
		  margin-left: 8px;
		  margin-right: 8px;
		  position: absolute;
		  top: 6px;
		  left: 2px;
		}

		#searchbox {
		  height: 46px;
		  -webkit-appearance: none;
		  line-height: 46px;
		  border: 0;
		  margin: 0;
		  padding-left: 50px;
		  border: 1px solid #e5e5e5;
		  @apply(--paper-font-body1);
		  width:100%;
		  font-size: 16px;
		  z-index: 2;
		}

		#searchbox:focus {
		  outline: 0;
		  background-color: #eceff1;
		  border-color: #cfd8dc;
		}

		#searchbox::-webkit-search-cancel-button{
		  position: relative;
		  right: 15px;
		}

		.toolbar {
			height: 60px;
			width: 98%;
		    --border:1px solid;
		}

		#menu-icons {
			position:relative;
			float:right;
			margin: auto 0;
		}

		paper-icon-button {
			outline:1px solid;
			width:35px;
    		height:35px;
    		margin-right: 10px;
    		min-width:25px;
    		max-width:35px;
    		--color:#188364; 
		}

		paper-icon-button:active {
			padding: 10px;
		}

		#backButton {
			margin:auto 0;
			outline: none !important;
		}

		
	</style>
	
	<template>
	    <div class="toolbar layout horizontal">
	    
	    	<paper-icon-button noink id="backButton" title="Go Back" icon="icons:arrow-back" on-tap="goToEditor">
	  			</paper-icon-button>
	    	<div class="flex"><h3>All Backtests for {{strategyName}}</h3></div>
	      	<!--div id="search" class="flex">	    	
	    		<paper-icon-button noink title="Go Back" icon="arrow-back" on-tap="toggle"></paper-icon-button>
      			<input id="searchbox" placeholder="Search your strategy" class="flex"
             	value="{{searchValue::change}}" type="search"
             	on-keydown="checkForKeys" on-blur='close'>
        	</div-->

	      	<div id='menu-icons' class="layout horizontal">
	  			<paper-icon-button noink class="deleteButton" title="Delete" icon="icons:delete" on-tap="onDelete">
	  			</paper-icon-button>

				<paper-icon-button noink class="compareButton" title="Compare" icon="icons:chrome-reader-mode" on-tap="onCompare">
				</paper-icon-button>
			</div>      	
  		</div>

	</template>
	
	<script>
		Polymer ({
			is: 'aq-analyze-home-menu',

			properties: {
				strategyName:{
					type:String,
				}
			},

			toggle() {

				var d = this.$$('#search').style.display;
				//console.log(d);
				if(d == 'block') {
					this.$$('#search').style.display = 'none';
					this.$$('#menu-icons').style.display = 'inline';
				} else {
					this.$$('#search').style.display = 'block';
					this.$$('#searchbox').focus();
					this.$$('#searchbox').value = "";
					this.$$('#menu-icons').style.display = 'none';				
				}			
			},

			onDelete() {
				this.fire('delete-pressed');
			},

			onCompare() {
				this.fire('compare-pressed');
			},

			checkForKeys: function (e) {
                // check if 'esc' was pressed
                if (e.keyCode === 27) {
                    this.$$('#search').style.display = 'none';
					this.$$('#menu-icons').style.display = 'inline';
                }
                else if(e.keyCode == 13) {
                	this.doSearch();
                }
            },

            close() {
            	this.$$('#search').style.display = 'none';
				this.$$('#menu-icons').style.display = 'inline';
            },

            goToEditor() {
            	this.fire('back-clicked');
            },


		});
		
	</script>
</dom-module>
