
<link rel='import' href='../../../bower_components/paper-checkbox/paper-checkbox.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-collapse/iron-collapse.html'>
<link rel='import' href='../../../bower_components/paper-datatable/paper-datatable.html'>
<link rel='import' href='../../../bower_components/paper-card/paper-card.html'>
<link rel='import' href='../../../bower_components/paper-dialog/paper-dialog.html'>
<link rel='import' href='../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html'>


<link rel='import' href='./aq-analyze-home-menu.html'>
<link rel='import' href='./aq-analyze-home-backtest-item.html'>
<link rel='import' href='./aq-analyze-backtest-comparison-item.html'>
<link rel='import' href='../common/aq-backtest-detail-item.html'>

<dom-module id='aq-analyze-home'>
	
	<style is="custom-style" include="iron-flex iron-positioning"></style>
  
	<style>
		:host{
			font-family: 'Roboto', sans-serif;
		}
	
		.metric {
			margin-right: 10px;
			margin-left:10px;
			margin-top: 20px;
			margin-bottom: 5px;
			width:150px;
		}

		.metric1 {
			margin-right: 10px;
			margin-left:10px;
			margin-top: 20px;
			margin-bottom: 5px;
			width:100px;
			font-size:12px;
		}

		#container {
			width:95%;
			margin:0 auto;
		    --margin-left: 30px;
		    --margin-right: 30px;
		    margin-top: 10px;
		    color: #333a56; 
		  }

	  	#dialog{
			width:80%;
			--height:80%;
		}

		#comparison {
			margin:20px;
			--height:400px;
		}	

	</style>

	<template>
		<iron-ajax
		  	auto	
          	url="http://localhost:3002/api/v2/strategy/[[strategyId]]"
     	 	method='GET'
          	id='getStrategyQuery'
          	handle-as="json"
          	on-response="onGetStrategy"
          	on-error="onGetStrategyError"
          	headers='{{header}}'
          	debounce-duration="300">
        </iron-ajax>
		<iron-ajax
		  	auto	
          	url="http://localhost:3002/api/v2/strategy/[[strategyId]]/backtests"
     	 	method='GET'
          	id='getBacktestsQuery'
          	handle-as="json"
          	on-response="onGetAllBacktestsForStrategy"
          	on-error="onGetAllBacktestsForStrategyError"
          	headers='{{header}}'
          	debounce-duration="300">
        </iron-ajax>
		

		<div id='container'>
			<template is='dom-if' if="[[!showComparison]]">
				<aq-analyze-home-menu num-active-backtests="[[checkedCount]]" strategy-name="{{strategyName}}"></aq-analyze-home-menu>

				<template is='dom-repeat' items="{{backtests}}">
					<aq-analyze-home-backtest-item backtest={{item}}></aq-analyze-home-backtest-item>
				</template>
			</template>

			<template is='dom-if' if="[[showComparison]]">
				<aq-analyze-backtest-comparison-item></aq-analyze-backtest-comparison-item>
			</template>
	
		</div>	
	
    </template>

    <script>
    	Polymer({
    		is: 'aq-analyze-home',

    		properties: {

    			strategyName: String,

    			strategyId: String,

    			backtests: {
    				type:Object,
    				value:[
			            {_id: 'Bob', last: 'Smith'},
			            {_id: 'Sally', last: 'Johnson'}],
    			},

    			checkedCount: {
    				type: Number,
    				value:0,
    			},

    			checkedItems: {
					type:Object,
					value:{},
				},

				showComparison :{
					type:Boolean,
					value:false,
				},
    		}, 
    		
			listeners :{
				'backClicked':'goToEditor',
				'backClicked_all':'goToBacktest_all',
				'compareClicked':'compareBacktests',
				'backtestChecked':'checkBacktest',
				'deleteClicked':'onDeletion',
			},

			ready: function() {
	          	var x = localStorage.getItem('my-app-storage');
		        var user = JSON.parse(x).user;
		        if (user.token) {
		          this.header = {
		            "aimsquant-token": user.token,
		            "Content-Type": "application/json"};  
		        }
	      	},

	      	attached() {
	      		//console.log("Attached in Analyze");
	      		//console.log(this.backtests);
	      		//console.log(this.strategyId);
	      		//console.log(this.strategyName);
	      	},

			goToEditor() {
				this.router.go('/dashboard/editor');
			},
			goToBacktest_all() {
				this.router.go('/dashboard/analyze/more');
			},

			onGetAllBacktestsForStrategy(data) {
				//this.backtests = data.detail.response;
			},

			onGetAllBacktestsForStrategyError(data) {
				console.log(data)
			},

			onGetStrategy(data) {
				this.strategyName = data.detail.response.name;
			},

			onGetStrategyError(data) {
				console.log(data);
			},

			checkBacktest(e) {
        		var checked = e.detail.checked;

	        	this.checkedItems[e.detail.id] = e.detail.checked;

	        	if (checked == true) {
	        		this.checkedCount += 1;
	        	} else {
	        		this.checkedCount -= 1;
	        	}
	        },

	        numCheckedBacktests(checkedCount) {
	        	return checkedCount;
	        },

	        onDeletion(e) {
	        	e.stopPropagation();
	        	//Send DELETE request to backend
	        	for (key in this.checkedItems) {
	        		for (i in this.backtests) {		
	        			if (key == this.backtests[i]._id && this.checkedItems[key]==true) {
	        				this.splice('backtests', i, 1);
	        				this.checkedCount -= 1;
	        			}
	        		}
	    		}

	    		this.checkedItems = {};	        	
	        },

	        compareBacktests() {
	        	this.showComparison = true;
	        },

    	});
    </script>

</dom-module>