
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../../bower_components/app-route/app-location.html'>

<link rel='import' href='../common/aq-check-authentication.html'>
<link rel='import' href='./aq-analyze-home-menu.html'>
<link rel='import' href='./aq-analyze-home-backtest-item2.html'>

<link rel='import' href='./aq-analyze-backtest-comparison-item.html'>

<link rel='import' href='../../dialog/aq-delete-dialog.html'>

<dom-module id="aq-analyze-home">
	
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>
  
	<style>
		
		#container {
			width:95%;
			margin:0 auto;
		    margin-top: 0px;
		    color: #24293d; 
		  }

	  	#dialog{
			width:80%;
			--height:80%;
		}

		#comparison {
			margin:20px;
			--height:400px;
		}	

		p{
			font-size: 20px;
		}

		.spacer {
			margin-bottom: 13px;
			height:0px;
			min-width: 500px; 		
		}

	</style>

	<template>

	    <app-location route="{{route}}"></app-location>
	    <app-route
	        route="{{route}}"
	        pattern="/dashboard/analyze/:strategyId"
	        data="{{routeData}}"
	        tail="{{subroute}}"
	        active="{{active}}">
	    </app-route>

		<iron-ajax	
          	url="[[computeGetStrategyUrl(strategyId)]]"
     	 	method='GET'
          	id='getStrategyQuery'
          	handle-as="json"
          	on-response="onGetStrategy"
          	on-error="onGetStrategyError"
          	headers='{{header}}'
          	debounce-duration="300">
        </iron-ajax>
		<iron-ajax
          	url="[[computeGetAllBacktestsUrl(strategyId)]]"
     	 	method='GET'
          	id='getBacktestsQuery'
          	handle-as="json"
          	on-response="onGetAllBacktestsForStrategy"
          	on-error="onGetAllBacktestsForStrategyError"
          	headers='{{header}}'
          	debounce-duration="300">
        </iron-ajax>
		
		<iron-ajax
          	url="[[computeDeleteBacktestUrl(deleteId)]]"
     	 	method='DELETE'
          	id='deleteBacktestQuery'
          	handle-as="json"
          	on-response="onDeleteBacktestForStrategySuccess"
          	on-error="onDeleteBacktestForStrategyError"
          	headers='{{header}}'
          	debounce-duration="300">
        </iron-ajax>

        <aq-check-authentication id='authItem'></aq-check-authentication>
		
		<template is='dom-if' if='{{isActive(active, subroute)}}'>
			<div id='container'>
				<template is='dom-if' if="[[!showComparison]]">
					<aq-analyze-home-menu num-active-backtests="[[checkedCount]]" strategy-name="{{strategyName}}"></aq-analyze-home-menu>

					<p>All Backtests for <i>{{strategyName}}</i></p>
					<div class="layout horizontal wrap flex around-justified itemcontainer" >
					<template is='dom-repeat' items="{{backtests}}" initial-count=10>
						<aq-analyze-home-backtest-item2 index="{{index}}" backtest="{{item}}" detail-icon=1 share-icon=1></aq-analyze-home-backtest-item2>
					</template>
					<template is='dom-if' if='[[isBacktestCountOdd(backtests)]]'>
						<div class="spacer"></div>
					</template>
					</div>
				</template>

				<template is='dom-if' if="[[showComparison]]">
					<aq-analyze-backtest-comparison-item compare-items="[[checkedItems]]" active="[[showComparison]]">
					</aq-analyze-backtest-comparison-item>
				</template>

			</div>	

		    <aq-delete-dialog id ="deleteDialog" heading="Delete Backtests"
				 message="Are you sure to delete [[checkedCount]] backtest[[getMessageSuffix(checkedCount)]]?"	
				 cancel="Cancel"
				 accept="OK">
	    	</aq-delete-dialog>
		</template>

    </template>

    <script>
    	Polymer({
    		is: 'aq-analyze-home',

    		properties: {

    			strategyName: String,

    			strategyId: {
					type:String,
    				//observer:'_strategyIdChanged',
				},

    			backtests: {
    				type:Array,
       			},

       			deleteId: String,

    			checkedCount: {
    				type: Number,
    				value:0,
    			},

    			checkedItems: {
					type:Object,
					value:{},
				},

				showComparison :{
					type:Boolean,
					value:false,
				},

				active:{
					type: Boolean,
					value: false,
					//observer:'_activeChanged',
				},

				routeData:Object,
				subroute:Object,

    		}, 

    		observers:['_activeChanged(active, subroute)'],
    		
			listeners: {
				'backClicked':'goToEditor',
				'compareClicked':'toggleComparison',
				'backtestChecked':'checkBacktest',
				'deleteClicked':'openDeleteDialog',
				'shareClicked':'goToShare',
				'comparison-off':'toggleComparison',
				'delete-action':'onDeletion',
				'detail-action':'onDetail',
			},


	      	computeGetStrategyUrl: function(strategyId) {
	      		var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
	      		return APIEndPoint+'/strategy/'+strategyId;
	      	},

	      	computeDeleteBacktestUrl: function(deleteId){
	      		var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
	      		return APIEndPoint+'/backtest/'+deleteId;
	      	},

	      	computeGetAllBacktestsUrl: function(strategyId){
	      		var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
	      		return APIEndPoint+'/strategy/'+strategyId+'/backtests';
	      	},

			goToEditor: function() {
				this.fire('rt-changed', {route:'/dashboard/editor'});
			},

			goToShare: function(e) {
    			this.fire('rt-changed' ,{route:'/dashboard/community/create/'+e.detail.id});
			},

			isBacktestCountOdd: function(backtests) {
				return backtests.length % 2 == 1;
			},
			
			onGetAllBacktestsForStrategy: function(data) {
				console.log(data.detail.response);
				this.backtests = data.detail.response;
			},

			onGetAllBacktestsForStrategyError: function(data) {
				console.log(data)
			},

			onGetStrategy: function(data) {
				this.strategyName = data.detail.response.name;
				this.$.getBacktestsQuery.generateRequest();
			},

			onGetStrategyError: function(data) {
				console.log(data);
			},

			checkBacktest: function(e) {
				var checked = e.detail.checked;

	        	this.checkedItems[e.detail.id] = e.detail.checked;

	        	if (checked == true) {
	        		this.checkedCount += 1;
	        	} else {
	        		this.checkedCount -= 1;
	        	}
	        },

	        numCheckedBacktests: function(checkedCount) {
	        	return checkedCount;
	        },

	        getMessageSuffix: function(checkedCount) {
        		return checkedCount > 1 ? "s" :"";
        	},

	        openDeleteDialog: function() {
	        	this.$$('#deleteDialog').open();
	        },

	        onDeletion: function(e) {
	        	e.stopPropagation();
	        	//Send DELETE request to backend
	        	for (key in this.checkedItems) {
	        		for (i in this.backtests) {		
	        			if (key == this.backtests[i]._id && this.checkedItems[key]==true) {
	        				this.deleteId = this.backtests[i]._id;
	        				this.$.deleteBacktestQuery.generateRequest();
	        			}
	        		}
	    		}

	    		this.deleteId="";
	        },

	        onDeleteBacktestForStrategySuccess: function(data) {
	        	var deleteId = data.detail.response.id;
	        	for (i in this.backtests) {		
        			if (deleteId == this.backtests[i]._id) {
        				this.splice('backtests', i, 1);
        				this.checkedCount -= 1;
        			}
        		}
	        },

	        onDeleteBacktestForStrategyError: function(data) {
	        	console.log(data.detail.response);
	        }, 

	        toggleComparison: function() {
	        	this.showComparison = !this.showComparison;
	        },

	        onDetail: function(e) {  
	        	//console.log(this.router);
	        	e.stopPropagation();    	
	        	this.fire('rt-changed', {route:'/dashboard/analyze/' + this.strategyId+'/'+ e.detail.id});
	        },

	        hasTail: function(tail) {
	        	if(tail && tail.path) {
	        		return tail.path.length > 0;
	        	}

	        	return false;
	        },

	        isActive: function(active, subroute) {
	        	return active && !this.hasTail(subroute);
	        },

	        _activeChanged: function(active, subroute) {
	        	console.log("Here I Come");
	        	if(active && !this.hasTail(subroute)) {
	        		this.strategyId = this.routeData.strategyId;
	        		if(this.$.authItem.checkHasToken()) {
		        		this.header = this.$.authItem.getHeader();
		        		this.$.getBacktestsQuery.generateRequest();		
		        	} else{
	        			this.backtests = [];
	        		}	
        		}
	        },

    	});
    </script>

</dom-module>