
<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../icons/aq-iconset.html'>
<link rel="import" href="../common/aq-backtest-detail-item.html">
<link rel="import" href="../common/aq-check-authentication.html">
<link rel="import" href="../common/aq-loading-progress.html">

<dom-module id="aq-analyze-detail">
	
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<template>
	 	<aq-check-authentication id='authItem'></aq-check-authentication>
	 	<app-location route="{{route}}"></app-location>
	    <app-route
	        route="{{route}}"
	        pattern="/dashboard/analyze/:strategyId/:backtestId"
	        data="{{routeData}}"
	        active="{{active}}">
	    </app-route>

	    <template is='dom-if' if='{{active}}'>
		
    		<aq-loading-progress loading='{{loading}}'></aq-loading-progress>
		  
		    <template is='dom-if' if='{{!loading}}'>
		    	<div class="goBackButton layout horizontal">
		            <paper-icon-button noink id='backButton' class="self-center" title="Go Back" icon="aq-icons:arrow-back" on-tap="goBackAllBacktests">
		            </paper-icon-button>
		            <p class="self-center">Back to All Backtests</p>
		      	</div>

		      	<aq-backtest-detail-item loading="{{loading}}" backtest-id="[[backtestId]]"></aq-backtest-detail-item>
	      	</template>
      	</template>
	</template>

	<script>
		Polymer ({
			is:'aq-analyze-detail',
			
			properties:{
				strategyId:String,
				backtestId:String,

				active:{
					type:Boolean,
				},

				routeData:Object,

				loading:{
					type:Boolean,
					value:false,
				},
			},

			observers:['_activeChanged(active, routeData)'],

			goBackAllBacktests: function() {
				this.fire('unsubscribe-data',{backtestId:this.backtestId});
				this.fire('rt-changed',{route:'/dashboard/analyze/' + this.strategyId});
			},

			_activeChanged: function(active, routeData) {
				if(active){
					if(!this.$.authItem.checkHasToken()) {
	         	 		this.fire('rt-changed',{route:'/user/signin'});
		          		return;
		          }

		      	}

				if (active && routeData) {
					this.strategyId = routeData.strategyId;
					this.backtestId = routeData.backtestId;
				} else {
					this.resetView();
				}
			},

			resetView : function() {
				this.strategyId = "";
				this.backtestId = "";	
			}
				
		});
			
	</script>
			
</dom-module>


