<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/paper-drawer-panel/paper-drawer-panel.html'>
<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../../bower_components/paper-toolbar/paper-toolbar.html'>	
<link rel='import' href="../../../bower_components/iron-scroll-spy/iron-auto-scroll-spy.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../icons/aq-iconset.html'>
<link rel="import" href="../common/backtest/aq-backtest-detail-item.html">
<link rel="import" href="aq-analyze-compare-results.html">

<dom-module id='aq-analyze-compare'>
	
	<style include="iron-flex iron-flex-alignment iron-positioning">
     
      paper-button {
        color: white;
        margin: 10px;
        background-color: var(--google-blue-700);
        white-space: nowrap;
      }
      button {
        display: block;
        line-height: 40px;
        background-color: transparent;
        border: none;
        font-size: 14px;
        margin: 20px;
      }
      .overflowScroll{
      	overflow: scroll;
      }

      paper-checkbox {
      	margin-top: 30px;
      	margin-left: 9px;
      }

      paper-card {
			width:100%;
			margin-bottom: 20px;			
		}
		
		a {
			cursor: pointer;
		}

		.metric {
			margin-right: 10px;
			margin-left:10px;
			margin-top: 20px;
			margin-bottom: 5px;
			--max-width:200px;
			font-size:12px;
			--min-width: 75px;
		}

		.metric1 {
			margin-right: 10px;
			margin-left:10px;
			margin-top: 20px;
			margin-bottom: 5px;
			--width:200px;
			font-size:12px;
			max-width: 200px;
			--min-width:50px;
		}

		.toggleForceDisplay{
			display: block !important;
		}

		.drawerClose{
			padding: 0;
		    margin: 0;
		    position: absolute;
		    width: 100%;
		    bottom: 0;
		    background: #24293d;
		    color: white;
		    cursor: pointer;
		}

		.flexLayout{
			display: flex;
			justify-content: space-between;
		}

		.marginLeftParameter{
			margin-left: 18px;
		}

		.paperIconLayout{
			float: right; 
			margin-top: 12px; 
			margin-right: 12px; 
			background: #cc6666;;
		}

		.subHeaderRight{
			position: absolute; 
			right: 10px; 
			display: flex;
		}

		.bodyContainer{
			width: 95%; 
			margin: auto;
			margin-top: 20px;
		}
		.paperIconBack{
			margin-bottom: 40px;
			margin-top: 41px;
		}

		.fontSizeHeader{
			font-size: 20px;
		}
		.strategySelectable:hover{
			font-weight: bold;
			background: #abafb0;
			cursor: pointer;
		}

    </style>

	<template>

		
		<template is="dom-if" if="{{noComparision}}">
		
			<paper-drawer-panel right-drawer force-narrow="true">
			    <div drawer>
              	<paper-listbox selected="{{scrollSelected}}">   
              		<paper-item class="strategySelectable">Strategy 1</paper-item>
              		<paper-item class="strategySelectable">Strategy 2</paper-item>
              		<paper-item class="strategySelectable">Strategy 3</paper-item>
              		<paper-item class="strategySelectable">Strategy 4</paper-item>
              		<paper-item class="strategySelectable">Strategy 5</paper-item>
              		<paper-item class="strategySelectable">Strategy 6</paper-item>
              		<paper-item class="strategySelectable">Strategy 7</paper-item>
              		<paper-item class="strategySelectable">Strategy 8</paper-item>
              	</paper-listbox>
			        
			        <button tabindex="8" paper-drawer-toggle class="toggleForceDisplay drawerClose">Close Strategies</button>
			    </div>
		  		<div main class="overflowScroll">
		  				<paper-toolbar>
							<div class="flexLayout">
		  						<div><h2 class="marginLeftParameter">Backtests for the selected strategy</h2></div>
			    				<div class="subHeaderRight">
		  							<div><h4>No. Of Backtest Selected: {{countCheckboxChecked}}</h4></div>
		  							<div class="marginLeftParameter">
			    				<paper-icon-button paper-drawer-toggle class="toggleForceDisplay paperIconLayout" noink icon="menu" ></paper-icon-button>
			    				<paper-icon-button class="paperIconLayout" noink icon="menu" on-tap="goComparision"></paper-icon-button>
			    				</div>
			    			</div>

		  				</div>						
		  				</paper-toolbar>
		  			<div>
		  				<div class="bodyContainer">
							<aq-analyze-home-backtest-item2 on-change="checkboxChecked"></aq-analyze-home-backtest-item2>
							<aq-analyze-home-backtest-item2 on-change="checkboxChecked"></aq-analyze-home-backtest-item2>
							<aq-analyze-home-backtest-item2 on-change="checkboxChecked"></aq-analyze-home-backtest-item2>
							<aq-analyze-home-backtest-item2 on-change="checkboxChecked"></aq-analyze-home-backtest-item2>
							<aq-analyze-home-backtest-item2 on-change="checkboxChecked"></aq-analyze-home-backtest-item2>
							<aq-analyze-home-backtest-item2 on-change="checkboxChecked"></aq-analyze-home-backtest-item2>
						</div>
				
						

		  			</div>
			        
		        </div>
			</paper-drawer-panel>
		</template>

		<template is="dom-if" if="{{!noComparision}}">
			
		  		<paper-toolbar>

		  			<paper-icon-button noink icon="vaadin-icons:angle-double-left" on-tap="goBack">
					</paper-icon-button><span class="fontSizeHeader"">Back to Stategies</span>
				</paper-toolbar>
			<div class="bodyContainer">
				<aq-analyze-backtest-comparison-item></aq-analyze-backtest-comparison-item>
			</div>
		</template>
		
	</template>

	<script>
		Polymer ({
			is:'aq-analyze-compare',
			
			properties : {
				noComparision:{
					type: Boolean,
					value: true
				},
				countCheckboxChecked:{
					type: Number,
					value: 0
				}
			},
			goBack: function(){
				this.router.go('/dashboard/analyze/compare');
			},
			toggle: function() {
				this.$.collapse.toggle();
			},
			checkboxChecked: function(e){
				if(e.target.checked){
					this.set('countCheckboxChecked', ++this.countCheckboxChecked);
				}
				else
					this.set('countCheckboxChecked', --this.countCheckboxChecked);
			},
			goComparision: function() {
				this.set('noComparision', false);
			},


			// onCompare: function() {
			// 	this.router.go('/dashboard/analyze/compare/x');
			// },

		});
	</script>
</dom-module>
