
<link rel='import' href='../../../bower_components/paper-card/paper-card.html'>
<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../../bower_components/paper-checkbox/paper-checkbox.html'>
<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href="../../../bower_components/iron-scroll-spy/iron-auto-scroll-spy.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../common/aq-backtest-metric-item.html'>
<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id='aq-analyze-home-backtest-item2'>	
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		paper-card {
			margin-bottom: 13px;
			height:240px;
			min-width: 500px;
			width:100%;
			--border-top:2px solid teal !important;
			border:1px solid teal;
			margin-right: 5px;
			background-color: #f2fbf7;
		}
		
		a {
			cursor: pointer;
		}

		.metric {
			margin-right: 10px;
			margin-left:10px;
			--margin-top: 20px;
			margin-bottom: 10px;
			--max-width:200px;
			font-size:12px;
			--min-width: 75px;
		}

		paper-card p{
			width:200px;
		}

		paper-checkbox {
			height:15px;
			width:15px;
			size:10px;
			margin: 5px;
			padding: 0px;
			margin-right: 15px;

			margin-top:15px;
			--paper-checkbox-checked-color: #cc6666;;--teal;
		}

	 	#content :hover{
			--color:teal;
			--z-index:20;
		}		

		.mdcontainer {
			margin-left:10px;
			margin-right:10px;
			--margin-top:5px;
			margin-bottom:8px;
			height:100px;
		}
	
		aq-backtest-metric-item {
			margin-top: 8px;
			--margin-bottom: 15px;
			min-width: 100px;
			height: 50px;
			margin-right: 5px;
			margin-left: 5px;
			--font-size-metric:13px;
			--font-size-metric-value:16px;

		}

		#content {
			height:75px;
			border-bottom:1px solid teal;
			background: white !important;
		}

		.bold-span {
			--font-weight: bold;
			--font-size: 14px;
		}

		.container-int {
			--height:30px;
		}

		paper-icon-button {
			color:#cc6666;;--teal;
			opacity: 0.4;
		}

		paper-icon-button:hover {
			opacity: 1.0;
		}

		p strong {
			font-size:20px;
		}

		#createdAt {
			width:120px !important;
		}

	</style>

	<template>
		<paper-card class="self-center flex">
			<div id='content' class="card-content flex">
				<div class="container-int layout horizontal">
					<paper-checkbox noink id='checkbox' on-tap='onCheck'></paper-checkbox>	
					<p>Backtest: <strong>[[formatIndex(index)]]</strong></p>
					<div class="flex"></div>
		          	
					<template is='dom-if' if="[[detailIcon]]">
		          		<paper-icon-button  title="Detail" on-tap="onBacktestDetail" icon="vaadin-icons:line-bar-chart"></paper-icon-button>
		          	</template>

		          	<template is='dom-if' if="[[shareIcon]]">
		          		<paper-icon-button class="icons" title="Share" on-tap="onShare" icon="vaadin-icons:share-square"></paper-icon-button>
		          	</template>
					
				</div>

				<div class=" container-int layout horizontal">
					<div class="layout vertical metric">	
						<span class="bold-span">[[processedBacktest.startDate]] - [[processedBacktest.endDate]]</span>
						<span>Date Range</span>		
					</div>

					
					<div class="layout vertical metric">	
						<span class="bold-span flex">[[processedBacktest.createdAt]]</span>
						<span>Created</span>					
					</div>	

					<div class="layout vertical metric flex">	
						<span class="bold-span">[[processedBacktest.status]]</span>
						<span>Status</span>		
					</div>

					<div class="layout vertical metric flex">	
						<span class="bold-span">52s</span>
						<span>Time</span>		
					</div>

				</div>
			</div>

			<div class="card-actions">
				<div class="self-center wrap flex_container layout horizontal">

					<template is='dom-repeat' items="{{processedBacktest.metrics1}}">
						<aq-backtest-metric-item class="flex width_tab" 	metric-name="[[item.metricName]]" 
							metric-value="[[item.metricValue]]"
							metric-desc="[[item.metricDesc]]">
						</aq-backtest-metric-item>
					</template>
							
				</div>

				<div class="self-center wrap flex_container layout horizontal">
					<template is='dom-repeat' items="{{processedBacktest.metrics2}}">
						<aq-backtest-metric-item class="flex width_tab" 	metric-name="[[item.metricName]]" 
							metric-value="[[item.metricValue]]"
							metric-desc="[[item.metricDesc]]">
						</aq-backtest-metric-item>
					</template>
									
				</div>

			</div>	
			
		</paper-card>
	</template>
	<script>
		Polymer ({
			is:'aq-analyze-home-backtest-item2',
			
			properties:{
				backtest: {
					type:Object,
				},

				detailActive:{
					type:Boolean,
					value:false,
				},

				detailIcon:{
					type:Boolean,
					value:false,
				},

				shareIcon:{
					type:Boolean,
					value:false,
				},

				index: String,

				processedBacktest:{
					type:Object,
					value:{},
				},

			},


			ready: function() {

				this.set('processedBacktest.metrics1',[{
				            		"metricName":"Total Return", 
				            		"metricValue":"-", 
				            		"metricDescription":"Total Return"
				            	},
								{
									"metricName":"Annual Return",
									"metricValue":"-",
									"metricDescription":"Annual Return",
								},
								{
									"metricName":"Volatility",
								 	"metricValue":"-", 
								 	"metricDescription":"Volatility"
								},
								{
									"metricName":"Sharpe Ratio", 
									"metricValue":"-",
									"metricDescription":"Sharpe Ratio"
								}]);
								
				this.set('processedBacktest.metrics2', [{	
									"metricName":"Information Ratio",
									"metricValue":"-",
									"metricDescription":"Information Ratio"
								},
								{
									"metricName":"Max Drawdown",
								 	"metricValue":"-",
							 	 	"metricDescription":"Max Drawdown"
						 	 	},
								{	
									"metricName":"Calmar Ratio",
								 	"metricValue":"-",
							 	 	"metricDescription":"Calmar Ratio"
						 	 	},
								{
									"metricName":"Beta",
								 	"metricValue":"-",
							 	 	"metricDescription":"Beta"
						 	 	},
								/*{
									"metricName":"Stability",
								 	"metricValue":"-",
							 	 	"metricDescription":"Stability"
						 	 	},
								{
									"metricName":"Avg. Concentration", 
									"metricValue":"-",
								 	"metricDescription":"Avg. Concentration"
							 	},*/]);
				this.processBacktestData();

			},

			formatIndex: function(index) {
				return index + 1;
			},

			processBacktestData: function() {
				var metricsArray1 = [];
				var metricsArray2 = [];

				if (this.backtest.output && this.backtest.output.summary) {
					var data = this.backtest.output.summary;
					this.set('processedBacktest.metrics1' ,[{
			            		"metricName":"Total Return", 
			            		"metricValue":data.totalreturn.toFixed(2).toString()+'%', 
			            		"metricDescription":"Total Return"
			            	},
							{
								"metricName":"Annual Return",
								"metricValue":data.annualreturn.toFixed(2).toString()+'%',
								"metricDescription":"Annual Return",
							},
						{"metricName":"Volatility", "metricValue":data.annualstandarddeviation.toFixed(2).toString()+'%', "metricDescription":"Volatility"},
						{"metricName":"Sharpe Ratio", "metricValue":data.sharperatio.toFixed(2), "metricDescription":"Sharpe Ratio"},]);
					this.set('processedBacktest.metrics2', [ 
							{"metricName":"Information Ratio", "metricValue":data.informationratio.toFixed(2), "metricDescription":"Information Ratio"},
							{"metricName":"Max Drawdown", "metricValue":data.maxdrawdown.toFixed(2).toString()+'%', "metricDescription":"Max Drawdown"},
							{"metricName":"Calmar Ratio", "metricValue":data.calmarratio.toFixed(2), "metricDescription":"Calmar Ratio"},
							{"metricName":"Beta", "metricValue":data.beta ? data.beta.toFixed(2) : "-", "metricDescription":"beta"}]);
				}
								

				//this.set('metrics1', metricsArray1);
				//this.set('metrics2', metricsArray2);

				this.set('processedBacktest.startDate',this.formatDate(this.backtest.settings.startDate));
				this.set('processedBacktest.endDate',this.formatDate(this.backtest.settings.endDate));
				this.set('processedBacktest.status', this.backtest.status.charAt(0).toUpperCase() + this.backtest.status.slice(1));
				this.set('processedBacktest.createdAt', this.formatDateTime(this.backtest.createdAt));
				
			},

			formatDate: function(date) {

				var today = new Date(date);
				today.setDate(today.getDate());
				var dd = today.getDate();
				var mm = today.getMonth()+1; //January is 0!
				var yyyy = today.getFullYear();

				if(dd<10) {
				    dd='0'+dd
				} 

				if(mm<10) {
				    mm='0'+mm
				} 

				today = dd+'/'+mm+'/'+yyyy;
				return today;
			},

			formatDateTime: function(date) {
				date = new Date(date);	
			  	var hours = date.getHours();
			  	var minutes = date.getMinutes();
			  	var ampm = hours >= 12 ? 'PM' : 'AM';
			  	hours = hours % 12;
			  	hours = hours ? hours : 12; // the hour '0' should be '12'
			  	minutes = minutes < 10 ? '0'+minutes : minutes;
		  		var strTime = hours + ':' + minutes + ' ' + ampm;
		  		var mm = date.getMonth()+1;
		  		mm = mm > 9 ? mm : '0'+mm.toString();
		  		var dd = date.getDate();
		  		dd = dd > 9 ? dd  : '0' + dd.toString();
			  	return  dd + "/" + mm + "/" + date.getFullYear() + "  " + strTime;
			},

			isBacktestActive: function(backtest) {
				return false;
			},

			onCheck: function() {
				this.fire('backtestChecked',{id:this.backtest._id, checked:this.$.checkbox.checked})
			},

			onBacktestDetail: function() {
				this.fire('detail-action',{id:this.backtest._id});
			},

			onShare: function() {
				this.fire('shareClicked',{id:this.backtest._id});
			},


		});
	</script>
</dom-module>