<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../components/aq-toolbar.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">

<dom-module id="aq-community-topics">
  <style is="custom-style"> </style>
   <style>
    :host {
      display:block;
    }
    .authorcontentdetails {
      padding-top: 4px;
      padding-bottom: 4px;
      border-top  :  1px dotted #888;
      border-bottom: 1px dotted #888;
    }
    #authorname {
      float: left;
      margin: 10px 0 0 15px ;
      color: #1e88e5;
      font-size: 20px;
    }
    #authorcontentmodified {
      font-size: 13px;
      color: #444;

      padding-top: 3px;
      /*margin: 1.3em 0 0 150px;*/
      /*float: left;*/
    }
    .authorcontentdetails img {
      float: left;
      border-radius: 30px;
      width: 45px; 
      height: 45px;
    }
    .authorcontent div {
      margin: 0 0 0 1.5%;
    }
    .authorcontent img {
      margin: 13px 0 0 30px;
    }
    .authorcontentwrapper h2{
      margin: 5px;
      font-size: 19px;
      color: #3380BF;
    }
    .authorcontentwrapper h2 span{
      font-size: 10px;
      margin-left: 35%;
      color: #666;
    }
    .authorcontentwrapper {
      width: 70%;
      margin-left: 4%;
      margin-top: 100px;
    }
    #chart {
      width: 210px;
      height: 150px;
      margin: 20px 100% 20px 0;
    }
  </style>
  <template>
    <div class="authorcontentwrapper" >
      <h2>Ipsum dolor sit amet, consectetur adipisicing elit<span class="category">FAQs</span></h2>
  		<div class="authorcontentdetails">
        <img src="../img/user.jpg" id="authorimage">
        <p id="authorname"><a data-route="author" href="{{baseUrl}}"> Sahil Upadhyay</a></p>
        <p id="authorcontentmodified">&nbsp&nbsp on <span>Jan 1, 2014</span>, <span>12:00AM</span></p>
  			<!-- <p>Follow</p> -->
  			<!-- <p>Share</p> -->
  		</div>
  		<div class="authorcontent">
        <div>
    		  <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          
          <img src="../img/pie-chart.png" id="chart">
                
          <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>Sahil Upadhyay</p>

        </div>
  		</div>
  	</div>
  </template>

  <script>
    Polymer ({
      is: 'aq-community-topics'
      
    });

  </script>

</dom-module>
