
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel='import' href='../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../bower_components/vaadin-icons/vaadin-icons.html'>
<link rel='import' href='../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../bower_components/app-route/app-location.html'>

<link rel='import' href='../icons/aq-iconset.html'>

<dom-module id="aq-homepage">

    <style include="iron-flex iron-flex-alignment iron-positioning"></style>

    <style>

      :host {
          font-family: 'Garamond', sans-serif;
      }

      .section {
          height:100vh;
          @apply(--layout-vertical);
      }

    	#section-home {
    		margin-top:0px;
        --background-color: #5CC6CD;
        background-color: #70cdd3;
        height: 92vh;
	    }

    	#headerTagline {
    		font-size: 52px;
        color: white;
        font-weight: 400;
    	}

      #headerPara {
        color: #ffffff;
        font-size: 20px;
        width: 35%;
        text-align: justify;
        margin-bottom: 40px;
        font-weight: thin;
      }

      #headerPara span {
        font-size: 20px;
        color: black;
        font-style: italic;
      }

      h3 {
        color: white;
      }

      paper-button {
          text-transform: none;
          --paper-button: {
              border-radius: 20px;  
              font-size: 16px;
              --padding: 10px 60px;
          };
      }

      #button-group {
        --width: 30%;
        margin: 0 auto;
      }

      .space {
        width: 50px;
      }

      .dark-button {
          background-color: #07889B;
          color: white;
          width: 200px;
      }

      .dark-button:hover {
          background-color: #055d6a;
      }

      .light-button {
          background-color: white;
          color: #07889B;
          --border: 1px solid #07889B;
          width: 200px;
      }

      .light-button:hover {
          font-weight: bold;
          --color: white;
      }

      .page-header {
          font-size: 42px;
          margin-top: 50px;
          margin-bottom:100px;
          font-weight: 700;
      }

    	#section-advantages {
    	  height:100vh;
        background-color: #f0f0f0;
        --background-color:#e8f7f8;
    	}

    	#advantages p{
    		margin-bottom: 100px;
    		font-size: 32px;
    		font-weight: bold;
    	}

      .adv-container p {
          --color:#cc6666;
          font-size: 18px;
      }

    	a {
    		text-decoration: none;
    		color:#cc6666;
    	}

    	a:hover {
    		text-decoration: underline;
    		cursor: pointer;
    	}

      #callToAction {
          background-color:#e8f7f8;
          height: 60vh;
      }

      #ctaTagline {
          font-size: 32px;
          margin-bottom: 30px;
          --font-weight: 700;
      }

      #ctaParagraph {
         width: 50%;
         margin: 0 auto;
      }

      .footer {      
        --bottom: 0px;
        background-color:#24293d;
        color: white;
        padding: 0px 20px 0px 20px;
        height: 40vh;
      }

      .footer p{
      	color: white;
        font-size: 13px;
      }

      .footer-link:hover {
        cursor:pointer;
      }

      #blank {
        height: 2px;
        background-color: #cc6666;
        width: 100%;
      }

    </style>

    <template>
        <app-location route="{{route}}"  use-hash-as-path></app-location>
        
        <app-route
            route="{{route}}"
            pattern="/main"
            active="{{active}}">
        </app-route>
        
    		<div id="section-home" class="section">
            
            <div class="flex"></div>
            <div class="self-center" id="headerTagline">Invest in Your Ideas</div>

            <div class="self-center" id="headerPara">Systematically research investment strategies, learn from community feedback and simulate with real data.<span>&nbspIt's free!!</span></div>
           
            <!--p class="self-center" id="headerPara">Robust platform to systematically research your investment ideas. At AimsQuant, anyone can build and test investment strategies, share it with the community for the feeback or trade it on personal account</p-->
            
            <div class="layout horizontal justified" id='button-group'>
    	         <paper-button class="dark-button" noink on-tap='onJoin'>Register</paper-button>

               <div class="space"></div>

               <paper-button class="light-button" noink on-tap='onPageTwo'>Learn More</paper-button>
            </div>
            
            <div class="flex"></div>
  	      	
            <paper-icon-button class="self-center" noink icon="aq-icons:expand-more" on-tap='onPageTwo'></paper-icon-button>
    		</div>

        <div id="section-features" class="section">
            
            <div class="self-center page-header">Features</div>

            <div class="layout horizontal wrap around-justified center">
                <feature-item 
                    heading="Research" 
                    description="No se No se No se"
                    image-src="../../resources/images/home/research.png"
                    link='toResearch'>
                </feature-item>
                
                <feature-item 
                    heading="Analyze" 
                    description="No se No se No se"
                    image-src="../../resources/images/home/analyze.png"
                    link='toAnalyze'>
                </feature-item>
                
                <feature-item 
                    heading="Community" 
                    description="No se No se No se"
                    image-src="../../resources/images/home/community.png"
                    link='toCommunity'>
                </feature-item>
                
                <feature-item 
                    heading="Trade" 
                    description="No se No se No se"
                    image-src="../../resources/images/home/trade.png"
                    link='toTrade'>
                </feature-item>
            </div>      
        </div>

        <feature-detail 
            image-src="../../resources/images/home/community_big.png" 
            heading="RESEARCH" 
            description="no se nose"
            link='toAnalyze'
            background>
        </feature-detail>
       
        <feature-detail
            image-src="../../resources/images/home/community_big.png" 
            heading="ANALYZE" 
            description="no se nose"
            link='toCommunity'
            alternate-layout>
        </feature-detail>

        <feature-detail
            image-src="../../resources/images/home/community_big.png" 
            heading="COMMUNITY" 
            description="no se nose"
            link='toTrade'
            background>
        </feature-detail>

        <feature-detail
            image-src="../../resources/images/home/community_big.png" 
            heading="TRADE" 
            description="no se nose"
            link='toAdvantages'
            alternate-layout>
        </feature-detail>

      	<div id="section-advantages" class="layout vertical flex">
           	
            <div style="margin-top:30px;" id='advantages' class="self-center">
        			<p>Advantages</p>
        		</div>

      			<div class="layout horizontal around-justified wrap">
      				<div class="layout vertical adv-container">
      					<iron-icon class="mediumIcon self-center" icon="aq-icons:touch-app"></iron-icon>
      					<p class="self-center">EASY</p>
      					<p class="self-center">Run backtest with very little code</i>
      				</div>

      				<div class="layout vertical adv-container">
      					<iron-icon class="mediumIcon self-center" icon="vaadin-icons:paperplane"></iron-icon>
      					<p class="self-center">FAST</p>
      					<p class="self-center">Do more and fast with <a href="http://julialang.org/benchmarks/">Julia</a></i>
      				</div>

      				<div class="layout vertical adv-container">
      					<iron-icon class="mediumIcon self-center" icon="aq-icons:security"></iron-icon>
      					<p class="self-center">SECURE</p>
      					<p class="self-center">Your ideas are your property</i>
      					
      				</div>
      			</div>

      			<div style="font-size:15px; margin-top:20px; max-height:35px; max-width:35px;margin-bottom:20px;" class="self-center"></div>

      			<div class="layout horizontal around-justified wrap">
      				<div class="layout vertical adv-container">
      					<adv-item class="self-center" advantage=" Free Data">
      					</adv-item>

      					<adv-item class="self-center" advantage="Easy to Program">
      					</adv-item>

      					<adv-item class="self-center" advantage="Encrypted Strategy">
      					</adv-item>
    				  </div>

      				<div class="layout vertical adv-container">
      					<adv-item class="self-center" advantage="Great Community"></adv-item>
      					
      					<adv-item class="self-center" advantage="Zero Setup"></adv-item>

      					<adv-item class="self-center" advantage="Unlimited Backtests">
      					</adv-item>
    				  </div>				
  			    </div>

  			    <!--paper-button style="margin-top:40px;" class="dark-button self-center" on-tap='onJoin' noink> Start Now
      			</paper-button-->

          	<div class="flex"></div>	
  	    </div>       
        
        <div class="section">
            <div id="callToAction" class="layout vertical center">
                  <div class="flex"></div>
                  <div id="ctaTagline">Join the platform and start researching your investment ideas now</div>

                  <div id="ctaParagraph"></div>

                  <paper-button class="dark-button" noink on-tap='onJoin'>Join Now</paper-button>

                  <div class="flex"></div>

            </div>

            <div class="footer layout horizontal wrap">   	
                <div class="layout vertical self-end">
                  	<p class="footer-link" route="/about/home" on-tap='onAboutUs'>About Us</a></p>
                  	<p class="footer-link" route="/about/people" on-tap='onAboutUs'>People</a></p>
                  	<p class="footer-link" route="/about/careers" on-tap='onAboutUs'>Careers</a></p>
                  	<p class="footer-link" route="/about/contact" on-tap='onAboutUs'>Connect</a></p>
                </div>

                <div class="flex"></div>
                <p class="self-end">© 2017 AimsQuant</p>
      	    </div>
        </div>
  
  </template>

  <script>

    Polymer({
  		is: 'aq-homepage',

      properties:{
        active: {
          type:Boolean,
          observer:'_activeChanged',
        },

      },

      attached: function() {
        //this.$$('#section-home').style.background = "url('../../resources/images/bg-home.jpeg')";
         //this.$$('#section-home').style.backgroundSize = "cover";
      },

      _activeChanged: function() {
        if(this.active) {
          this.$$('#section-home').scrollIntoView(true);
        }
      },
		
  		onJoin: function() {
  			this.fire('rt-changed',{route:'/user/signin'});;
  		},

  		onPageTwo: function() {
  			this.$$('#section-describe-code').scrollIntoView(true);
  		},

  		onPageThree: function() {
  			this.$$('#section-describe-backtest').scrollIntoView(true);
  		},

      onPageFour: function() {
        this.$$('#section-advantages').scrollIntoView(true);
      },

      onAboutUs: function(e) {
        this.fire('rt-changed', {route:e.target.getAttribute('route')});
      } 

    });

  </script>

</dom-module>

<dom-module id='adv-item'>
	 <style include="iron-flex iron-flex-alignment iron-positioning"> 
   </style>

	 <style>
  	 	#container {
  	 		  width:200px;
  	 	}

      p {
          font-size: 18px;
      }
	 </style>

	<template>
		<div id = 'container' class="layout horizontal">
			<iron-icon class="self-center" icon="aq-icons:check"></iron-icon>
			<p class="flex">&nbsp[[advantage]]</p>
		</div>		
	</template>
	
	<script>
		Polymer({
			is:'adv-item',
			properties:{
				advantage:String,
			},

		});
	</script>
</dom-module>

<dom-module id='feature-item'>
   <style include="iron-flex iron-flex-alignment iron-positioning"></style>

   <style>
      #container {
      }

      #inner-container {
          width:200px;
          height: 200px;
          background-color: #f0f0f0;
          margin: auto auto;
      }

      .heading {
         font-size: 18px;
         font-weight: 700;
         margin-top: 20px;
      }

      .link {
          margin-top: 20px;
          font-size: 16px;
          color: #07889B;
      }

      .link:hover {
         cursor: pointer;
         font-weight: 700;
      }

   </style>

  <template>
    <div id='container' class="layout vertical">
      <div id='inner-container' class="layout vertical">
          <div class="flex"></div>
          <img class="self-center" src="[[imageSrc]]">
          <div class="heading self-center">[[heading]]</div>
          <div class="flex"></div>
      </div>
      <p class="self-center">[[description]]</p>
      <div class="link self-center" on-tap="[[link]]">Learn More</div>
    </div>    
  </template>
  
  <script>
    Polymer({
      is:'feature-item',
      properties:{
        heading:String,
        description:String,
        imageSrc: String,
        link:String,
      },

    });
  </script>
</dom-module>

<dom-module id='feature-detail'>

    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
      .section {
          height:100vh;
          @apply(--layout-vertical);
      }

      .section-inner-container {
          width: 70%;
          margin: 0 auto;
      }

      .section-detail {
          @apply(--layout-vertical);
          @apply(--layout-center);
          width: 300px;
      }

      .section-detail-header {
          font-size: 28px;
          font-weight: 700;
          --margin-bottom:100px;
          margin-top:70px;
      }

      .section-detail-description {
          font-size: 16px;
          --font-weight: 700;
          margin-bottom:20px;
      }

      .section-detail-button {
          font-size: 15px;
          background-color: #07889B;
          color: white;
          padding: 5px 20px;
          text-transform: none;
          border-radius: 25px;
          width: 150px;
      }

      .img-container {
        width: 300px;
      }


    </style>

    <template>
        <div class="section">
            
            <!--div class="self-center section-detail-header">[[heading]]
            </div-->
                    
            <div class="flex"></div>

            <div class$="[[computeLayoutClass(vertical)]]  section-inner-container">
                
                <template is='dom-if' if='[[!alternateLayout]]'>
                    <div class="layout vertical img-container">
                        <img class$="[[computeAlignmentClass(alternateLayout)]]"" src="[[imageSrc]]">
                    </div>
                </template>

                <div class="section-detail">
                    <div class="flex"></div>
                    
                    <div class="section-detail-header">[[heading]]
                    </div>
                    
                    <div class="section-detail-description">[[description]]</div>
                    
                    <paper-button no-ink class="section-detail-button" on-tap='link'>Learn More
                    </paper-button>

                    <div class="flex"></div>  
                </div>

                <template is='dom-if' if='[[alternateLayout]]'>
                    <div class="layout vertical">
                        <img class$="[[computeAlignmentClass(alternateLayout)]]" src="[[imageSrc]]">
                    </div>
                </template>

            </div>

            <div class="flex"></div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'feature-detail',
            
            properties: {
                imageSrc: String,
                heading: String,
                description: String,
                link: String,

                background: {
                   type:Boolean,
                    value:false,
                },

                alternateLayout: {
                    type: Boolean,
                    value: false
                },

                vertical: {
                    type: Boolean,
                    value: false,
                },
            },

            attached: function() {
                if(this.background) {
                    //this.$$(".section").style.backgroundColor='#f0f0f0';
                    //this.$$(".section").style.backgroundColor = '#edf0f9';
                    this.$$(".section").style.backgroundColor = '#e8f7f8';
                }   
            },

            computeLayoutClass: function(vertical) {
                return vertical ? "layout vertical" : "layout horizontal around-justified";
            },

            computeAlignmentClass: function(alternateLayout) {
                return alternateLayout ? "self-end" : "self-start";
            },
        });
    </script>
</dom-module>






