p<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="aq-markdown-editor">

  <style is="custom-style" include="iron-flex iron-positioning"></style>
  
  <style>
    :host {
      display: block;
      background-color: none;
      height:100%;
    }
    
  </style>

  <template> 
    <div id="editor" class="flex" style="background:white; margin-top:30px; margin-bottom:30px;">

      <div class="flex layout horizontal" style="border:1px solid;">
        <!--div class="flex horizontal layout"-->
          <paper-icon-button icon="editor:format-bold" title="Bold"></paper-icon-button>
          <paper-icon-button icon="editor:format-italic" title="Italic"></paper-icon-button>
          <paper-icon-button icon="editor:format-underlined" title="Underline" ></paper-icon-button>
        <!--/div-->

        <div class="flex" style="max-width:5%"></div>

        
        <!--div class="layout horizontal"-->
          <paper-icon-button icon="editor:format-quote" title="Blockquote"></paper-icon-button>
          <paper-icon-button icon="icons:code" title="Code Sample"></paper-icon-button>
          <paper-icon-button icon="icons:link" title="Hyperlink"></paper-icon-button>
          <paper-icon-button icon="editor:insert-photo" title="Image"></paper-icon-button>
        <!--/div-->

        <div class="flex" style="max-width:5%"></div>
        <!--div class="layout horizontal"-->
        <paper-icon-button icon="editor:format-list-bulleted" title="Bullet List"></paper-icon-button>
        <paper-icon-button icon="editor:format-list-numbered" title="Number List"></paper-icon-button>
        <!--/div-->

        <div class="flex"></div>
          <paper-button title="Attach" style="color:black; padding:0; margin:5px; max-width:5%;" noink raised>
          <iron-icon style="color:black" icon="editor:attach-file" prefix></iron-icon>Attach
        </paper-button>
        
      </div>
    
      <iron-autogrow-textarea placeholder="Share your thoughts" style="height:200px; width:100%; padding-left:0">
      </iron-autogrow-textarea>

    </div>
               
  </template>
  
  <script>
    Polymer({
      is: 'aq-markdown-editor',

    });
  </script>
</dom-module>
