
<link rel="import" href="./simplemde.html">
 
<dom-module id="aq-markdown-editor">

  <style>
    
    .CodeMirror .CodeMirror-scroll {
        min-height: 100px !important;
    }

    .CodeMirror {
        --min-height: 100px;
    }

    .CodeMirror {
      height: 300px;
    }

  </style>

  <template>
    <textarea id="MyID" name="content" class="te"></textarea> 
  </template>

  <script>
    Polymer({
      is: 'aq-markdown-editor',
      
      properties:{
        
        toolbar:{
          type:Array,
          value:["bold","italic","heading","strikethrough","|",
                  "code", "quote", "link", "|", "unordered-list","ordered-list", "table","|","preview","side-by-side", "fullscreen"],
        },
        
        placeholder: {
          type:String,
          value:"Share your thoughts",
        },
      },
      
      ready() {
        this.simplemde = new SimpleMDE({element: this.$.MyID, toolbar:this.toolbar                              ,placeholder:this.placeholder});
      },
    
      getContent: function(){
        return this.simplemde.value();
      },
      
      setContent: function(content){
        if (this.simplemde){
          this.simplemde.value(content);
        }
      },
    });
  </script>

</dom-module>


