<link rel='import' href='../../bower_components/paper-header-panel/paper-header-panel.html'>
<link rel='import' href='../../bower_components/paper-toolbar/paper-toolbar.html'>
<link rel='import' href='../../bower_components/paper-menu/paper-menu.html'>
<link rel='import' href='../../bower_components/paper-menu/paper-submenu.html'>
<link rel='import' href='../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html'>
<link rel='import' href='../../bower_components/paper-listbox/paper-listbox.html'>

<link rel='import' href='../../bower_components/iron-icon/iron-icon.html'>
<link rel='import' href='../../bower_components/iron-icons/iron-icons.html'>
<link rel='import' href='../../bower_components/iron-icons/communication-icons.html'>
<link rel='import' href='../../bower_components/iron-icons/social-icons.html'>

<link rel='import' href='../../bower_components/vaadin-icons/vaadin-icons.html'>
<link rel='import' href='../../bower_components/iron-pages/iron-pages.html'>

<link rel='import' href='../../bower_components/paper-item/paper-item.html'>
<link rel='import' href='../../bower_components/paper-item/paper-icon-item.html'>
<link rel='import' href='../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<dom-module id='aq-sidebar'>
  <style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning"></style>
  <style>
    :host {
      --sidebar-text: {
        font-weight: 500;
        font-size: 14px;
      }

    }

    .sidenav {
      -ms-user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      background-color: #e5f1f5;--#333a56;--#30415d; --#1C263C;-- #EFEFEF;--D9D9D9;--#E0F2F1
      opacity: var(--dark-primary-opacity);
    }

    paper-toolbar {
      --paper-toolbar-title: {
        text-align: left;
        margin-left: 0px !important;
      };

    --paper-toolbar-background: #1C263C;

      opacity: var(--dark-primary-opacity);
      --border-bottom: 1px solid #e0e0e0;
    }

    paper-menu {
      padding-bottom: 0;
      background-color: #e5f1f5;--#333a56;--#30415d;
      opacity: var(--dark-primary-opacity);
    }

     iron-icon{
     --iron-icon-width:20px;
     --iron-icon-height:20px;
     color:#333a56;
   }

   paper-icon-item {
    height:5px;
   }

 
    paper-icon-item {
      --paper-icon-item: {
        cursor: pointer;
        font-size: 13px;
        --font-weight: bolder; 
        --background-color:#1C263C;
        color:#333a56;--white;
        width:75%;  
        margin: 0 auto;
      }
      
      --paper-item-min-height:35px;
      --paper-item-icon-width:35px;
      
      --paper-item-icon: {
        color: white;
      }

      --paper-item-selected: {
        background-color: #99ced4; 
        --width:80%;
        --margin:0 auto;
      }

    }

    #navigation {
      margin-top:30px;
    }

    #action {
      margin-top:20px;
    }

    #gap {
      border-top: 1px solid grey;
      margin-top:10px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: -10px;
    }

    .nav-header {
      font-size: 14px;
      font-weight: bold;
      margin-left:10px;
    }
  
  </style>

  <template>
    <paper-header-panel mode="seamed" class='sidenav fit'>
      <paper-toolbar>
        <paper-icon-button noink icon="icons:menu" on-tap="toggleMenu"></paper-icon-button>
        <div class="title">AimsQuant</div>
      </paper-toolbar>
      

      <div id='navigation'><span class='nav-header'>RESEARCH</span>
        <paper-menu fallback-selection="home" 
                    selected="{{menuSelected}}" 
                    attr-for-selected="menu-panel">
          <paper-icon-item id='menu-home' menu-panel="home" on-tap="onSelected" active="{{_isEqual(menuSelected, 'home')}}">Home
            <iron-icon item-icon icon="icons:home"></iron-icon>
          </paper-icon-item>

          <paper-icon-item id='menu-editor' menu-panel="editor" on-tap="onSelected" active="{{_isEqual(menuSelected, 'editor')}}">Strategy Builder
            <iron-icon item-icon icon="vaadin-icons:twin-col-select"></iron-icon>
          </paper-icon-item>

          <!--paper-icon-item id='menu-analyze' menu-panel="analyze" on-tap="onSelected" active="{{_isEqual(menuSelected, 'analyze')}}">Analyze
            <iron-icon item-icon icon="vaadin-icons:chart"></iron-icon>
          </paper-icon-item-->
          
          <paper-icon-item menu-panel="community" on-tap="onSelected" active="{{_isEqual(menuSelected, 'community')}}">Community
            <iron-icon item-icon icon="vaadin-icons:group"></iron-icon>
          </paper-icon-item>
   
          <paper-icon-item menu-panel="help" on-tap="onSelected" active="{{_isEqual(menuSelected,'help')}}">Help
            <iron-icon item-icon icon="vaadin-icons:book"></iron-icon>
          </paper-icon-item>
        </paper-menu>

      </div>

      <div id='gap'></div>
      <div id='action'>
        <div class='nav-header' style="margin-bottom:15px;"><span >QUICK ACTIONS</span>
        </div>
        <paper-icon-item menu-panel = 'editor' action-panel='createstrategy' on-tap="onAction">Create a Strategy
          <iron-icon item-icon icon="vaadin-icons:edit"></iron-icon>
        </paper-icon-item>
          
        <paper-icon-item menu-panel = 'editor'action-panel='comparebacktests' on-tap="onAction">Compare Backtests
          <iron-icon item-icon icon="vaadin-icons:edit"></iron-icon> 
        </paper-icon-item>

        <paper-icon-item menu-panel = 'community' action-panel='createpost' on-tap="onAction">Write a Post
          <iron-icon item-icon icon="communication:comment"></iron-icon>
        </paper-icon-item>
        
        <paper-icon-item menu-panel = '' action-panel='sendfeedback' on-tap="onAction">Send us Feedback
          <iron-icon item-icon icon="icons:feedback"></iron-icon>
        </paper-icon-item>

        <paper-icon-item menu-panel = '' action-panel='invitefriend' on-tap="onAction">Invite a Friend
          <iron-icon item-icon icon="social:person-add">
          </iron-icon>
        </paper-icon-item>

        <!--paper-icon-item action-panel='lockscreen' on-tap="onAction">Lock Screen
          <iron-icon item-icon icon="vaadin-icons:lock"></iron-icon>
        </paper-icon-item-->

      </div>
            
      
    </paper-header-panel>

  </template>

  <script>
  Polymer({
    is: 'aq-sidebar',

    properties: {

      menuShown: {
        type: Boolean,
      },

      menuSelected: {
        type: String,
      },

    },

    _isEqual(view1, view2) {
      return view1 == view2;
    },
    
    toggleMenu() {
      this.fire('close-menu');
    },

    onSelected(e) {
      this.fire('change-view-navigation', {menu: e.currentTarget.getAttribute('menu-panel')});
    },

    onAction(e) {
      this.fire('change-view-action', {action: e.currentTarget.getAttribute('action-panel'), menu: e.currentTarget.getAttribute('menu-panel')});
    },  

    selectPanel(newChoice){
      if (newChoice === this.selected) {
        return;
      } 
    },

  });
  </script>
</dom-module>