<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel="import" href="../components/common/aq-check-authentication.html">
<link rel="import" href="./aq-user-menu.html">
<link rel='import' href='../icons/aq-iconset.html'>

<dom-module id="aq-toolbar">
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        #toolbar {
            height: 8vh; 
            background-color: #fafafa;
            --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-bottom: 2px solid #e1e1e1;
        }
        
        #profile {
            right: 0;
        }

        #title-container {
            margin-left: 20px;
        }

        .title {
            min-width: 160px;
        }

        .title p {
            font-size: 24px;
        }

        .title:hover {
            cursor: pointer;
        }

        .title #quant {
            color: #cc6666;
        }

        #aims {
            color: teal;
        }

        #logo {
            background: url(../../../resources/images/Logo.png);
            background-size: cover;
            height: 30px;
            width: 42px;
            margin: auto 0;
        }

        #right-container {
            margin-right: 20px;
            height: 100%;
        }

        paper-tabs {
            margin-right: 10px;
            font-size: 16px;
            height: 100%;
            --paper-tabs-selection-bar-color: #cc6666;
            --paper-tabs-selection-bar: {
                height: 5px;
            }

            --paper-tabs-container: {
                height: 70%;
            }
        }

        paper-tab.iron-selected {
            color: #07889B;
        }

        #signUpTab {
            background-color: #07889B;
            color: white;
        }

        #signUpTab.iron-selected {
            background-color: #fafafa;
            color: #07889B;
        }

    </style>

    <template>

        <div id='toolbar' class="layout horizontal center">
        
            <div id='title-container' class="layout horizontal center">
                <!--template is='dom-if' if="[[computeShowMenu(showMenu, currentTab)]]">
                    <paper-icon-button class="self-center" noink icon="aq-icons:menu" on-tap="toggleMenu"></paper-icon-button>
                </template-->

                <template is='dom-if' if="[[showMenu]]">
                    <div on-tap='goToHome' class="title layout horizontal center">
                        <p id="aims">Aims</p>
                        <p id='quant'>Quant</p>
                        <div id='logo'></div>
                    </div>
                </template>
            </div>

            <div class="flex"></div>
            
            <div id='right-container' class="layout horizontal center">
                <template is='dom-if' if="{{!hasToken}}">
                    <paper-tabs id='papertabs' selected="{{currentTab}}" noink>
                        <paper-tab>HOME</paper-tab>
                        <paper-tab>ABOUT US</paper-tab>
                        <paper-tab>LOG IN</paper-tab>
                        <paper-tab id='signUpTab'>SIGN UP</paper-tab>
                    </paper-tabs>
                </template>

                <template is='dom-if' if="{{hasToken}}">
                    <paper-tabs id='papertabs' selected="{{currentTab}}" noink>
                        <paper-tab>RESEARCH</paper-tab>
                        <paper-tab>COMMUNITY</paper-tab>
                        <paper-tab>HELP</paper-tab>
                    </paper-tabs>
                </template>

                <template is='dom-if' if="{{hasToken}}">
                    <aq-user-menu></aq-user-menu>
                </template>
            </div>

        </div>

    </template>

    <script>
        Polymer({
            is: 'aq-toolbar',

            properties: {
                showMenu: {
                    type: Boolean,
                    value: true,
                },

                narrow: {
                    type: Boolean,
                },

                currentTab: {
                    type: Number,
                    notify: true,
                    observer:'_currentTabChanged',
                },

                hasToken: {
                    type: Boolean,
                    value: true,
                    observer:'_hasTokenChanged',
                },
            },

            toggleMenu: function () {
                this.fire('toggle-menu');
            },

            computeShowMenu: function (showMenu, currentTab) {
                return showMenu && currentTab == 1;
            },

            goToHome: function () {
                this.fire('rt-changed', {route: '/main'});
            },

            _currentTabChanged: function() {
                if(this.currentTab + 1) {
                    var route = "";

                    if(!this.hasToken) {
                        switch(this.currentTab) {
                            case 0: route = "/main";break;
                            case 1: route = "/about";break;
                            case 2: route = "/user/signin";break;
                            case 3: route = "/user/signup";break;
                        }
                    } else {
                        switch(this.currentTab) {
                            case 0: route = "/dashboard/editor";break;
                            case 1: route = "/dashboard/community";break;
                            case 2: route = "/dashboard/help";break;
                        }
                    }

                    this.fire('rt-changed',{route:route});
                }
            },

            _hasTokenChanged: function() {
                if(this.hasToken) {
                    this.currentTab = 0;
                } else {
                    this.currentTab = 2;
                }
            }

        });
    </script>
</dom-module>  