<link rel='import' href='../../bower_components/paper-button/paper-button.html'>

<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="./profile-img.html">

<dom-module id='aq-user-menu'>
    <style is="custom-style" include="iron-flex iron-flex-alignment">
    </style>

    <style>
        
        #profile {
            margin: 10px;
            width: 70px;
            height: 70px;
            background-image: url("../icons/compare.png");
        }

        #userid {
            margin-right: 10px;
            margin-bottom: 10px;
            color: #333a56;
        }

        #name {
            font-weight: bold;
        }

        .button {
            border-bottom: 1px solid #dfdfdf;
            color: #333a56;
            width:100%;
            --background-color: #e5f1f5;
        }

        paper-button {
            font-size: 13px;
        }

        .dropdown-content {
            --background-color:#ef5f15;
            min-width:300px;
        }

        #top {
            background-color: #99ced4;--teal;
            border-bottom: 1px solid #dfdfdf;
        }

        span {
            font-size: 13px;
        }

    </style>

    <template>
        <paper-menu-button id = 'userMenu' on-focus-out='onBlur' horizontal-offset=-250 vertical-offset=50>
            <profile-img letter={{letter}} class="dropdown-trigger"></profile-img>

            <div class="dropdown-content">
                <div id='top' class="layout horizontal">

                    <div id='profile'></div>
                    <div class="flex"></div>

                    <div id='userid' class="layout vertical self-end">
                        <div class="self-end" id='name'><span>[[firstName]] [[lastName]]</span></div>
                        <div class="self-end" id='email'><span>[[email]]</span></div>
                    </div>

                </div>

                    <div class="layout vertical">        
                        <div class="button self-start flex">
                            <paper-button noink on-tap="onMyAccount">My Account</paper-button>
                        </div>
                        
                        <div class="button self-start">
                            <paper-button noink on-tap="onInvite">Invite a Friend</paper-button>
                        </div>

                        <div class="button self-start">
                            <paper-button noink on-tap="onFeedback">Send us Feedback</paper-button>
                        </div>
                        <div class="button self-start">
                            <paper-button noink on-tap="onSignOut">Sign Out</paper-button>
                        </div>
                    </div>
        </paper-menu-button>

    </template>

    <script>
        Polymer({
			is: 'aq-user-menu',
            properties: {
                firstName: {
                  type: String,
                  value: ''
                },
                lastName: {
                  type: String,
                  value: ''
                }
            },
            ready: function() {
    		  	var x = localStorage.getItem('my-app-storage');
                var user = JSON.parse(x).user;
                this.firstName = user.firstName;
                this.lastName = user.lastName;
                this.email = user.email;
                this.letter = this.firstName[0]+this.lastName[0];
	        },

            onMyAccount() {
                this.$.userMenu.close();
                this.fire('myaccount-action');
            },

            onInvite() {
                this.$.userMenu.close();
                this.fire('enter-invite-action');
            },

            onFeedback() {
                this.$.userMenu.close();
                this.fire('take-feedback-action');
            },

            onSignOut() {
                this.$.userMenu.close();
                this.fire('signout-action');
            },
		});
    </script>

</dom-module>
