<dom-module id="code-editor-element">
    <link rel="stylesheet" href="code-editor-element.css">
    <template>
        <div id="flex-container">
            <div>
                <div class="acediff-class" id="editor-left"></div>
            </div>

            <div id="acediff-gutter"></div>

            <div>
                <div class="acediff-class" id="editor-right"></div>
            </div>
        </div>

    </template>
    <script>
        Polymer({
            is: "code-editor-element",
            properties:{
                codeLeft:{
                    type:String
                },
                codeRight:{
                    type:String
                },
                mode:{
                    type:String,
                    value:"ace/mode/javascript"
                },
                theme:{
                    type:String,
                    value:"ace/theme/github"
                },
                editable:{
                    type:Boolean,
                    value:false
                }
            },
            ready: function () {
                var aceDiffer = new AceDiff({
                    mode: null,
                    theme: null,
                    diffGranularity: 'broad',
                    showDiffs: true,
                    showConnectors: true,
                    maxDiffs: 5000,
                    left: {
                        id: 'editor-left',
                        content: null,
                        mode: this.mode,
                        theme: this.theme,
                        editable: this.editable,
                        copyLinkEnabled: true
                    },
                    right: {
                        id: 'editor-right',
                        content: null,
                        mode: this.mode,
                        theme: this.theme,
                        editable: this.editable,
                        copyLinkEnabled: true
                    },
                    classes: {
                        gutterID: 'acediff-gutter',
                        diff: 'acediff-diff',
                        connector: 'acediff-connector',
                        newCodeConnectorLink: 'acediff-new-code-connector-copy',
                        newCodeConnectorLinkContent: '&#8594;',
                        deletedCodeConnectorLink: 'acediff-deleted-code-connector-copy',
                        deletedCodeConnectorLinkContent: '&#8592;',
                        copyRightContainer: 'acediff-copy-right',
                        copyLeftContainer: 'acediff-copy-left'
                    }
                });
                this.editors = aceDiffer.getEditors();
            },
            setCodeLeft: function (codeLeft) {
                this.codeLeft = codeLeft;
                this.editors.left.setValue(this.codeLeft, 1);
                // Optional to prevent CTRL-Z and remove original content as the content was dinamically added
                this.editors.left.getSession().setUndoManager(new ace.UndoManager());
            },
            setCodeRight: function (codeRight) {
                this.codeRight = codeRight;
                this.editors.right.setValue(this.codeRight , 1);
                // Optional to prevent CTRL-Z and remove original content as the content was dinamically added
                this.editors.right.getSession().setUndoManager(new ace.UndoManager());
            },
            getCode: function () {
                return {
                    left: this.editors.left.getValue(),
                    right: this.editors.right.getValue()
                };
            }
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="ace-diff.js"></script>
</dom-module>

