<!--A small demo of how code editor works-->

<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">-->

    <!--<title>sauravb-element</title>-->

    <!--<script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>-->
    <!--<link rel="import" href="bower_components/polymer/polymer.html">-->

    <!--&lt;!&ndash; Importing the element and diff-pathch &ndash;&gt;-->
    <!--<link rel="import" href="custom_components/code-editor-element/code-editor-element.html">-->
    <!--<script src="custom_components/code-editor-element/diff-match-patch.js"></script>-->


    <!--<style>-->
        <!--#ce_element #flex-container{-->
        <!--}-->
        <!--#ce_element #flex-container{-->
            <!--margin-top: 50px;-->
        <!--}-->
    <!--</style>-->
<!--</head>-->
<!--<body>-->
<!--<code-editor-element id="ce_element"></code-editor-element>-->
<!--<button onclick="handleClick()">Get Content</button>-->
<!--<script type="text/javascript">-->
    <!--var code_editor= document.querySelector('code-editor-element');-->
    <!--var codeLeft = "var a = {\n propertyA: 12,\n propertyB: 123456, \n propertyC: 321, \n}";-->
    <!--var codeRight = "var a = {\n propertyA: 12,\n propertyZ: 123, \n propertyC: 321, \n}";-->
    <!--code_editor.setCodeLeft(codeLeft);-->
    <!--code_editor.setCodeRight(codeRight);-->
    <!--function handleClick() {-->
        <!--console.log(code_editor.getCode());-->
    <!--}-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
<dom-module id="code-editor-element">
    <link rel="stylesheet" href="code-editor-element.css">
    <template>
        <div id="flex-container">
            <div>
                <div class="acediff-class" id="editor-left"></div>
            </div>

            <div id="acediff-gutter"></div>

            <div>
                <div class="acediff-class" id="editor-right"></div>
            </div>
        </div>

    </template>
    <script>
        Polymer({
            is: "code-editor-element",
            properties:{
                codeLeft:{
                    type:String,
                    //value: "var a = {\n propertyA: 12,\n propertyB: 123, \n propertyC: 321, \n}"
                },
                codeRight:{
                    type:String,
                    //value: "var a = {\n propertyA: 12,\n propertyZ: 123, \n propertyC: 321, \n}"
                }
            },
            ready: function () {
                var aceDiffer = new AceDiff({
                    mode: null,
                    theme: null,
                    diffGranularity: 'broad',
                    showDiffs: true,
                    showConnectors: true,
                    maxDiffs: 5000,
                    left: {
                        id: 'editor-left',
                        content: null,
                        mode: "ace/mode/javascript",
                        theme: "ace/theme/github",
                        editable: true,
                        copyLinkEnabled: true
                    },
                    right: {
                        id: 'editor-right',
                        content: null,
                        mode: "ace/mode/javascript",
                        theme: "ace/theme/xcode",
                        editable: true,
                        copyLinkEnabled: true
                    },
                    classes: {
                        gutterID: 'acediff-gutter',
                        diff: 'acediff-diff',
                        connector: 'acediff-connector',
                        newCodeConnectorLink: 'acediff-new-code-connector-copy',
                        newCodeConnectorLinkContent: '&#8594;',
                        deletedCodeConnectorLink: 'acediff-deleted-code-connector-copy',
                        deletedCodeConnectorLinkContent: '&#8592;',
                        copyRightContainer: 'acediff-copy-right',
                        copyLeftContainer: 'acediff-copy-left'
                    }
                });
                this.editors = aceDiffer.getEditors();
            },
            setCodeLeft: function (codeLeft) {
                this.codeLeft = codeLeft;
                this.editors.left.setValue(this.codeLeft, 1);
                // Optional to prevent CTRL-Z and remove original content as the content was dinamically added
                this.editors.left.getSession().setUndoManager(new ace.UndoManager());
            },
            setCodeRight: function (codeRight) {
                this.codeRight = codeRight;
                this.editors.right.setValue(this.codeRight , 1);
                // Optional to prevent CTRL-Z and remove original content as the content was dinamically added
                this.editors.right.getSession().setUndoManager(new ace.UndoManager());
            },
            getCode: function () {
                return {
                    left: this.editors.left.getValue(),
                    right: this.editors.right.getValue()
                };
            }
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="ace-diff.js"></script>
</dom-module>

