<link rel='import' href='../../common/aq-backtest-metric-item.html'>
<dom-module id="code-editor-element">
    <link rel="stylesheet" href="code-editor-element.css">
    <style>
        :host {
            display: block;
        }

        #flex-container {
            display: inline-flex;
            flex-direction: row;
            position: relative;
            width: var(--code-editor-element-width, 100%);
            /* these 3 lines are to prevents an unsightly scrolling bounce affect on Safari */
            height: var(--code-editor-element-height, 100%);
            overflow: auto;
            justify-content: center;
        }

        ul {
            list-style: none;
        }

        .selected-backtest-left,.selected-backtest-right {
            max-width: 300px;
        }

        .selected-backtest-left-li, .selected-backtest-right-li {
            float: left;
            /*border: 1px solid teal;*/
            margin-bottom: 10px;
            padding: 2px 10px;
            margin-right: 10px;
            border-radius: 2px;
            cursor: pointer;
            background-color: #f2f2f2;
        }

        .left-li-items, .right-li-items {
            font-weight: 400;
            font-size: 12px;
        }

        .flex-container-inside {
            display: flex;
            flex-direction: column;
        }

        .lower-container {
            padding: 0 20px;
            margin-top: 10px;
            background-color: #f5f5f5;
        }

        .lower-container ul {
            display: flex;
            justify-content: space-between;
            margin: 15px 0;
            padding: 10px;
            margin: 0 auto;
            width: 500px;
        }

        ul {
            padding: 0;
            margin: 0;
            /*width: 300px;*/
            max-height: 70px;
            margin: 0 auto;
        }

        aq-backtest-metric-item {
            --aq-backtest-metric-item-text-label-font-size: 10px;
            --aq-backtest-metric-item-text-content-font-size: 12px;
        }
        .metric-item-li{
            display: inline-table;
        }
        .hr-bar{
            width: 100%;
            height: 1px;
            display: inline-block;
            background-color: #e6e6e6;
        }
        .red-bar{
            width: 4px;
            height: 20px;
            color:#cc4444;
        }
    </style>
    <template>
        <div id="flex-container">
            <div class="flex-container-inside">
                <ul class="selected-backtest-left">
                    <template is="dom-repeat" items="{{backtestIndexArray}}">
                        <li class="selected-backtest-left-li">
                            <span class="left-li-items">{{item}}</span>
                        </li>
                    </template>
                </ul>
                <div class="hr-bar"></div>
                <div class="lower-container">
                    <ul>
                        <li class="metric-item-li">
                            <aq-backtest-metric-item
                                    metric-name="Created"
                                    metric-value="27-Apr-17 11:32 a.m">
                            </aq-backtest-metric-item>
                        </li>
                        <li class="metric-item-li">
                            <aq-backtest-metric-item
                                    metric-name="Created"
                                    metric-value="27-Apr-17 11:32 a.m">
                            </aq-backtest-metric-item>
                        </li>
                        <li class="metric-item-li">
                            <aq-backtest-metric-item
                                    metric-name="Created"
                                    metric-value="27-Apr-17 11:32 a.m">
                            </aq-backtest-metric-item>
                        </li>
                        <li class="metric-item-li">
                            <aq-backtest-metric-item
                                    metric-name="Created"
                                    metric-value="27-Apr-17 11:32 a.m">
                            </aq-backtest-metric-item>
                        </li>
                    </ul>
                </div>
                <div class="acediff-class" id="editor-left"></div>
            </div>

            <div id="acediff-gutter">
                <div class="red-bar"></div>
            </div>

            <div class="flex-container-inside">
                <ul class="selected-backtest-right">
                    <template is="dom-repeat" items="{{backtestIndexArray}}">
                        <li class="selected-backtest-left-li">
                            <span class="left-li-items">{{item}}</span>
                        </li>
                    </template>
                </ul>
                <div class="hr-bar"></div>
                <div class="lower-container">
                    <ul>
                        <li>
                            <aq-backtest-metric-item
                                    metric-name="Created"
                                    metric-value="27-Apr-17 11:32 a.m">
                            </aq-backtest-metric-item>
                        </li>
                        <li>
                            <aq-backtest-metric-item
                                    metric-name="Created"
                                    metric-value="27-Apr-17 11:32 a.m">
                            </aq-backtest-metric-item>
                        </li>
                        <li>
                            <aq-backtest-metric-item
                                    metric-name="Created"
                                    metric-value="27-Apr-17 11:32 a.m">
                            </aq-backtest-metric-item>
                        </li>
                        <li>
                            <aq-backtest-metric-item
                                    metric-name="Created"
                                    metric-value="27-Apr-17 11:32 a.m">
                            </aq-backtest-metric-item>
                        </li>
                    </ul>
                </div>
                <div class="acediff-class" id="editor-right"></div>
            </div>
        </div>

    </template>
    <script>
        Polymer({
            is: "code-editor-element",
            properties: {
                codeLeft: {
                    type: String,
                    //value: "var a = {\n propertyA: 12,\n propertyB: 123, \n propertyC: 321, \n}"
                },
                codeRight: {
                    type: String,
                    //value: "var a = {\n propertyA: 12,\n propertyZ: 123, \n propertyC: 321, \n}"
                },
                mode: {
                    type: String,
                    value: "ace/mode/javascript"
                },
                theme: {
                    type: String,
                    value: "ace/theme/github"
                },
                editable: {
                    type: Boolean,
                    value: true
                },
                editors: {
                    type: Object
                },
                backtestIndexArray:{
                    type:Array,
                    value:[]
                }
            },
            init: function () {
                var aceDiffer = this.getAceDiff();
                this.editors = aceDiffer.getEditors();
            },
            setCodeLeft: function (codeLeft) {
                this.codeLeft = codeLeft;
                this.editors.left.setValue(this.codeLeft, 1);
                // Optional to prevent CTRL-Z and remove original content as the content was dinamically added
                this.editors.left.getSession().setUndoManager(new ace.UndoManager());
            },
            setCodeRight: function (codeRight) {
                this.codeRight = codeRight;
                this.editors.right.setValue(this.codeRight, 1);
                // Optional to prevent CTRL-Z and remove original content as the content was dinamically added
                this.editors.right.getSession().setUndoManager(new ace.UndoManager());
            },
            getCode: function () {
                return {
                    left: this.editors.left.getValue(),
                    right: this.editors.right.getValue()
                };
            },
            getAceDiff: function () {
                var aceDiffer = new AceDiff({
                    mode: null,
                    theme: null,
                    diffGranularity: 'broad',
                    showDiffs: true,
                    showConnectors: true,
                    maxDiffs: 5000,
                    left: {
                        id: 'editor-left',
                        content: null,
                        mode: this.mode,
                        theme: this.theme,
                        editable: this.editable,
                        copyLinkEnabled: true
                    },
                    right: {
                        id: 'editor-right',
                        content: null,
                        mode: this.mode,
                        theme: this.theme,
                        editable: this.editable,
                        copyLinkEnabled: true
                    },
//                    classes: {
//                        gutterID: 'acediff-gutter',
//                        diff: 'acediff-diff',
//                        connector: 'acediff-connector',
//                        newCodeConnectorLink: 'acediff-new-code-connector-copy',
//                        newCodeConnectorLinkContent: '&#8594;',
//                        deletedCodeConnectorLink: 'acediff-deleted-code-connector-copy',
//                        deletedCodeConnectorLinkContent: '&#8592;',
//                        copyRightContainer: 'acediff-copy-right',
//                        copyLeftContainer: 'acediff-copy-left'
//                    }
                });
                return aceDiffer;
            }
        });
        function getAceDiff(mode, theme, editable) {
            var aceDiffer = new AceDiff({
                mode: null,
                theme: null,
                diffGranularity: 'broad',
                showDiffs: true,
                showConnectors: true,
                maxDiffs: 5000,
                left: {
                    id: 'editor-left',
                    content: null,
                    mode: mode,
                    theme: theme,
                    editable: editable,
                    copyLinkEnabled: true
                },
                right: {
                    id: 'editor-right',
                    content: null,
                    mode: mode,
                    theme: theme,
                    editable: editable,
                    copyLinkEnabled: true
                },
                classes: {
                    gutterID: 'acediff-gutter',
                    diff: 'acediff-diff',
                    connector: 'acediff-connector',
                    newCodeConnectorLink: 'acediff-new-code-connector-copy',
                    newCodeConnectorLinkContent: '&#8594;',
                    deletedCodeConnectorLink: 'acediff-deleted-code-connector-copy',
                    deletedCodeConnectorLinkContent: '&#8592;',
                    copyRightContainer: 'acediff-copy-right',
                    copyLeftContainer: 'acediff-copy-left'
                }
            });
            return aceDiffer;
        }
    </script>
</dom-module>

