<link rel='import' href='../../../bower_components/paper-tabs/paper-tabs.html'>
<link rel='import' href='../../../bower_components/paper-tabs/paper-tab.html'>
<link rel='import' href='../../../bower_components/paper-card/paper-card.html'>
<link rel='import' href='../../../bower_components/iron-signals/iron-signals.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-pages/iron-pages.html'>
<link rel='import' href='../../../bower_components/paper-progress/paper-progress.html'>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

<link rel='import' href='./aq-backtest-metric-item.html'>
<link rel='import' href='./aq-backtest-header-item.html'>
<link rel='import' href='./aq-backtest-metric-item-list.html'>

<link rel='import' href='./aq-check-authentication.html'>
<link rel='import' href='./aq-cumret-linechart.html'>
<link rel='import' href='./aq-aggregatedreturns-barchart.html'>

<dom-module id='aq-backtest-detail-item'>
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        #netValueLineChart {
            --width: 100%;
            --height: 70%;
        }

        #cumRetLineChart {
            --height: 250px;
            width: 100%;
            --margin-bottom: 20px;
            margin-left: 5px;
            --highcharts-container: {
                width: 98%;
            };
        }

        #trackVarLineChart {
            margin-bottom: 20px;
            height: 160px;
            width: 100%;
            width: 98%;
        }

        #barChart {
            height: 400px;
            width: 100%;
        }

        .chart {
            width: 95%;
        }

        paper-tabs {
            --paper-tabs-selection-bar-color: teal;

            --paper-tabs: {
                margin-bottom: 10px;
            };

        }

        .lower-container {
            margin-top: 10px;
            background-color: #f5f5f5;
        }

        .middle-container {
            padding-top: 10px;
        }

        paper-card {
        	--paper-card:{
	        	color: #24293d;
	            margin: 0 auto;
	            height: 100%;
	            background-color: var(--aq-backtest-detail-item-background-color, #fff);
            }
        }

        .card-content{
        	color: #24293d;
        }
        

    </style>

    <template>

        <aq-check-authentication id='authItem'></aq-check-authentication>

        <paper-card class="layout vertical flex" elevation="{{elevation}}">
        	<div class="card-content" >
                <div class="middle-container self-center flex">
                	<template is='dom-if' if='[[backtestHeader]]'>
                		<aq-backtest-header-item 
                			forced-semi-wide = "[[forcedSemiWide]]"
                			header-items="{{backtestHeader}}">
                		</aq-backtest-header-item>
            		</template>
                </div>

                <div class="bar"></div>

                <div class="lower-container flex">
                	<template is='dom-if' if='{{metrics}}'>
                		<aq-backtest-metric-item-list 
                			forced-semi-wide = "[[forcedSemiWide]]"
                			metric-items = "{{metrics}}"
                			active="{{active}}">
            			</aq-backtest-metric-item-list> 
                	</template>
                </div>

                <div class="layout horizontal">
	                <div class="flex"></div>
	                <paper-tabs noink selected="{{graphType}}">
	                    <paper-tab>Cumulative Return</paper-tab>
	                    <template is='dom-if' if='[[!active]]'>
	                        <paper-tab>Monthly Returns</paper-tab>
	                    </template>
	                </paper-tabs>
	                <div class="flex"></div>
                </div>

                <iron-pages on-iron-resize='onResize' selected="{{graphType}}">
                    <div id='cumRetLineChartDiv'>
                    </div>

                    <template is='dom-if' if='[[!active]]'>
                        <div id='barChartDiv'>
                        </div>
                    </template>

                </iron-pages>
          	</div>
        </paper-card>
      
        <iron-signals on-iron-signal-point-data='onBacktestData'></iron-signals>

        <iron-signals on-iron-signal-bulk-data='onBacktestBulkData'></iron-signals>

        <iron-ajax
                url="[[computeGetBacktestUrl(backtestId)]]"
                method='GET'
                id='getBacktestsQuery'
                handle-as="json"
                on-response="onGetBacktestSuccess"
                on-error="onGetBacktestError"
                headers='{{header}}'
                debounce-duration="300"
                loading='{{loading}}'>
        </iron-ajax>

    </template>
    <script>
        Polymer({
            is: 'aq-backtest-detail-item',

            properties: {
                elevation:{
                    type:Number,
                    value:1,
                    notify:true
                },
                index:{
                    type:String
                },
                hide: {
                    type: Boolean,
                    value: true,
                },

                active: {
                    type: Boolean,
                    value: false,
                },

                metrics: Object,

                graphType: {
                    type: Number,
                    value: 0,
                },

                netValueData: {
                    type: Object,
                    value: {},
                },

                hasTrackVarData: {
                    type: Boolean,
                    value: false,
                },

                counter: {
                    type: Number,
                    value: 0,
                },

                count: {
                    type: Number,
                    value: 0,
                },

                backtestId: {
                    type: String,
                    observer: '_backtestIdChanged',
                },

                backtest: Object,

                header: Object,

                APIEndPoint: String,

                loading: {
                    type: Boolean,
                    readOnly: true,
                    notify: true,
                    value: false
                },

                pctCompleted: {
                    type: Number,
                    value: 0,
                },

                forcedSemiWide: {
                	type: Boolean,
                	value: false,
                },

            },

            _backtestIdChanged: function (nId, oId) {
                if (nId) {
                    this.reset();
                    this.requestStaticData();
                }
            },

            computeGetBacktestUrl: function (backtestId) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                return APIEndPoint + '/backtest/' + backtestId;
            },

            resetMetrics: function () {
                this.metrics = [{
                    "metricName": "Total Return",
                    "metricValue": "-",
                    "metricDescription": "Total Return"
                },
                    {
                        "metricName": "Annual Return",
                        "metricValue": "-",
                        "metricDescription": "Annual Return",
                    },
                    {
                        "metricName": "Volatility",
                        "metricValue": "-",
                        "metricDescription": "Volatility"
                    },
                    {
                        "metricName": "Sharpe Ratio",
                        "metricValue": "-",
                        "metricDescription": "Sharpe Ratio"
                    },
                    {
                        "metricName": "Information Ratio",
                        "metricValue": "-",
                        "metricDescription": "Information Ratio"
                    },
                    {
                        "metricName": "Sortino Ratio",
                        "metricValue": "-",
                        "metricDescription": "Sortino Ratio"
                    },
                    {
                        "metricName": "Avg. Drawdown",
                        "metricValue": "-",
                        "metricDescription": "Avg. Drawdown"
                    },
                    {
                        "metricName": "Max Drawdown",
                        "metricValue": "-",
                        "metricDescription": "Max Drawdown"
                    },
                    {
                        "metricName": "Calmar Ratio",
                        "metricValue": "-",
                        "metricDescription": "Calmar Ratio"
                    },
                    {
                        "metricName": "Beta",
                        "metricValue": "-",
                        "metricDescription": "Beta"
                    },
                    {
                        "metricName": "Stability",
                        "metricValue": "-",
                        "metricDescription": "Stability"
                    },
                    {
                        "metricName": "Avg. Concentration",
                        "metricValue": "-",
                        "metricDescription": "Avg. Concentration"
                    },];

            },

            reset: function () {

                var child = Polymer.dom(this.$.cumRetLineChartDiv).querySelector('aq-cumret-linechart');
                if (child) {
                    Polymer.dom(this.$.cumRetLineChartDiv).removeChild(child);
                }

                var el = document.createElement('aq-cumret-linechart');
                Polymer.dom(this.$.cumRetLineChartDiv).appendChild(el);

                Polymer.dom.flush();

                this.async(
                        function () {
                            if (!this.active) {
                                var child = Polymer.dom(this.$$('#barChartDiv')).querySelector('aq-aggregatedreturns-barchart');

                                if (child) {
                                    Polymer.dom(this.$$('#barChartDiv')).removeChild(child);
                                }

                                var el = document.createElement('aq-aggregatedreturns-barchart');
                                Polymer.dom(this.$$('#barChartDiv')).appendChild(el);
                                Polymer.dom.flush();
                            }

                        },
                        200);

                this.pctCompleted = 0;
                this.resetMetrics();
                this.counter = 0;
                this.hasTrackVarData = false;
                this.set('realtimeXLabels', []);
                this.set('trackVarKeysArray', []);
                this.graphsInitialized = false;
                this.backtestHeader = [];
            },

            subscribeData: function () {
                this.async(function () {
                    this.fire('subscribe-data', {backtestId: this.backtestId})
                }, 1000);
            },

            onBacktestData: function (e) {
                //process data obnly when element is active
                if (!this.active) {
                    return
                }

                data = e.detail;
                if ((data.outputtype == "performance" || data.outputtype == "labels") && this.active) {
                    this.addRealTimeData(data);

                    if (this.realtimeXLabels && this.realtimeXLabels.length > 0) {
                        this.pctCompleted = Math.round(this.counter * 100 / this.realtimeXLabels.length, 0);

                        this.fire('iron-signal', {name:'partially-completed-backtest', data: {pctCompleted:this.pctCompleted}});

                    }
                } else if (data.outputtype == "log" && data.messagetype == "ERROR") {
                    this.pctCompleted = -1;
                    this.fire('iron-signal', {name:'partially-completed-backtest', data:{pctCompleted: this.pctCompleted}});
                }
            },

            onBacktestBulkData: function (e) {
                //process data obnly when element is active
                if (!this.active) {
                    return;
                }

                var data = e.detail;
                if (data && data.length > 0) {
                    this.addLineBulkData(e.detail);
                }
            },

            addLineBulkData: function (data) {
                //this.addRealTimeBulkData(data);
                for (i in data) {
                    if ((data[i].outputtype == "performance" || data[i].outputtype == "labels") && this.active) {
                        this.addRealTimeData(data[i]);
                    }
                }

            },

            addRealTimeData: function (data) {

                if (data.outputtype == "labels") {

                    var keys = Object.keys(data.labels);
                    var allDates = new Array(keys.length);

                    for (var i = 0; i < keys.length; i++) {
                        allDates[i] = Date.parse(keys[i]);
                    }

                    this.set('realtimeXLabels', allDates.sort());

                } else { //Initialize the graphs based
                    //for Strategy/Benchmark/(and Variable data if any)

                    if (!this.graphsInitialized) {
                        this.initializeCumRetGraphs(data);
                    }

                    this.updateCumRetGraphsWithData(data);
                    this.addMetricData(data);
                }
            },

            updateCumRetGraphsWithData: function (data) {
                var types = ["totalreturn", "totalreturn_benchmark"];
                var legends = ["Strategy", "Benchmark"];
                var ct = this.counter++;

                if (this.hasTrackVarData && this.$$('aq-cumret-linechart') && this.active) {

                    var keysArray = this.trackVarKeysArray;

                    for (var i = 0; i < keysArray.length; i++) {

                        this.$$('aq-cumret-linechart').updateRealtime(ct, keysArray[i], data["variables"][keysArray[i]]);
                    }
                }

                for (var i = 0; i < types.length; i++) {
                    if (this.$$('aq-cumret-linechart') && this.active) {

                        this.$$('aq-cumret-linechart').updateRealtime(ct, legends[i], data[types[i]] + 100.0);
                    }
                }

            },

            initializeCumRetGraphs: function (data) {

                if (data["variables"]) {
                    this.updateGraphProperties(true);
                    // Initialize the track variable variable graphs
                    this.initializeCumRetGraphData(data);
                    this.initializeTrackVarData(data);
                } else {
                    this.updateGraphProperties(false);
                    this.initializeCumRetGraphData(data);
                }

                this.graphsInitialized = true;
            },

            initializeTrackVarData: function (data) {
                var colors = ["#FFAA1D", "#007849", "#6e2667", "#fc4a1a"];

                //Update chart height for accomodatin tracking variables

                var dataset = new Array(this.realtimeXLabels.length);

                for (var i = 0; i < this.realtimeXLabels.length; i++) {
                    dataset[i] = [this.realtimeXLabels[i], NaN];
                }

                this.set('trackVarKeysArray', Object.keys(data["variables"]).sort());


                for (i = 0; i < this.trackVarKeysArray.length; i++) {
                    this.$$('aq-cumret-linechart').addSeries(this.trackVarKeysArray[i], dataset, false,
                            {
                                lineWidth: 1,
                                yAxis: 1,
                                color: colors[i],
                                tooltip: {
                                    valueDecimals: 2,
                                },
                                pointStart: this.realtimeXLabels[0],
                            }
                    );
                }

                this.hasTrackVarData = true;
            },

            initializeCumRetGraphData: function (data) {

                var legends = ["Strategy", "Benchmark"]
                var colors = ["#0375b4", "#cc6666", "#FFAA1D", "#007849", "#6e2667", "#fc4a1a"];

                var dataset = new Array(this.realtimeXLabels.length);

                for (var i = 0; i < this.realtimeXLabels.length; i++) {
                    dataset[i] = [this.realtimeXLabels[i], NaN];

                }

                this.$$('aq-cumret-linechart').addSeries("Strategy", dataset, false,
                        {
                            color: colors[0],
                            lineWidth: 2,
                            compare: 'percent',
                            tooltip: {
                                pointFormatter: function () {
                                    var series = this.series;
                                    var color = series.color;
                                    var y = (this.y - 100).toFixed(2);
                                    var change = this.change.toFixed(2);

                                    return '<span style="color:' + color + '">\u25CF ' + series.name + '</span>: <b>' + change + '%</b><br/>';
                                },

                            },
                            pointStart: this.realtimeXLabels[0],

                        }
                );

                this.$$('aq-cumret-linechart').addSeries("Benchmark", dataset, false,
                        {
                            color: colors[1],
                            lineWidth: 1,
                            compare: 'percent',
                            tooltip: {
                                pointFormatter: function () {
                                    var series = this.series;
                                    var color = series.color;
                                    var y = (this.y - 100.0).toFixed(2);
                                    var change = this.change.toFixed(2);

                                    return '<span style="color:' + color + '">\u25CF ' + series.name + '</span>: <b>' + change + '%</b><br/>';

                                },

                            },
                            pointStart: this.realtimeXLabels[0],

                        }
                );

            },

            addMetricData: function (data) {
                this.metrics = [{
                    "metricName": "Total Return",
                    "metricValue": data.totalreturn.toString() + '%',
                    "metricDescription": "Total Return"
                },
                    {
                        "metricName": "Annual Return",
                        "metricValue": data.annualreturn.toString() + '%',
                        "metricDescription": "Annual Return",
                    },
                    {
                        "metricName": "Volatility",
                        "metricValue": data.annualstandarddeviation.toString() + '%',
                        "metricDescription": "Volatility"
                    },
                    {
                        "metricName": "Sharpe Ratio",
                        "metricValue": data.sharperatio,
                        "metricDescription": "Sharpe Ratio"
                    },
                    {
                        "metricName": "Information Ratio",
                        "metricValue": data.informationratio,
                        "metricDescription": "Information Ratio"
                    },
                    //{"metricName":"Sortino Ratio", "metricValue":"2.5", "metricDescription":"Sortino Ratio"},
                    //{"metricName":"Avg. Drawdown", "metricValue":data.drawdown.toFixed(2).toString()+'%', "metricDescription":"Avg. Drawdown"},
                    {
                        "metricName": "Max Drawdown",
                        "metricValue": data.maxdrawdown.toString() + '%',
                        "metricDescription": "Max Drawdown"
                    },
                    {
                        "metricName": "Calmar Ratio",
                        "metricValue": data.calmarratio,
                        "metricDescription": "Calmar Ratio"
                    },
                    {"metricName": "Beta", "metricValue": data.beta, "metricDescription": "Beta"},
                    {
                        "metricName": "Stability",
                        "metricValue": (data.stability) ? data.stability : "-",
                        "metricDescription": "Stability"
                    },
                    {"metricName": "Alpha", "metricValue": data.alpha.toString() + '%', "metricDescription": "Alpha"},
                    //{"metricName":"Avg. Concentration", "metricValue":"0.43", "metricDescription":"Avg. Concentration"},
                ];

            },

            requestStaticData: function () {

                if (this.backtestId && this.$.authItem.checkHasToken()) {
                    this.header = this.$.authItem.getHeader();
                    this.$.getBacktestsQuery.generateRequest();
                }
            },

            updateGraphProperties: function (trackVarFlag) {
                if (trackVarFlag) {
                    this.$$('aq-cumret-linechart').updatePropertiesForTrackVars();
                } else {
                    this.$$('aq-cumret-linechart').updateProperties();
                }
            },

            onGetBacktestSuccess: function (e) {

                this.set('backtest', e.detail.response);

                this.backtestHeader = 
                [
                	{	
                		label: "Created",
    					metric: date.formatDateTime(this.backtest.createdAt), 
					}, 

                	{
                		label: "Date Range",
                		metric: date.formatDate(this.backtest.settings.startDate) + " - " + date.formatDate(this.backtest.settings.endDate),
                	},

                	{
                		label: "Status",
                		metric: this.backtest.status.charAt(0).toUpperCase() + this.backtest.status.slice(1),
                	}
            	];
                
                if (this.backtest.status == "active") {
                    this.active = true;
                    this.subscribeData();
                    return;
                }

                if (this.backtest.output && this.backtest.output.analytics && this.backtest.output.analytics.rolling) {
                    this.addMetricData(this.backtest.output.analytics.rolling);
                }

                if (this.backtest.output.variables) {
                    // this variable is used because array changes are somehow not relaying back the template
                    this.hasTrackVarData = true;
                }

                this.updateGraphProperties(this.hasTrackVarData);

                this.async(this.createCumRetLineChart, 200);
                this.async(this.createTrackVarLineChart, 200);
                this.async(this.createMonthlyReturnBarChart, 500);
            },

            createCumRetLineChart: function () {
                this.$$('aq-cumret-linechart').createCumRetLineChart(this.backtest);
            },

            createMonthlyReturnBarChart: function () {
                if (!this.active) {
                    this.$$('aq-aggregatedreturns-barchart').updateProperties();
                    this.$$('aq-aggregatedreturns-barchart').createMonthlyReturnBarChart(this.backtest);
                }
            },

            createTrackVarLineChart: function () {
                this.$$('aq-cumret-linechart').createTrackVarLineChart(this.backtest);
            },

            onGetBacktestError: function (e) {
                console.log(e);
            },

            getYAxisLabel: function (number) {
                var x = "Net Value"
                if (number < Math.pow(10, 5)) {
                    return x;
                } else if (number > Math.pow(10, 5) && number < Math.pow(10, 7)) {

                    return x + " (Lacs)";
                } else {
                    return x + " (Crores)";
                }

                return label(max);
            },

            onResize: function () {
                if (this.$$('aq-cumret-linechart')) {
                    this.$$('aq-cumret-linechart').resizeChart();
                }

                if (this.$$('aq-aggregatedreturns-barchart')) {
                    this.$$('aq-aggregatedreturns-barchart').resizeChart();
                }
            },
        });
    </script>
    <script type="text/javascript" src="DateTime.js"></script>
</dom-module>

