<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<dom-module id="aq-breadcrumb-item">
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		.crumb-item {
			font-size: 11px;
			margin-left: 2px;
			color: #3c3c3c;
		}

		.crum-item-0 {
			margin-left: 0px !important;
		}

		.crumb-item:hover {
			cursor: pointer;
		}

	</style>

	<template>
		<!--template is='dom-if' if='[[pathReady]]'-->
			<div id="crumb-container" class="layout horizontal">
				<template is='dom-repeat' items=[[path]]>
					<div class="crumb-item" id="crumb-item-[[index]]" on-tap='onClick'>[[item]] > </div>
				</template>
			</div>
		<!--/template-->
	</template>

	<script>
		Polymer({
			is: 'aq-breadcrumb-item',

			properties: {
				path: Array,
				//modifiedPath: Array,
				//pathReady: Boolean,	
			},

			attached: function() {
				if(this.path && this.path.length > 0) {
					var nItems = this.path.length;
					this.async(function() { 
						this.$$('#crumb-item-'+(nItems -1)).style.color = '#cc6666';
						
						var content = this.$$('#crumb-item-'+(nItems -1)).textContent; 
						var idx = content.indexOf('>'); 
						
						if(idx != -1) {
							this.$$('#crumb-item-'+(nItems -1)).textContent =content.slice(0, idx-1); 
						}

						}, 50);
				}
			},

			onClick: function(e) {

				this.fire('bread-crumb-clicked', {page:e.target.innerText});
			}
			
		})
	</script>

</dom-module>