<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<dom-module id="aq-backtest-metric-item">
	<template>
		<style>
			:host{
				color:#646464;
				display: inline-block;
				font-family: 'Lato', sans-serif;
				font-size: 16px;

			}
			h1, h2, h3, h4, h5 {  margin: 0;  }
			.text-label{
				font-size: var(--aq-backtest-metric-item-text-label-font-size,0.8em);
				font-weight: 300;
			}
			.text-content{
				font-weight: 400;
				font-size: var(--aq-backtest-metric-item-text-content-font-size,1em);
			}
			.li-container {
				--text-align: center;
				margin-top: 5px;
				margin-bottom: 5px;
			}
		</style>
		<div class="li-container">
			<h3 class="text-label">{{metricName}}</h3>
			<span class="text-content">{{metricValue}}</span>
		</div>
	</template>
	<script>
		Polymer({
			is:"aq-backtest-metric-item",
			properties:{
				metricName:{
					type:String,
					notify:true
				},
				metricValue:{
					type:String,
					value:"-"
				}
			}
		})
	</script>
</dom-module>