<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<dom-module id="aq-breadcrumb-item">
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		.crumb-item {
			font-size: 11px;
			margin-left: 2px;
			color: #3c3c3c;
		}

		.crum-item-0 {
			margin-left: 0px !important;
		}

		.crumb-item-text-hoverable:hover {
			cursor: pointer;
			text-decoration: underline;
			color: teal;
		}

	</style>

	<template>
		<!--template is='dom-if' if='[[pathReady]]'-->
			<div id="crumb-container" class="layout horizontal">
				<template is='dom-repeat' items=[[path]] restamp on-dom-change='onDomChange'>
					<div class="crumb-item" id="crumb-item-[[index]]" on-tap='onClick'><span class$="[[hoverClass(path,index)]]"">[[item.text]]</span>
					<template is='dom-if' if=[[indexLessThanLength(path,index)]]> <span class="self-center">></span></template></div>
				</template>
			</div>
		<!--/template-->
	</template>

	<script>
		Polymer({
			is: 'aq-breadcrumb-item',

			properties: {
				path: {
					type: Array,
					//observer:'_pathChanged',
				}
			},

			onDomChange: function() {
				if(this.path && this.path.length > 0) {
					var nItems = this.path.length;
					this.async(function() { 
						for(var i=0;i<this.path.length;i++) {
							if(this.$$('#crumb-item-'+i)) {
								this.$$('#crumb-item-'+i).style.color = 'black';
							}
						}

						if(this.$$('#crumb-item-'+(nItems-1))) {
							this.$$('#crumb-item-'+(nItems-1)).style.color = '#cc6666';
							this.$$('#crumb-item-'+(nItems-1)).style.cursor = 'default';

						}
						
					}, 50);
				}
			},

			indexLessThanLength: function(path, index) {
				return index < path.length - 1;
			},

			onClick: function(e) {
				var text = e.target.innerText;
				text = text.replace(' >','');
				var texts = this.path.map(item => item.text);
				var idx = texts.indexOf(text);
				
				if(idx != -1) {
					this.fire('rt-changed', {route: this.path[idx].route});
				}
				
			},

			hoverClass: function(path, index) {
				if (this.indexLessThanLength(path, index)) {
					return "crumb-item-text-hoverable";
				}
			}
			
		})
	</script>

</dom-module>