<link rel='import' href='../../../bower_components/nvd3-elements/nvd3-multi-bar.html'>
<link rel='import' href='../../../bower_components/nvd3-elements/nvd3-line.html'>
<link rel='import' href='../../../bower_components/paper-tabs/paper-tabs.html'>
<link rel='import' href='../../../bower_components/paper-tabs/paper-tab.html'>
<link rel='import' href='../../../bower_components/paper-card/paper-card.html'>
<link rel='import' href='../../../bower_components/iron-signals/iron-signals.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='./aq-backtest-metric-item.html'>

<dom-module id='aq-backtest-detail-item'>
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>
  
	<style> 
		#lineChart {
			width:100%;
			--height:70%;
		}
		chart-bar {
			width: 5%;
			height:5%;
		}
		.detail {
			margin:10px;
			--margin-bottom:0px !important;
			--height:250px;
			width:50%;
		}	

		.detailmetric {
			--border:1px solid teal;
			height:73px;
			--border-bottom:1px solid teal;
			--border-right:1px solid teal;

		}

		.detailmetric span{
			vertical-align: center;
			text-align: center;
			margin-top:15px;

		}

		.mdcontainer {
			margin-left:10px;
			margin-right:10px;
			--margin-top:5px;
			margin-bottom:8px;
			height:62px;
		}

	
		#detail-header {
			margin-top:10px;
			margin-bottom: 5px;
			margin-left:10px;
			font-weight: bold;
		}

		.chart {
			width:95%;
		}
		.tooltip:{
			margin-top: -10px;

		}
		.width_tab{
			width: 144px;
		}
		.wrap    { 
		  -webkit-flex-wrap: wrap;
		  flex-wrap: wrap;
		}  

		.paper_body {
			width: 98%;
		    text-align: -webkit-center;
		    color:#333a56;
		    border:1px solid teal;
		    
		}

		.flex_container{
			display: flex;
		}
		
		paper-tabs {
			--paper-tabs-selection-bar-color:teal;

			--paper-tabs:{
				--height:100%;
				margin-bottom:10px;
			};
		}

	</style>

	<template>
		<div class="layout">
			<paper-card class="flex detail layout vertical paper_body">
				<div id='detail-header' class="layout horizontal">
					<span class="self-center">Equity Curve</span>
					<div class="flex"></div>	
					<div class="toggle_tab">
						<div>
							<paper-tabs noink selected={{graphType}}>
								<paper-tab>Equity</paper-tab>
								<paper-tab>Returns</paper-tab>
							</paper-tabs>
						</div>
					</div>
				</div>
				
				<iron-pages selected={{graphType}}>
				<template is='dom-if' if="[[lineData]]">
					<nvd3-line 
			  			id="lineChart" 
			  			height=300
			  			show-legend 
			  			use-interactive-guideline 
			  			auto-resize
			  			no-data="Fetching Data" 
			  			data=[[lineData]]>
			  		</nvd3-line>
		  		</template>
			      
			    <template is='dom-if' if="[[barData]]">    
			  		<nvd3-multi-bar 
	  				 	height="300" 
	  				 	class="bar" 
  					 	auto-resize 
	  				 	show-legend
	  				 	use-interactive-guideline 
	  				 	no-data="Fetching Data"
	  				 	data=[[barData]]>	 	
	  				 </nvd3-multi-bar>
		  		</template>
	
		  		</iron-pages>
			      

				<div id='detail-header' class="layout horizontal flex">
					<span class="self-center">Risk Metrics</span>
					<div class="flex"></div>	
				</div>

				<div class="wrap flex_container">
					<template is="dom-repeat" items="{{metrics}}">
						<div class="layout horizontal flex mdcontainer">
							<aq-backtest-metric-item class="flex width_tab" metric-name={{item.metricName}} 
								metric-value={{item.metricValue}}
								metric-desc={{item.metricDescription}}>
							</aq-backtest-metric-item>
						</div>
					</template>			
				</div>
			</paper-card>	
		</div>

		<iron-signals id='datasignal' on-iron-signal-point-data='onBacktestData' on-iron-signal-bulk-data='onBacktestData'></iron-signals>
			
	</template>
	<script>
		Polymer ({
			is:'aq-backtest-detail-item',
			
			properties:{
				hide: {
					type: Boolean,
					value: true,
				},

				active:{
					type:Boolean,
					value:true,
					//observer:'_isActiveChanged',
				},

				metrics:Object,

				graphType: {
					type:Number,
					value:0,
				},

				lineData: {
					type:Object, 
					value:[],
				},

				maxLineData:{
					type:Number,
				},

				minLineData:{
					type:Number,
				},

				counter:{
					type:Number,
					value:0,
				},

				barData: {
					type:Object, 
				},

				count:{
					type:Number,
					value:0,
				},

				backtestId:String
			},

			ready: function() {

				/*this.lineData = [{
					  "color": "#ff7f0e",
					  "keys" : "graph",
					  "values": [{
					      "x": 0,
					      "y": 0
					    }, {
					      "x": 1,
					      "y": 0.099
					    }, {
					      "x": 2,
					      "y": 0.186
					    }, {
					      "x": 3,
					      "y": 0.095
					    }, {
					      "x": 4,
					      "y": 0.389
					    }, {
					      "x": 5,
					      "y": 0.794
					    }]
					}];*/
			},

			attached: function() {
				this.async(this.subscribeData, 2000);
			},

			reset: function() {
				this.lineData = [];
				this.barData = [];
				this.counter = 0;
			},

			subscribeData: function() {
				console.log("Fetching Data: " + this.backtestId);
				this.fire('subscribe-data',{backtestId: this.backtestId});
			},

			onBacktestData: function(e) {
				//console.log("Point Start");
				//console.log("In Backtest Screen: Point");
			
				var isArray = Array.isArray(e.detail);

				if (isArray) {
					this.onBacktestBulkData(e);
					return;
				}

				//console.log("Point Start");
				if (e.detail.outputtype == "performance") {	
					//console.log(e.detail);
					this.addLineData(e.detail);
				}
				//console.log("Point End");
			},

			onBacktestBulkData: function(e) {
				//console.log("In Backtest Screen: Bulk");
				
				var data = e.detail;
				//console.log(data);

				if(data && data.length > 0) {
					this.reset();
					this.addLineBulkData(e.detail);	
				}	

				/*console.log(this.count);
				if(this.count++ < 10) {
					console.log("Again");
					this.async(this.fetchData,1000);	
					//this.count++;
				}*/	
			},		

			addLineBulkData: function(data) {
				console.log(data.length);
				console.log("Bulk Start");
				for(i in data) {
					if (data[i].outputtype=="performance") {
						this.addLineData(data[i]);
					}
				}
				console.log("Bulk End");
			},
		
			addLineData: function(data) {


				var linepoint = {};
            	linepoint.y = data.netvalue.toFixed(2);
            	//console.log(linepoint.y)
            	linepoint.x = this.counter++; //new Date(e.detail.date);//
           		
           		//console.log("Length: " + this.lineData.length);

				if (this.lineData.length) {	
					this.lineData[0]["values"].push(linepoint);
					
						this.minLineData = Math.round(Math.min(this.minLineData, 0.98*linepoint.y)/10000)*10000;

						this.maxLineData = Math.round(Math.max(this.maxLineData, 1.02*linepoint.y)/10000)*10000;


					if (this.lineData[0]["values"].length % 20 == 0) {
						
						//console.log(this.minLineData);
						//console.log(this.maxLineData);

						this.$$('#lineChart')._chart.forceY([this.minLineData,this.maxLineData]);
						this.$$('#lineChart').refresh();
						this.addMetricData(data);

					}

					if (this.lineData[0]["values"].length % 500 == 0) {
						//console.log(this.lineData);
					}

				} else {
	
					this.lineData = [{
					  "key":"Net Value",
					  "color": "#ff7f0e",
					  "values": [linepoint]}];

					this.minLineData = linepoint.y;
					this.maxLineData = Math.round(1.02 * linepoint.y/10000)*10000;  
					
					this.$$('#lineChart')._chart.forceY([this.minLineData,this.maxLineData]);
					
					this.$$('#lineChart')._chart.forceX([0,501]);
					
				}

			},

			addMetricData: function(data) {
				this.metrics = [{
				            		"metricName":"Total Return", 
				            		"metricValue":data.totalreturn.toFixed(2), 
				            		"metricDescription":"Total Return"
				            	},
								{
									"metricName":"Annual Return",
									"metricValue":data.annualreturn.toFixed(2),
									"metricDescription":"Annual Return",
								},
							{"metricName":"Volatility", "metricValue":data.annualstandarddeviation.toFixed(2), "metricDescription":"Volatility"},
							{"metricName":"Sharpe Ratio", "metricValue":data.sharperatio.toFixed(2), "metricDescription":"Sharpe Ratio"},
							{"metricName":"Information Ratio", "metricValue":data.informationratio.toFixed(2), "metricDescription":"Information Ratio"},
							{"metricName":"Sortino Ratio", "metricValue":"2.5", "metricDescription":"Sortino Ratio"},
							{"metricName":"Avg. Drawdown", "metricValue":data.drawdown.toFixed(2), "metricDescription":"Avg. Drawdown"},
							{"metricName":"Max Drawdown", "metricValue":data.maxdrawdown.toFixed(2), "metricDescription":"Max Drawdown"},
							{"metricName":"Calmar Ratio", "metricValue":"4.3", "metricDescription":"Calmar Ratio"},
							{"metricName":"Beta", "metricValue":"0.98", "metricDescription":"Beta"},
							{"metricName":"Stability", "metricValue":"0.88", "metricDescription":"Stability"},
							{"metricName":"Avg. Concentration", "metricValue":"0.43", "metricDescription":"Avg. Concentration"},];

			}

		});
	</script>
			
</dom-module>

