<link rel='import' href='./aq-backtest-metric-item.html'>
<link rel="import" href="../../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<script src="../../../resources/scripts/DateTime.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js" type="text/javascript"></script>
<script src="../../../resources/scripts/ace-diff.js"></script>
<script src="../../../resources/scripts/diff-match-patch.js"></script>

<dom-module id="aq-code-comparison-element">
    
    <style>
        :host {
            display: block;
        }

        #flex-container>div {
            position: relative;
            flex-grow: 1;
        }
        
        #flex-container>div#acediff-gutter {
            height: 45px;
            top:-15px;
            width: 3px;
            background-color: transparent;
        }

        .acediff-class {
            position: relative !important;
            width: 100%;
            height: 100%;
        }

        /*Gutter*/
        .acediff-diff {
            background-color: #5E35B1;
            border-top: 1px solid #5E35B1;
            border-bottom: 1px solid #5E35B1;
            position: absolute;
            z-index: 4;
        }
        /*Positioning the gutter*/
        .acediff-diff.targetOnly {
            height: 0px !important;
            border-top: 1px solid #a2d7f2;
            border-bottom: 0px;
            position: absolute;
        }

        #acediff-gutter svg{
            display: none;
        }
        
        .acediff-copy-right,
        .acediff-copy-left {
            display: none;
        }

        #flex-container {
            display: inline-flex;
            flex-direction: row;
            position: relative;
            width: var(--aq-code-comparison-element-width, 100%);
            /* these 3 lines are to prevents an unsightly scrolling bounce affect on Safari */
            height: var(--aq-code-comparison-element-height, 100%);
            overflow: auto;
            justify-content: center;
            margin-top: 20px;
        }

        ul {
            list-style: none;
        }

        .selected-backtest-left, .selected-backtest-right {
            max-width: 300px;
        }

        .selected-backtest-left-li, .selected-backtest-right-li {
            float: left;
            /*border: 1px solid teal;*/
            margin-bottom: 10px;
            padding: 2px 10px;
            margin-right: 10px;
            border-radius: 2px;
            cursor: pointer;
            background-color: #f2f2f2;
            height: 19px;
            transition: all 0.2s ease-in-out;
        }

        .left-li-items, .right-li-items {
            font-weight: 400;
            font-size: 12px;
        }

        .flex-container-inside {
            display: flex;
            flex-direction: column;
        }


        .lower-container ul {
            display: flex;
            justify-content: space-between;
            margin: 15px 0;
            padding: 10px;
            margin: 0 auto;
            width: 500px;
        }

        ul {
            padding: 0;
            /*width: 300px;*/
            max-height: 67px;
            min-height: 57px;
            margin: 0 auto;
            overflow: hidden;
            overflow-y: scroll;
        }

        aq-backtest-metric-item {
            --aq-backtest-metric-item-text-label-font-size: 10px;
            --aq-backtest-metric-item-text-content-font-size: 12px;
        }

        .metric-item-li {
            display: inline-table;
        }

        .hr-bar {
            width: 100%;
            height: 2px;
            display: inline-block;
            background-color: #e6e6e6;
            margin: 5px 0;
        }

        .red-bar {
            width: 4px;
            height: 20px;
            background-color: #cc4444; 
        }

        .iron-selected {
            /*border: 1px solid teal;*/
            background-color: teal;
            color: #fff;
        }
        .lower-container {
            padding: 0 20px;
            margin-top: 5px;
            background-color: #f5f5f5;
            border:none;
            height: 60px;
        }
    </style>
    <template>
        <div id="flex-container">
            <div class="flex-container-inside">
                <ul class="selected-backtest-left center">
                    <iron-selector id="leftSelector" selected="{{selectedLeft}}">
                        <template is="dom-repeat" items="{{backtestIndexArray}}">
                            <li class="selected-backtest-left-li">
                                <span class="left-li-items">{{item}}</span>
                            </li>
                        </template>
                    </iron-selector>
                </ul>
                <div class="hr-bar"></div>
                <iron-pages selected="{{selectedLeft}}">
                    <template is="dom-repeat" items="{{backtests}}">
                        <div class="lower-container">
                            <ul>
                                <li class="metric-item-li">
                                    <aq-backtest-metric-item
                                            metric-name="Created"
                                            metric-value="{{item.createdAt}}">
                                    </aq-backtest-metric-item>
                                </li>
                                <li class="metric-item-li">
                                    <aq-backtest-metric-item
                                            metric-name="Time Period"
                                            metric-value="[[formatDate(item.settings.startDate)]] - [[formatDate(item.settings.endDate)]]">
                                    </aq-backtest-metric-item>
                                </li>
                                <li class="metric-item-li">
                                    <aq-backtest-metric-item
                                            metric-name="Total Return"
                                            metric-value="{{item.output.summary.totalreturn}}%">
                                    </aq-backtest-metric-item>
                                </li>
                                <li class="metric-item-li">
                                    <aq-backtest-metric-item
                                            metric-name="Sharpe Ratio"
                                            metric-value="{{item.output.summary.sharperatio}}">
                                    </aq-backtest-metric-item>
                                </li>
                            </ul>
                        </div>
                    </template>
                </iron-pages>
                <div class="acediff-class" id="editor-left"></div>
            </div>

            <div id="acediff-gutter">
                <!--div class="red-bar"></div-->
            </div>

            <div class="flex-container-inside">
                <ul class="selected-backtest-right">
                    <iron-selector id="rightSelector" selected="{{selectedRight}}">
                        <template is="dom-repeat" items="{{backtestIndexArray}}">
                            <li class="selected-backtest-left-li">
                                <span class="left-li-items">{{item}}</span>
                            </li>
                        </template>
                    </iron-selector>
                </ul>
                <div class="hr-bar"></div>
                <iron-pages selected="{{selectedRight}}">
                    <template is="dom-repeat" items="{{backtests}}">
                        <div class="lower-container">
                            <ul>
                                <li>
                                    <aq-backtest-metric-item
                                            metric-name="Created"
                                            metric-value="{{item.createdAt}}">
                                    </aq-backtest-metric-item>
                                </li>
                                <li>
                                    <aq-backtest-metric-item
                                            metric-name="Time Period"
                                            metric-value="[[formatDate(item.settings.startDate)]] - [[formatDate(item.settings.endDate)]]">
                                    </aq-backtest-metric-item>
                                </li>
                                <li>
                                    <aq-backtest-metric-item
                                            metric-name="Total Return"
                                            metric-value="{{item.output.summary.totalreturn}}%">
                                    </aq-backtest-metric-item>
                                </li>
                                <li>
                                    <aq-backtest-metric-item
                                            metric-name="Sharpe Ratio"
                                            metric-value="{{item.output.summary.sharperatio}}">
                                    </aq-backtest-metric-item>
                                </li>
                            </ul>
                        </div>
                    </template>
                </iron-pages>
                <div class="acediff-class" id="editor-right"></div>
            </div>
        </div>

    </template>
    <script>
        Polymer({
            is: "aq-code-comparison-element",
            properties: {
                codeLeft: {
                    type: String,
                    //value: "var a = {\n propertyA: 12,\n propertyB: 123, \n propertyC: 321, \n}"
                },
                codeRight: {
                    type: String,
                    //value: "var a = {\n propertyA: 12,\n propertyZ: 123, \n propertyC: 321, \n}"
                },
                mode: {
                    type: String,
                    value: "ace/mode/javascript"
                },
                theme: {
                    type: String,
                    value: "ace/theme/github"
                },
                editable: {
                    type: Boolean,
                    value: true
                },
                editors: {
                    type: Object
                },
                selectedLeft: {
                    type: Number,
                    value: 0
                },
                selectedRight: {
                    type: Number,
                    value: 1
                },
                compareItems: {
                    type:Array,
                    value:[],
                    observer:'_compareItemsChanged',
                }
            },
            
            compareCode: function() {    
                var element = this;
                var aceDiffer = this.getAceDiff();
                this.editors = aceDiffer.getEditors();
                this.backtests = this.compareItems.map(function(x){return x.backtest;}); 
                this.backtestIndexArray = this.compareItems.map(function(x) {return x.index;});

                for (var i = 0; i < this.backtests.length; i++) {
                    this.backtests[i].createdAt = date.formatDateTime(this.backtests[i].createdAt);
                }
                this.$$('#leftSelector').addEventListener('iron-select',function () {
                    element.setCodeLeft(element.backtests[element.$$('#leftSelector').selected].code);
                });
                this.$$('#rightSelector').addEventListener('iron-select',function () {
                    element.setCodeRight(element.backtests[element.$$('#rightSelector').selected].code);
                });
            },

            _compareItemsChanged: function() {
                this.async(this.compareCode, 500);
            },

            setCodeLeft: function (codeLeft) {
                this.codeLeft = codeLeft;
                this.editors.left.setValue(this.codeLeft, 1);
                // Optional to prevent CTRL-Z and remove original content as the content was dinamically added
                this.editors.left.getSession().setUndoManager(new ace.UndoManager());
            },
            
            setCodeRight: function (codeRight) {
                this.codeRight = codeRight;
                this.editors.right.setValue(this.codeRight, 1);
                // Optional to prevent CTRL-Z and remove original content as the content was dinamically added
                this.editors.right.getSession().setUndoManager(new ace.UndoManager());
            },

            getCode: function () {
                return {
                    left: this.editors.left.getValue(),
                    right: this.editors.right.getValue()
                };
            },

            getAceDiff: function () {
                var aceDiffer = new AceDiff({
                    mode: null,
                    theme: null,
                    diffGranularity: 'broad',
                    showDiffs: true,
                    showConnectors: true,
                    maxDiffs: 5000,
                    left: {
                        id: 'editor-left',
                        content: null,
                        mode: this.mode,
                        theme: this.theme,
                        editable: this.editable,
                        copyLinkEnabled: true
                    },
                    right: {
                        id: 'editor-right',
                        content: null,
                        mode: this.mode,
                        theme: this.theme,
                        editable: this.editable,
                        copyLinkEnabled: true
                    },
                });
                return aceDiffer;
            },
            
            formatDateTime: function (dateVar) {
                return date.formatDateTime(dateVar);
            },
            
            formatDate: function (dateVar) {
                return date.formatDate(dateVar);
            },
            
        });

    </script>
    
</dom-module>

