<dom-module id='aq-dropdown'>
	<style>
		paper-button {	
			border-radius: 0px;	
			border: var(--dropdown-border, 1px solid #e5e5e5);
			width: var(--dropdown-width,100%);	
 			text-transform: none;
			font-weight: var(--dropdown-font-weight, normal);
			font-size: var(--dropdown-font-size,12px);
			height: var(--dropdown-height, 30px);
			background-color: var(--dropdown-background-color, white);
		}

		paper-item {
			--paper-item-selected-weight:normal;
			font-size: var(--dropdown-paper-menu-font-size, 12px);
			text-decoration: none;
			background-color: var(--dropdown-background-color, white);
			width: var(--dropdown-width,100%);
		}

		paper-menu-button {	
			width: var(--dropdown-width,100%);
			--paper-menu-button-content: {
				width: var(--dropdown-width, 100%);
				--background-color: var(--dropdown-background-color, white);
				min-width: var(--dropdown-min-width, 100px);
			}
		}

		paper-menu-button {	
			--paper-menu-button-dropdown: {
				--width: var(--dropdown-width, 100%);
				--background-color: var(--dropdown-background-color, white);
				min-width: var(--dropdown-min-width, 100px);
				position: relative;
			}
		
		paper-listbox {
			--paper-listbox-background-color:var(--dropdown-background-color, white);	
			}
		


	</style>

	<template>
		<paper-menu-button vertical-offset=[[verticalOffset]] horizontal-offset=[[horizontalOffset]]>
    		<paper-button noink class="button flex dropdown-trigger self-center">
				<span class="flex" id="category">{{selectedCategory.value}}</span>
				<iron-icon icon="icons:arrow-drop-down"></iron-icon>
    		</paper-button>
        	
			<paper-listbox class="dropdown-content flex" attr-for-selected='label' selected="{{selectedCategory}}">

				<template is='dom-repeat' items='{{options}}'>
					<paper-item label='{{item}}'>{{item.value}}</paper-item>
				</template>
			</paper-listbox>
		</paper-menu-button>
	</template>

	<script>

		Polymer ({
			is:'aq-dropdown',
			properties :{
				selectedCategory: {
					type:Object,
					observer: 'selectedIndexChanged',
				},
				options:{
					type:Array,
					observer:'optionsAdded',
				},

				defaultIndex :{
					type:Number,
					value:0,
				},
				verticalOffset: {
					type: Number,
					value: 40,
				},

				horizontalOffset :{
					type:Number,
					value:0,
				},
			},

			optionsAdded() {
				this.selectedCategory = this.options[this.defaultIndex];
			},

			selectedIndexChanged() {
				this.fire('dropdown-changed', {'index':this.selectedCategory.index});
			},

		});
	</script>
</dom-module>