<link rel='import' href='../../../bower_components/vaadin-icons/vaadin-icons.html'>
<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>

<dom-module id='aq-pagination'>
	
	<style>
		#descriptor{
			min-width:100px;
			text-align: center;
		}

	</style>
	<template>
		<div id="container" class="layout horizontal">
			<paper-icon-button noink disabled = "[[!isPreviousPageActive(currentPage)]]" on-tap="onFirstPage" icon="vaadin-icons:angle-double-left">
			</paper-icon-button>

			<paper-icon-button noink disabled = "[[!isPreviousPageActive(currentPage)]]"  on-tap="onPreviousPage" icon="vaadin-icons:angle-left">
			</paper-icon-button>

			<div id='descriptor' class="self-center">PAGE [[currentPage]]</div>	
			
			<paper-icon-button noink disabled = "[[!isNextPageActive(currentPage, pageCount)]]" on-tap="onNextPage" icon="vaadin-icons:angle-right"></paper-icon-button>

			<paper-icon-button noink disabled = "[[!isNextPageActive(currentPage, pageCount)]]" on-tap="onLastPage" icon="vaadin-icons:angle-double-right">
			</paper-icon-button>
		</div>
	</template>

	<script>
		Polymer({
			is:'aq-pagination',

			properties:{
				currentPage: {
					type:Number,
					value:1,
					notify:true,
					readOnly:false,
				},

				pageCount:{
					type:Number,
				},

				perPage: {
					type:Number,
				},
			},

			onFirstPage() {
				this.currentPage = 1;
			},

			onLastPage() {
				this.currentPage = this.pageCount;
			},

			onPreviousPage() {
				if (this.currentPage > 1) {
					this.currentPage--;
				}
			},

			onNextPage() {
				if (this.currentPage < this.pageCount) {
					this.currentPage++;
				}
			},

			isNextPageActive(currentPage, pageCount){
				return currentPage < pageCount;
			},

			isPreviousPageActive(currentPage){
				return this.currentPage > 1;
			},

		})
	</script>
</dom-module>