<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<dom-module id='aq-portwidth-detector'>
	<template>
			<iron-media-query query="(min-width: [[computeWidthQuery(1101, offset)]]px)" query-matches="{{superWide}}"></iron-media-query>

	        <iron-media-query query="(min-width: 901px) and (max-width: 1100px)" query-matches="{{wide}}">
	        </iron-media-query>

	        <iron-media-query query="(min-width: 701px) and (max-width:900px)" query-matches="{{semiWide}}"></iron-media-query>
	      	
	      	<iron-media-query query="(min-width: 501px) and (max-width: 700px)" query-matches="{{narrowWide}}"></iron-media-query>
	      
	        <iron-media-query query="(min-width:300px) and (max-width:500px)" query-matches="{{narrow}}"></iron-media-query>
        </template>

         <!--iron-media-query query="(min-width: 0px)" query-matches="{{veryNarrow}}"></iron-media-query-->
	</template>
	<script>
		Polymer({
			is: 'aq-portwidth-detector',

			properties: {
				superWide: {
					type: Boolean,
					value: true,
				},

				wide: {
					type: Boolean,
					value: true,
				},

				semiWide: {
					type: Boolean,
					value: true,
				},

				narrowWide: {
					type: Boolean,
					value: true,
				},

				narrow: {
					type: Boolean,
					value: true,
				},

				width: {
					type: Object,
					notify: true,
				},

				offset: {
					type:Number,
					value: 0,
				},
				
			},

			observers:['_widthChanged(narrow, narrowWide, semiWide, wide, superWide)'],

			attached: function() {
				this.width = {"narrow":this.narrow,
							"narrowWide":this.narrowWide, 
							"semiWide":this.semiWide, 
							"wide":this.wide, "superWide":this.superWide};
			},

			computeWidthQuery: function(val, offset) {
				return val + offset
			},

			_widthChanged: function(narrow, narrowWide, semiWide, wide, superWide) {
				var obj = {"narrow":narrow, 
							"narrowWide":narrowWide, 
							"semiWide":semiWide, 
							"wide":wide, "superWide":superWide};

				this.width = {};
				this.width = obj;
			}



		});
	</script>
</dom-module>