<link rel="import" href="../../../../bower_components/iron-media-query/iron-media-query.html">

<dom-module id='aq-portwidth-detector'>
	<template>
		<iron-media-query query="(min-width: 1250px)" query-matches="{{superWide}}"></iron-media-query>

        <iron-media-query query="(min-width: 800px) and (max-width: 1249px)" query-matches="{{wide}}">
        </iron-media-query>

        <iron-media-query query="(max-width: 800px)" query-matches="{{semiWide}}"></iron-media-query>
      	
      	<iron-media-query query="(max-width: 640px)" query-matches="{{narrowWide}}"></iron-media-query>
      
        <iron-media-query query="(max-width:560px)" query-matches="{{narrow}}"></iron-media-query>

         <!--iron-media-query query="(min-width: 0px)" query-matches="{{veryNarrow}}"></iron-media-query-->
	</template>
	<script>
		Polymer({
			is: 'aq-portwidth-detector',

			properties: {
				superWide: {
					type: Boolean,
					value: true,
					//notify: true,
				},

				wide: {
					type: Boolean,
					value: true,
					//notify: true,
				},

				semiWide: {
					type: Boolean,
					value: true,
					//notify: true,
				},

				narrowWide: {
					type: Boolean,
					value: true,
					//notify: true,
				},

				narrow: {
					type: Boolean,
					value: true,
					//notify: true,
				},

				width: {
					type: Object,
					//value: {},
					notify: true,
				},
			},

			observers:['_widthChanged(narrow, narrowWide, semiWide, wide, superWide)'],

			attached: function() {
				this.width = {"narrow":this.narrow,
							"narrowWide":this.narrowWide, 
							"semiWide":this.semiWide, 
							"wide":this.wide, "superWide":this.superWide};
			},

			_widthChanged: function(narrow, narrowWide, semiWide, wide, superWide) {
				var obj = {"narrow":narrow, 
							"narrowWide":narrowWide, 
							"semiWide":semiWide, 
							"wide":wide, "superWide":superWide};

				this.width = {};
				this.width = obj;
			}



		});
	</script>
</dom-module>