<link rel='import' href='../../../bower_components/iron-signals/iron-signals.html'>
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>

<link rel='import' href='./aq-web-socket.html'>
<link rel="import" href='./aq-check-authentication.html'>

<dom-module id='aq-socket-handler'>
	<template>
		<iron-ajax
	        url=""
	        method='GET'
	        id='getBacktestQuery'
	        handle-as="json"
	        on-response="onGetBacktestSuccess"
	        on-error="onGetBacktestError"
	        headers='{{header}}'
	        debounce-duration="300">
        </iron-ajax>
		
		<iron-signals on-iron-signal-backtest-completed='onBacktestCompleted'>
        </iron-signals>

     	<iron-signals on-iron-signal-backtest-exception='onBacktestException'>
        </iron-signals>

		<aq-check-authentication id='authItem'></aq-check-authentication>

		<aq-web-socket 
          url=""
          id="webSocketConn"
          json
          on-open="_onOpen"
          on-message="_onMessage"
          on-error="_onError">
      	</aq-web-socket>

	</template>

	<script>
		Polymer({
			is: 'aq-socket-handler',

			properties :{
			 	WSEndPoint:String,

				wsRequests: {
					type: Array,
					value: []
				},

				backtests:{
		            type:Object,
		            value:{},
	          	},

	          	backtestId: String,

			},
			
	        _onOpen: function(e) {
	            for(var i=0;i<this.wsRequests.length;i++) {
	                var req = this.wsRequests[i];
	                this.$.webSocketConn.send(req);
	            }

	            this.set('wsRequests',[]);
	        },

	        _onMessage: function(e) { 
	            var backtestId = e.detail.backtestId;
	            if (!this.backtests[backtestId]) {
	              	return;
	            }
	            
	            var response = e.detail;
	            this.backtests[backtestId].data[response.index] = response.data; 

	            //this.debounce('sasas', function() {this.sendDataNew(backtestId);}, 3000);

	            /*this.debounce('sendData', 
	            	function() {
	            			//stitch the data
	                  	var chunkedData = JSON.parse(JSON.stringify(this.backtests[backtestId].data));
	                  	var stitchedData = [];
	                  	Object.keys(chunkedData).sort().forEach(index => {
                  			chunkedData[index].forEach(item => {
                  				//console.log(item);
                  				stitchedData.push(item);
                  			});
	                  	});

	            		this.sendDataNew(backtestId, stitchedData);
	            	}, 2000
            	);*/

	        },

	        _onError: function(e) {

	        },

	        _onClose: function(e) {
	        	//Connect again
	        	if(e.code == 1006) {
	            	//In case of unknown close, subscribe again
	            	console.log("Websocket closed for unknown reason!!");
	            	this.subscribeAllRequest();	
            	} 
	        },

	        subscribeAllRequest: function() {
         		if(this.backtests) {
         			Object.keys(this.backtests).forEach(backtestId => {
         				if(this.backtests[backtestId].subscription) {

         					this.sendDataNew(backtestId);
         					
         					var msgForWS = {'aimsquant-token': this.$.authItem.getToken(),
		                  		action: 'subscribe-backtest',
		                  		backtestId: backtestId};

		                  	if(this.$.webSocketConn.isOpen()) {
		                  		this.$.webSocketConn.send(msgForWS);
		                  	} else {
		                  		this.wsRequests.push(msgForWS);
		                  	}	
         				}
         			});
         		}

         		//If the web-socket was closed,
         		// connect and send all requests
         		if(this.$.webSocketConn.isClosed()) {
         			this.$.webSocketConn.open();
     			}
	        },

	        subscribeOneRequest: function(backtestId) {
	        	if(this.backtests[backtestId].subscription) {
 					var msgForWS = {'aimsquant-token': this.$.authItem.getToken(),
                  		action: 'subscribe-backtest',
                  		backtestId: backtestId};

                  	if(this.$.webSocketConn.isOpen()) {
                  		this.$.webSocketConn.send(msgForWS);
                  	} else {
                  		this.wsRequests.push(msgForWS);
                  		this.$.webSocketConn.open();
                  	}	
 				}
 				
	        },

	        openConnection: function() {
	          	var WSEndPoint = new Polymer.IronMetaQuery({key: 'WSEndPoint'}).value;
	          	this.$.webSocketConn.url = WSEndPoint;

	          	this.$.webSocketConn.open();
	        },

            handleExecution: function(backtestId) {
            	if(this.$.authItem.checkHasToken()) {
		            //Send message to web socket for execution
		            var msgForWS = {'aimsquant-token': this.$.authItem.getToken(),
		                  action: 'exec-backtest',
		                  backtestId: backtestId};

		            this.backtestId = backtestId

		            //Set subscription to true
		            this.backtests[backtestId] = {data:[], subscription:true,bulksent:false, currentIndex:0};

		            //console.log(this.backtests);

		            //Also send data(by default)
		            this.sendDataNew(backtestId);

		            //check if socket connection is open
		            if (this.$.webSocketConn.isOpen()) {
		                this.$.webSocketConn.send(msgForWS);  
		            } else if(this.$.webSocketConn.isClosed()) {    
		                this.push(wsRequests, msgForWS);
		                this.$.webSocketConn.open();
		            } else {
		                this.push(wsRequests, msgForWS);
		            }
	            }
	        },

	        handleSubscription: function(backtestId) {
	          	if(this.backtests[backtestId]) { 
		            this.backtests[backtestId].subscription = true;
		            this.backtests[backtestId].bulksent = false;
		            this.backtests[backtestId].currentIndex = 0;
		            this.backtests[backtestId].data = {};
		            
		            this.subscribeOneRequest(backtestId);
		            this.sendDataNew(backtestId);
        	  	}
	        },

	        handleUnsubscription: function(backtestId) {   
	          	if(this.backtests[backtestId]) {
              		this.backtests[backtestId].subscription = false;
	              	this.backtests[backtestId].bulksent = false;
	              	delete this.backtests[backtestId].currentIndex;
	              	this.backtests[backtestId].currentIndex = 0;
	              	this.backtests[backtestId].data = {};
	          	}
	        },

	        fetchRealtimeData: function(backtestId) {
	        	
	        	if(this.$.authItem.checkHasToken()) {
        	      	this.header = this.$.authItem.getHeader();
                  	
                  	var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
          			
                  	this.$.getBacktestQuery.url = APIEndPoint+'/backtest/'+backtestId+'?fields=status realtimeOutput';
                  	this.$.getBacktestQuery.generateRequest();
              	}
	        },

	        sendDataNew: function(backtestId) {
	        	var timeGap = 3000;
	            var maxLimit = 100;
	            	
	            if(this.backtests[backtestId]) {
	                if(this.backtests[backtestId].subscription) {
	                  
                  		var currentIndex = this.backtests[backtestId].currentIndex;

	            		var stitchedData = this._stitchData(backtestId);

	                  	var currentLength = stitchedData.length;
                	  	if(currentIndex <  currentLength && currentLength > 0) {  
                      		var j = 0;
                		  	for(var i=currentIndex; i<currentLength && j<=maxLimit ; i++) { 
	                          	var dataPoint = stitchedData[i];
                        	  	this.fire('iron-signal',{name:'point-data', data:dataPoint});
	                          	this.backtests[backtestId].currentIndex = i+1;
	                          	j++;
	                      	}
	                  	}

		                this.async(function(){this.sendDataNew(backtestId);}, timeGap);
	                }
	            }
	        },

	        _stitchData: function(backtestId) {
	        	//stitch the data
              	var chunkedData = JSON.parse(JSON.stringify(this.
              		backtests[backtestId].data));
              	var stitchedData = [];
              	var count = 0;
              	
              	for(var i=0;i<chunkedData.length;i++){
          			stitchedData = stitchedData.concat(chunkedData[String(i)]);
              	}

              	return stitchedData;
          	},

	        // Updates every 1 seconds and updates maximum of 200 points at once.
	        //NOT IN USE
	        sendDataSlowly: function(backtestId) {
	            var timeGap = 1000;
	            var maxLimit = 200;
	            
	            if(this.backtests[backtestId]) {
	                if(this.backtests[backtestId].subscription) {
	                  
	                  	var currentIndex = this.backtests[backtestId].currentIndex;
	                  	var currentLength = this.backtests[backtestId].data.length;
	                  
	                  	if(currentIndex <  currentLength && currentLength > 0) {  
                    	  	var j = 0;
	                      	for(var i=currentIndex; i<currentLength && j<=maxLimit ; i++) { 
                          		var dataPoint = this.backtests[backtestId].data[i];
                          		this.fire('iron-signal',{name:'point-data', data:dataPoint});
                          		this.backtests[backtestId].currentIndex = i+1;
                          		j++;
	                      	}
	                  	}
	                  
	                  this.async(function(){this.sendDataSlowly(backtestId);}, timeGap);

	                }
	            }
	        },

	        //LONG POLLING NOT WORKING OUT too(too slow and too many db interactions)
         	sendData: function(backtestId) {
             	var maxLimit = 200;
	           
	            if(this.backtests[backtestId]) {
	                if(this.backtests[backtestId].subscription) {
	                  
	                  var currentIndex = this.backtests[backtestId].currentIndex;
	                  var currentLength = this.backtests[backtestId].data.length;
	                  
	                  if(currentIndex <  currentLength && currentLength > 0) {  
	                      var j = 0;
	                      for(var i=currentIndex; i<currentLength; i++) { 
	                          var dataPoint = this.backtests[backtestId].data[i];

	                          this.fire('iron-signal',{name:'point-data', data:dataPoint});
	                          this.backtests[backtestId].currentIndex = i+1;
	                          j++;
	                      }
	                  }
	                  
	                  //this.async(function(){this.sendDataSlowly(backtestId);}, timeGap);

	                }
	            }
	        },

            onBacktestCompleted: function(e) {
	            if(e.detail) {
	                var backtestId = e.detail.id;

	                if(backtestId) {
	                    //this.sendDataSlowly(backtestId);
	                    //this.manageSubscriptions();
	                    delete this.backtests[backtestId];    
	                }
	            }
	        },

	        onBacktestException: function(e) {
	        	if(e.detail) {
	                var backtestId = e.detail.id;

	                if(backtestId) {
	                    //this.sendDataSlowly(backtestId);
	                    //this.manageSubscriptions();
	                    delete this.backtests[backtestId];    
	                }
	            }
	        },

	        manageSubscriptions: function(){ 
	          	if(Object.keys(this.backtests).length > 0) {
	              	for (var backtestId in this.backtests) {

	                  	//continue with still subscribed
	                  	if(this.backtests[backtestId].subscription){
	                    	break;
	                  	}

	                  	if(this.$.authItem.checkHasToken()) {
	            	      	this.header = this.$.authItem.getHeader();
	                      	this.$.getBacktestQuery.url = this.computeGetBacktesturl(backtestId);
	                      	this.$.getBacktestQuery.generateRequest();
	                  	} else {
	                	    this.gotoSignin();
	            	  	}
	     		 	} 
	          	}

	          	this.async(this.manageSubscriptions, 60000);
	        },

	        onGetBacktestSuccess: function(e){
	          		
	    	  	var response = e.detail.response;	

	    	  	var backtestId = response._id;
	      	    if (this.backtests[backtestId]) {
	      	    	if(response.realtimeOutput) {
	      	    		this.backtests[backtestId].data = [];
	      	    		this.backtests[backtestId].data = response.realtimeOutput;

	            		this.sendData(backtestId);
            		}           

	      	    	var status = response.status;
	      	     	if(status == "complete") {
	      	    		//this.fire('iron-signal',{name:'backtest-completed', id: this.backtests[backtestId]});
      	    		} else if(status=="exception") {
      	    			return; 
      	    			//this.fire('iron-signal',{name:'backtest-exception', id: this.backtests[id], type: 1});
  	    			}
		            
	          	} 
	        },

	        onGetBacktestError: function(e){
	            if(e.request.response.id) {
	          		var backtestId = e.request.response.id; 
	          		delete this.backtests[backtestId];    
	            }
	        },

		});
	</script>
</dom-module>