<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<dom-module id="aq-tags-input-container">
    <template>
        <style include="iron-flex iron-flex-alignment iron-positioning">
            ::content ul li {
                float: left;
            }

            ::content input {
                height: 32px;
                line-height: 46px;
                border: 0;
                margin: 0;
                padding-left: 10px;
                border: 1px solid #e5e5e5;
                font-size: 14px;
                background-color: #fff;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
                transition: all 0.4s ease-in-out;
                display: inline-block;
            }

            ::content .tags-container {
                padding: 0;
                margin: 0;
                overflow-y: scroll;
                width: 70%;
                @apply(--layout-horizontal);
                margin-top: 5px;
            }

            ::content .tags-header {
                font-size: 0.8em;
                color: #727272;
            }

            
        </style>
        <div class="tagsInputContainer layout horizontal">
            <content></content>
        </div>
    </template>
    <script>
        Polymer({
            is: "aq-tags-input-container"
        })
    </script>
</dom-module>