<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/app-router/app-router.html'>

<link rel="import" href="../components/aq-toolbar.html">
<link rel="import" href="../components/community/aq-community-home.html">
<link rel="import" href="../components/community/aq-community-postdetail.html">
<link rel="import" href="../components/community/aq-community-createpost.html">

<dom-module id="aq-community-main">

  <template>
     <app-router mode="hash" trailingSlash="ignore">
        <app-route path="/dashboard/community" element='aq-community-home' bindrouter=""></app-route>
        
        <app-route path="/dashboard/community/create" element='aq-community-createpost' bindrouter=""></app-route>

        <app-route path="/dashboard/community/create/:attachedBacktestId" element='aq-community-createpost' bindrouter=""></app-route>

        <app-route path="/dashboard/community/:threadId" element='aq-community-postdetail' bindrouter="" onUrlUpdate="noop"></app-route>
       
     </app-router>
  </template>

  <script>
    Polymer ({
      is: 'aq-community-main',

      listeners:{
        'postdetail-action':'onDetail',
      },

      onDetail: function(e) {
        e.stopPropagation();
        e.preventDefault();
        console.log("Opening");
        this.router.go('/dashboard/community/585e5d206d66e018ac82897e');
      },


    });
  </script>

</dom-module>
