<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/iron-pages/iron-pages.html'>

<link rel='import' href='../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../bower_components/app-route/app-location.html'>
<link rel='import' href='../../bower_components/app-route/app-route-converter.html'>

<link rel="import" href="../components/aq-toolbar.html">
<link rel="import" href="../components/community/aq-community-home.html">
<link rel="import" href="../components/community/aq-community-postdetail.html">
<link rel="import" href="../components/community/aq-community-createpost.html">

<dom-module id="aq-community-main">

  <template>

    <aq-community-home></aq-community-home>
    <aq-community-postdetail></aq-community-postdetail>
    <aq-community-createpost></aq-community-createpost>

  </template>

  <script>
    Polymer ({
      is: 'aq-community-main',

      properties:{
        subrouteData:{
          type:Object,
          //observer:'_subrouteDataChanged',
        },
      },

      listeners:{
        'postdetail-action':'onDetail',
      },

      attached: function() {
        //console.log(this.routeData);
        
        //console.log(this.subroute);
       // console.log(this.path);
        //console.log(this.queryParams);
        //console.log(this.newroute);
       // console.log(this.subrouteData);
      },

      isObjectEmpty: function(routeData) {
        
        if(routeData) {
          return !(Object.keys(routeData).length > 0);
        }

        //console.log("Wohooooo");
        return true;
      },

      hasTail: function(tail) {
          if (tail && tail.path) {
            return tail.path.length > 0;
          }

          return false;
      },

      _routeDataChanged: function(e) {

      },

      _subrouteDataChanged: function(e) {
        //console.log("subrouteData changed");
        //console.log(e);
      },

      getBacktestId: function(backtestId){
        if (backtestId) {
          return backtestId;
        }

        return "";
      },

      hasRouteData: function(routeData) {
        return !this.isObjectEmpty(routeData);
      },

      isCommunityHomeActive: function(active, tail) {
          return active && !this.hasTail(tail);
      },

    });
  </script>

</dom-module>
