<link rel='import' href='../../bower_components/iron-pages/iron-pages.html'>
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../bower_components/app-route/app-location.html'>

<link rel="import" href="./aq-home-main.html">
<link rel="import" href="./aq-editor-main.html">
<link rel="import" href="./aq-analyze-main.html">
<link rel="import" href="./aq-community-main.html">
<link rel="import" href="./aq-help-main.html">

<link rel="import" href='../components/aq-sidebar.html'>
<link rel="import" href='../components/aq-toolbar.html'>

<link rel="import" href='../components/aq-homepage.html'>
<link rel="import" href='../components/aq-aboutpage.html'>
<link rel="import" href='../components/aq-investmentpage.html'>

<dom-module id="aq-dashboard-main">
  
  <style include="iron-flex iron-flex-alignment iron-positioning">
  </style>

  <style>
    :host {
      transition: transform 0.01s;
      display:block;
    }

    #mainpanel {
      height:100%;
      --background-color: #fafafa;
    }

    .paper-header {
      position: relative;
    }

    #content {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      --height:100%;
      background-color:#f2fbf7;
    }

  </style>

  <template>
        
        <div id="content" class="fit">
          <aq-editor-main></aq-editor-main>
          <aq-analyze-main></aq-analyze-main>
          <aq-community-main></aq-community-main>
          <aq-help-main></aq-help-main>
          <aq-home-main></aq-home-main>

  </template>

  <script>
  Polymer({
    is:'aq-dashboard-main',

    attached: function() {
      this.fire('tabChanged',{tab:1});
    },

  });
  </script>
</dom-module>
