<link rel='import' href='../../bower_components/iron-pages/iron-pages.html'>
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../bower_components/app-route/app-location.html'>

<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-page.html">


<link rel="import" href="./aq-home-main.html">
<link rel="import" href="./aq-editor-main.html">
<link rel="import" href="./aq-analyze-main.html">
<link rel="import" href="./aq-community-main.html">
<link rel="import" href="./aq-help-main.html">

<link rel="import" href='../components/aq-sidebar.html'>
<link rel="import" href='../components/aq-toolbar.html'>

<link rel="import" href='../components/aq-homepage.html'>
<link rel="import" href='../components/aq-aboutpage.html'>
<link rel="import" href='../components/aq-investmentpage.html'>

<dom-module id="aq-dashboard-main">
  
  <style include="iron-flex iron-flex-alignment iron-positioning">
  </style>

  <style>
    :host {
      transition: transform 0.01s;
      display:block;
    }

    #mainpanel {
      height:100%;
      --background-color: #fafafa;
    }

    .paper-header {
      position: relative;
    }

    #content {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      --height:100%;
      background-color:#fafafa;
    }

  </style>

  
  <template>

        <app-location route="{{route}}" use-hash-as-path></app-location>
        <app-route route="{{route}}"
                    pattern="/dashboard/:page"
                    data="{{routeData}}">
        </app-route>

        <div id="content" class="fit">
          <iron-lazy-pages attr-for-selected="page" selected="{{routeData.page}}" fallback-selection="editor">
            <template is="iron-lazy-page" page="editor">
                <aq-editor-main></aq-editor-main>
            </template>

            <template is="iron-lazy-page" page="analyze">
                <aq-analyze-main></aq-analyze-main>
            </template>

            <template is="iron-lazy-page" page="community">
                <aq-community-main></aq-community-main>
            </template>
            
            <template is="iron-lazy-page" page="help">
                <aq-help-main></aq-help-main>
            </template>
          </iron-lazy-pages>
        </div>

  </template>

  <script>
  Polymer({
    is:'aq-dashboard-main',
    
    properties:{

      routeData:{
        type:Object,
      },
      
    },

    attached: function() {
      //this.fire('tabChanged',{tab:1});
    },


  });
  </script>
</dom-module>
