<link rel='import' href='../../bower_components/vaadin-icons/vaadin-icons.html'>

<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../bower_components/app-route/app-location.html'>

<link rel="import" href="../components/common/aq-check-authentication.html">
<link rel="import" href="../components/aq-toolbar.html">
<link rel="import" href="../components/editor/aq-editor-home.html">
<link rel="import" href="../components/editor/aq-editor-edit.html">
<link rel='import' href='../dialog/aq-editor-strategy-preview-dialog.html'>


<dom-module id="aq-editor-main">
  <style  include="iron-flex iron-flex-alignment iron-positioning"></style>
   <style>
    #panel {
      height:100%;
    }
  </style>
  <template>
    <aq-check-authentication id='authItem'></aq-check-authentication>
    
    <aq-editor-home></aq-editor-home>
    <aq-editor-edit></aq-editor-edit>

     <aq-editor-strategy-input-dialog id="strategyCreateDialog" 
                                     header="Create Strategy">
      </aq-editor-strategy-input-dialog>  

      
      <aq-editor-strategy-input-dialog id="strategyCloneDialog" 
                                       header="Clone this Strategy"
                                       strategy-name="[[strategyData.name]]"
                                       strategy-desc="[[strategyData.desc]]">
      </aq-editor-strategy-input-dialog>  

      <iron-ajax 
          url=""
          body="[[strategyData]]" 
          method='POST' 
          id='postStrategyQuery' 
          headers='{{header}}' 
          handle-as="json" 
          on-response="onStrategyCreationResponse" 
          on-error="onStrategyCreationError" 
          debounce-duration="300">
      </iron-ajax>

  </template>

  <script>
    Polymer ({
      is: 'aq-editor-main',

      properties : {
        hasViews: {
          type: Boolean,
          value: true,  
        },

        narrow:{
          type:Boolean,
        },

        showmenu:{
          type:Boolean,
          value:false,
        },

        subview :{
          type:String,
          value:'main',
        },

        strategyData:Object,

        header:Object,

      },

      listeners :{
        'create-action':'createStrategy',
        'newClicked':'openNewDialog',
        'cloneClicked':'openCloneDialog',
        'analyzeClicked':'goToAnalyze',
      },

      isEqual: function(view1, view2) {
        return view1==view2;
      },

      createStrategy: function(e) {
        
        this.strategyData["name"] = e.detail.name;
        this.strategyData["description"] = e.detail.description;

        this.header = this.$.authItem.getHeader();
        var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
        this.$$('#postStrategyQuery').url = APIEndPoint+'/strategy'; 
        this.$$('#postStrategyQuery').generateRequest();
      },

      onStrategyCreationResponse: function(data) {
          //check for error
          var strategyId = data.detail.response._id
          this.fire('rt-changed', {route:'/dashboard/editor/'+ strategyId});
      },

      onStrategyCreationError: function(data) {
          //console.log(data);
      },

      openNewDialog: function() {   
        if(!this.$.authItem.checkHasToken()) {
          this.fire('rt-changed',{route:'/user/signin'});
          return;
        } 

        this.strategyData = {
            "name":"",
            "description":"",
            "language":"julia",
            "type": "",
            "code": "",};

        //Open dialog for permission
        this.$.strategyCreateDialog.open();
      },

      openCloneDialog: function(e) {

        if(!this.$.authItem.checkHasToken()) {
          this.fire('rt-changed',{route:'/user/signin'});
        }
        
        strategy  = e.detail.strategy;
        var newName = strategy.name + "_C";

        this.strategyData = {"name":newName, 
                          "desc" : strategy.description,
                          "code" : strategy.code,
                          "language":strategy.language,
                          "type":strategy.type};
                          
        this.$.strategyCloneDialog.open();
        
      },

      goToAnalyze: function(e) {
        var strategyId = e.detail.id;
        this.fire('rt-changed',{route:'/dashboard/analyze/' + strategyId});
      },

      hasTail: function(tail) {
        if (tail && tail.path) {
          return tail.path.length > 0;
        }

        return false;
      },

      computeCreate: function(params) {
        if (params && params.create) {
          return 1;
        } else {
          return 0;
        }
      },


      isEditorHomeActive: function(active, tail) {
        return active && !this.hasTail(tail);

      }

    });
  </script>

</dom-module>
