<link rel='import' href='../../bower_components/vaadin-icons/vaadin-icons.html'>

<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/app-router/app-router.html'>


<link rel="import" href="../components/aq-toolbar.html">
<link rel="import" href="../components/editor/aq-editor-home.html">
<link rel="import" href="../components/editor/aq-editor-edit.html">
<link rel='import' href='../dialog/aq-editor-strategy-preview-dialog.html'>


<dom-module id="aq-editor-main">
  <style  include="iron-flex iron-flex-alignment iron-positioning"></style>
   <style>
    #panel {
      height:100%;
    }
  </style>
  <template>
     <app-router mode="hash" trailingSlash="ignore">
        <app-route path="/dashboard/editor" element='aq-editor-home' bindrouter=""></app-route>
        <app-route path="/dashboard/editor/:strategyId" element='aq-editor-edit' bindrouter=""></app-route>
     </app-router>

     <aq-editor-strategy-input-dialog id="strategyCreateDialog" 
                                     header="Create Strategy">
      </aq-editor-strategy-input-dialog>  

      
      <aq-editor-strategy-input-dialog id="strategyCloneDialog" 
                                       header="Clone this Strategy"
                                       strategy-name="[[strategyData.name]]"
                                       strategy-desc="[[strategyData.desc]]">
      </aq-editor-strategy-input-dialog>  


      <template is='dom-if' if='{{hasToken}}'>
          <iron-ajax 
            url="[[APIEndPoint]]/strategy" 
            body="[[strategyData]]" 
            method='POST' 
            id='postStrategyQuery' 
            headers='{{header}}' 
            handle-as="json" 
            on-response="onStrategyCreationResponse" 
            on-error="onStrategyCreationError" 
            last-response="{{ajaxResponse}}" 
            debounce-duration="300">
          </iron-ajax>
      </template>

  </template>

  <script>
    Polymer ({
      is: 'aq-editor-main',

      properties : {
        hasViews: {
          type: Boolean,
          value: true,  
        },

        narrow:{
          type:Boolean,
        },

        showmenu:{
          type:Boolean,
          value:false,
        },

        subview :{
          type:String,
          value:'main',
        },

        hasToken:Boolean,

        strategyData:Object,

        APIEndPoint:String,

      },

      listeners :{
        'create-action':'createStrategy',
        'newClicked':'openNewDialog',
        'cloneClicked':'openCloneDialog',
        'analyzeClicked':'goToAnalyze',
      },

      ready: function() {

        var x = localStorage.getItem('my-app-storage');
        var user = JSON.parse(x).user;
        if (user.token) {
          this.header = {
            "aimsquant-token": user.token,
            "Content-Type": "application/json"};  
        }

        this.hasToken = (user.token && user.token!="") ? true : false;
        this.APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
      },


      isEqual: function(view1, view2) {
        return view1==view2;
      },

      createStrategy: function(e) {  
        //Update names after permission to create
        this.strategyData["name"] = e.detail.name;
        this.strategyData["description"] = e.detail.description;
        this.$$('#postStrategyQuery').generateRequest();
      },

      onStrategyCreationResponse: function(data) {
          //check for error
          var strategyId = data.detail.response._id
          this.router.go('/dashboard/editor/'+ strategyId)
      },

      onStrategyCreationError: function(data) {
          console.log(data);
      },

      openNewDialog: function() {   

        if(!this.hasToken) {
          localStorage.setItem('lastRequest',{path:'/dashboard/createstrategy'});
          this.router.go('/user/signin');
          return;
        } 

        this.strategyData = {
            "name":"",
            "description":"",
            "language":"python",
            "type": "",
            "code": "",};

        //Open dialog for permission
        this.$.strategyCreateDialog.open();
      },

      openCloneDialog: function(e) {

        if(!this.header) {
          this.router.go('/user/signin');
        }
        
        strategy  = e.detail.strategy;
        var newName = strategy.name + "_C";

        this.strategyData = {"name":newName, 
                          "desc" : strategy.description,
                          "code" : strategy.code,
                          "language":strategy.language,
                          "type":strategy.type};

        this.$.strategyCloneDialog.open();
        
      },

      goToAnalyze: function(e) {
        var strategyId = e.detail.id;
        this.router.go('/dashboard/analyze/' + strategyId);
      }

    });
  </script>

</dom-module>
