<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel="import" href="../components/aq-toolbar.html">
<link rel="import" href="../components/help/aq-help-home.html">

<dom-module id="aq-help-main">
  <style  include="iron-flex iron-flex-alignment iron-positioning"></style>
   <style>
    #panel {
      height:100%;
      
    }
  </style>
  <template>
      <aq-help-home current-path=[[currentPath]]></aq-help-home>
  </template>

  <script>
    Polymer ({
      is: 'aq-help-main',

      properties : {
        hasViews: {
          type: Boolean,
          value: true,  
        },

        narrow:{
          type:Boolean,
        },

        showmenu:{
          type:Boolean,
          value:false,
        },

        currentPath: Array,

      },

    });
  </script>

</dom-module>
